<div class="container">
  <!--------------------------------TOOLS---NAVBAR---------------------------------------------------------------------->
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary">
        <a class="navbar-brand text-primary bg-white rounded">{{formTitles.tools}} <i class="fas fa-thumbs-up"></i></a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="updateFieldsValuesBtnClick()">Update Fields & Values</button>
        </div>      
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-danger rounded ml-auto" (click)="changeShowErrorMessageBtnClick()"><span><i class="fas fa-times"></i></span></button>       
        </div>    
      </nav>
    </div>
  </div>
  <div class="row">     
    <div class="col" [style.top.px]="globalVar.topData" *ngIf="this.globalVar.showErrorMsg2">
      <nav class="navbar navbar-expand-lg navbar-light bg-white rounded border border-danger">          
        <a class="navbar-brand text-center text-danger bg-white rounded border border-danger mx-auto">
          <span><i class="fas fa-arrow-right"></i></span>{{this.globalVar.errorMsg2}}
        </a>
        <button class="btn btn-outline-danger rounded ml-auto" (click)="changeShowErrorMessageBtnClick()"><span><i class="fas fa-times"></i></span></button>       
      </nav>
    </div>
  </div> 
  <div class="row" >
    <div class="col" [style.top.px]="globalVar.topData">
        <div class="card bg-white text-primary rounded border border-primary text-center">
            <div class="card-header">'...Tools...ERROR ...'</div>
            <div class="card-body">
              <div class="container">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="numero1"> Número 1</label>
                        <input type="number" formControlName="numero1" class="form-control" 
                       
                        (blur)='setTwoNumberDecimal($event)'/>
                       
                        <p>Value -->{{form.get('numero1').value | number: '1.2-2'}}</p> 
                        <validation-messages [control]="form.controls.numero1"></validation-messages>
                    </div>
                    <div class="form-group">
                      <label for="numero2"> Número 2</label>
                      <input type="number" formControlName="numero2" class="form-control" />
                      <validation-messages [control]="form.controls.numero2"></validation-messages>
                    </div>
                    <div class="form-group">
                      <label for="numero3"> Número 3</label>
                      <input type="number" formControlName="numero3" class="form-control" />
                      <validation-messages [control]="form.controls.numero3"></validation-messages>
                    </div>
                    <div class="form-group">
                      <label for="numero4"> Número 4</label>
                      <input type="number" formControlName="numero4" class="form-control" />
                      <validation-messages [control]="form.controls.numero4"></validation-messages>
                    </div>
                    <div class="form-group">
                      <label for="name"> Name</label>
                      <input type="text" formControlName="name" class="form-control" />
                      <validation-messages [control]="form.controls.name"></validation-messages>
                  </div>
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" formControlName="emailId" class="form-control" />
                        <validation-messages [control]="form.controls.emailId"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" formControlName="phone" class="form-control" />
                        <validation-messages [control]="form.controls.phone"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>Marks</label>
                        <input type="text" formControlName="marks" class="form-control" />
                        <validation-messages [control]="form.controls.marks"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>DOB</label>
                        <input type="text" formControlName="dob" placeholder="2001-05-02" class="form-control" />
                        <validation-messages [control]="form.controls.dob"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" formControlName="website" placeholder="http://www.coding4developers.com"
                            class="form-control" />
                        <validation-messages [control]="form.controls.website"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control" />
                        <validation-messages [control]="form.controls.password"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" />
                        <validation-messages [control]="form.controls.confirmPassword"></validation-messages>
                    </div>
            
                    <div class="form-group">
                        <button class="btn btn-primary" (click)="save(form.value)">
                          <!--
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          -->
                            Register
                        </button>
                    </div>
                </form>
            </div>
              <p>{{this.globalVar.errorMessage}}</p>     
              <p>{{this.globalVar.errorMsgType}}</p>
              <p>{{this.globalVar.errorStatus}}</p>
              <p>{{this.globalVar.errorError}}</p>    
              <p>{{this.globalVar.errorMsg1}}</p>
              <p>{{this.globalVar.errorMsg2}}</p>
            </div>    
            <div class="card-footer">'...Tools....ERROR ...'</div>      
        </div>
    </div>
  </div>
</div>