<div class="container">
  <!--------------------------------DBBARXXS---NAVBAR---------------------------------------------------------------------->
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary">
        <a class="navbar-brand text-primary bg-white rounded">{{formTitles.bares}} <i class="fas fa-thumbs-up"></i></a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowBaresListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
        </div>
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="changeCurrentBarBtnClick()"><span><i class="fas fa-exchange-alt"></i></span></button>
        </div>     
      </nav>
    </div>
  </div>
  <!--------------------------------DBBARXXS---LIST  LIST2 ---------------------------------------------------------------------->
  <div class="row" *ngIf="showBaresList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-bares rounded border border-primary">
        <a class="navbar-brand text-primary bg-bares rounded">{{formTitles.baresList}}<i class="fas fa-arrow-alt-circle-right"></i></a>  
        <a class="navbar-brand text-danger  bg-bares rounded" style="font-size:16px;font-weight:900">{{formTitles.baresTotalString}}</a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-8" (click)="createBarBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>        
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="searchBaresBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllBaresBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>
      <!--------------------------------DBBARXXS---LIST ---------------------------------------------------------------------->
      <div class="card bg-white text-black rounded border border-dark" *ngIf="showBaresList">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-bares" *ngIf="showSearchBares">
                <th>-</th>
                <th>-</th>
                <th><input id="barDate"       name="barDate"        [(ngModel)]="searchBar.barDate"
                    type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
                <th><input id="barName"       name="barName"        [(ngModel)]="searchBar.barName"
                    type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="barCIF"        name="barCIF"         [(ngModel)]="searchBar.barCIF"
                    type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="barDbUrl"      name="barDbUrl"       [(ngModel)]="searchBar.barDbUrl"
                    type="text" class="input-group-text mr-auto" style="width:150px;text-align:left;"></th>
                <th><input id="barDbName"     name="barDbName"      [(ngModel)]="searchBar.barDbName" 
                    type="text" class="input-group-text mr-auto" style="width:60px;text-align:left;"></th>
                <th><input id="barDbUserName" name="barDbUserName"  [(ngModel)]="searchBar.barDbUserName" 
                    type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>                
              </tr>
              <tr class="bg-listheading">
                <th>{{formLabels.id | slice:0:5}}</th>               
                <th [class.active]="orderBaresList === 'barId'"          (click)="setOrderBtnClick('barId')">
                  {{formLabels.barId | slice:0:5}}
                  <span [hidden]="!reverseBaresList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseBaresList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderBaresList === 'barDate'"        (click)="setOrderBtnClick('barDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">{{formLabels.barDate | slice:0:8}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>
                <th [class.active]="orderBaresList === 'barName'"        (click)="setOrderBtnClick('barName')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.barName | slice:0:10}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>
                <th [class.active]="orderBaresList === 'barCIF'"         (click)="setOrderBtnClick('barCIF')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.barCIF | slice:0:15}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>
                <th [class.active]="orderBaresList === 'barDbUrl'"       (click)="setOrderBtnClick('barDbUrl')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.barDbUrl | slice:0:30}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>
                <th [class.active]="orderBaresList === 'barDbName'"      (click)="setOrderBtnClick('barDbName')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.barDbName | slice:0:10}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th> 
                <th [class.active]="orderBaresList === 'barDbUserName'"  (click)="setOrderBtnClick('barDbUserName')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.barDbUserName | slice:0:15}}
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>          
                <th [class.active]="orderBaresList === 'barStatus'"      (click)="setOrderBtnClick('barStatus')" 
                  class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                  <span [hidden]="!reverseBaresList">▼</span>  <span [hidden]="reverseBaresList">▲</span> </th>                
                <th>{{formTitles.edit   | slice:0:6}}</th>
                <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.delete | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let bar of bares | orderBy: orderBaresList:reverseBaresList:caseInsensitive | filterBy: searchBar ; let i = index">
                <td class="text-right">   {{i                       | number:'1.0-0'}}</td>
                <td class="text-right">   {{bar.barId               | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900"> {{bar.barDate | date:'dd-MM-yyyy'}}</td>
                <td class="text-left" style="font-weight:900">                {{bar.barName | slice:0:10}}</td>
                <td class="text-left" >   {{bar.barCIF              | slice:0:15}}</td>
                <td class="text-left" >   {{bar.barDbUrl            | slice:0:30}}</td>
                <td class="text-left" >   {{bar.barDbName           | slice:0:10}}</td>
                <td class="text-left" >   {{bar.barDbUserName       | slice:0:15}}</td>
                <td *ngIf="bar.barStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!bar.barStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editBarBtnClick(bar)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockBarBtnClick(bar)"> 
                        <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneBarBtnClick(bar)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>  

</div> 