<!--------------------------------FIELDS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">    
  <div class="col" *ngIf="showCreateField || showEditField">
    <nav class="navbar navbar-expand-lg navbar-light text-danger bg-fields rounded border border-primary">
      <a class="navbar-brand text-danger bg-fields rounded" *ngIf="showCreateField">{{formTitles.fieldCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-danger bg-fields rounded" *ngIf="showEditField">{{formTitles.fieldEdit}}<i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" *ngIf="showCreateField" (click)="createFieldBtnClick(fieldForm)" [disabled]="fieldForm.invalid">
          <span><i class="fas fa-save">        </i></span></button>    
        <button class="btn btn-outline-danger rounded mr-2" *ngIf="showEditField" (click)="updateFieldBtnClick(fieldForm)" [disabled]="fieldForm.invalid">
          <span><i class="fas fa-edit">        </i></span></button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closeFieldsCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="cleanFormFieldBtnClick()">
          <span><i class="fas fa-eraser">        </i></span></button>           
      </div> 
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=fieldForm>
          <div class="form-row">
            <label for="fieldId" class="col-sm-3 col-form-label">{{formLabels.fieldId}}</label>
            <div class="col-sm-9">
              <input id="fieldId" name="fieldId" class="form-control" formControlName="fieldId" type="text" readonly>
            </div>
          </div>
          <div class="form-row">
            <label for="fieldName" class="col-sm-3 control-label">{{formLabels.fieldName}}</label>
            <div class="col-sm-9">
              <select id="fieldName"  name="fieldName" class="form-control" formControlName="fieldName" 
                      appSelectValidator="{{localFieldNamesRecordList[0].value}}">
                <option *ngFor="let fieldName of localFieldNamesRecordList" [value]="fieldName.value"> {{fieldName.value}} </option>
              </select>
              <validation-messages [control]="fieldForm.get('fieldName')"></validation-messages>   
            </div>
          </div>
          <div class="form-row">   
            <label for="fieldExplan" class="col-sm-3 control-label">{{formLabels.fieldExplan}}</label>
            <div class="col-sm-9">
              <input id="fieldExplan" name="fieldExplan" class="form-control" formControlName="fieldExplan" 
                    type="text">
              <validation-messages [control]="fieldForm.get('fieldExplan')"></validation-messages>   
            </div>
          </div>
          <div class="form-row">   
            <label for="fieldValuesString" class="col-sm-3 control-label">{{formLabels.fieldValuesString}}</label>
            <div class="col-sm-9">
              <input id="fieldValuesString" name="fieldValuesString" class="form-control" formControlName="fieldValuesString" 
                    type="text" readonly>
              <validation-messages [control]="fieldForm.get('fieldValuesString')"></validation-messages>   
            </div>
          </div>
          <div class="form-row">            
            <label for="fieldStatus" class="col-sm-3 control-label">{{formLabels.fieldStatus}}</label>            
            <label class="col-2 col-form-label"><span>Bloquear</span></label>
            <div class="custom-control custom-switch">
              <input class="custom-control-input col-2 col-form-label" type="checkbox" id="fieldStatusSwitch" 
                      formControlName="fieldStatus" >
              <label class="custom-control-label col-form-label" for="fieldStatusSwitch">Desbloquear</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--------------------------------FIELD VALUES---CREATE AND EDIT DETAILS FORM AND LIST---------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light text-danger bg-values rounded border border-primary">
      <a class="navbar-brand text-danger bg-values rounded">{{formTitles.valuesList}} <i class="fas fa-long-arrow-alt-right"></i></a>        
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="showCreateValueBtnClick()">
          <span> <i class="fas fa-plus-square"></i></span></button>
      </div>
      <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="deleteAllValuesBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>
    </nav>
    <!--------------------------------FIELD VALUES---LIST---------------------------------------------------------------------->
    <div class="card bg-white text-black rounded border border-dark" *ngIf="showCreateField || showEditField">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-listheading">
                <th>#</th>
                <th>{{formLabels.valueId}}</th>
                <th>{{formLabels.valueName}}</th>
                <th>{{formLabels.valueFieldId}}</th>
                <th>{{formTitles.valuesDelete}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let value of fieldValuesList ; let i = index">
                <td>{{i}}</td>
                <td>{{value.valueId}}</td>
                <td>{{value.valueName}}</td>
                <td>{{value.fieldId}}</td>
                <td> 
                  <button type="button" class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="deleteOneValueBtnClick(value)"><span><i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

 