<div class="container">
  <!--------------------------------FACTS---NAVBAR---------------------------------------------------------------------->
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
        <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary">
          <a class="navbar-brand text-primary bg-white rounded">
            <i class="text-danger text-capitalize font-weight-bold">{{globalVar.currentBar}}...</i><i class="fas fa-long-arrow-alt-right"></i>
            {{formTitles.facts}} <i class="fas fa-thumbs-up"></i></a>
          <div class="btn-group mx-auto" role="group">
              <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowFactsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
          </div>   
          <div class="btn-group mx-auto" role="group">
            <button class="btn btn-outline-primary rounded mr-2" (click)="enterFactsMonthBtnClick()"><span><i class="far fa-calendar-plus"></i></span></button>
          </div>      
          <div class="btn-group ml-auto" role="group">
            <button class="btn btn-outline-danger rounded mr-2" (click)="changeShowFactModelListBtnClick()"><span><i class="far far fa-images"></i></span></button> 
          </div>
        </nav>
    </div>
  </div>

  <!--------------------------------FACTS---LIST---------------------------------------------------------------------->
  <div class="row" *ngIf="showFactsList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-facts rounded border border-primary">
        <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factsListMonth}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factsListMonthString}}<i class="fas fa-long-arrow-alt-right"></i></a>
        <a class="navbar-brand text-primary bg-facts rounded">{{formTitles.factsListYearString}}<i class="fas fa-arrow-alt-circle-right"></i></a>   
        <a class="navbar-brand text-danger  bg-facts rounded mx-auto" style="font-size:16px;font-weight:900">
          {{formTitles.factsTotalString | slice:0:35}}</a> 
        <a class="navbar-brand text-primary bg-facts rounded mx-auto" style="font-size:16px;font-weight:900">
          {{this.formTitles.factsListStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.factsListEnd}}          
        </a> 
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-8" (click)="showCreateFactBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>        
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="showCreateDetailedFactBtnClick()">
            <span><i class="fas fa-search-plus">        </i></span></button>           
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" (click)="selectFactsToShowBtnClick()"><span><i class="fas fa-funnel-dollar"></i></span></button>
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="searchFactsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllFactsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-facts rounded border border-primary" style="font-size:16px" *ngIf="filterFacts">
        <a class="navbar-brand text-danger  bg-facts rounded mr-auto" style="font-size:16px;font-weight:900">
              {{formTitles.factsListFilter | slice:0:35}}<i class="fas fa-arrow-alt-circle-right"></i></a>         
        <a class="navbar-brand text-primary bg-facts rounded mr-auto" *ngIf="selectedProv"        style="font-size:16px">
              {{formLabels.factProvName  | slice:0:20}}<i class="fas fa-long-arrow-alt-right"></i>
              <i class="text-danger" style="font-size:16px;font-weight:900">{{selectedProv        | slice:0:25}}</i></a>
        <a class="navbar-brand text-primary bg-facts rounded mr-auto" *ngIf="selectedFactType"    style="font-size:16px">
              {{formLabels.factTypeL      | slice:0:20}}<i class="fas fa-long-arrow-alt-right"></i>
              <i class="text-danger" style="font-size:16px;font-weight:900">{{selectedFactType    | slice:0:20}}</i></a>
        <a class="navbar-brand text-primary bg-facts rounded mr-auto" *ngIf="selectedPayType"     style="font-size:16px">
              {{formLabels.factPayTypeL   | slice:0:20}}<i class="fas fa-long-arrow-alt-right"></i>
              <i class="text-danger" style="font-size:16px;font-weight:900">{{selectedPayType     | slice:0:20}}</i></a>
        <a class="navbar-brand text-primary bg-facts rounded mr-auto" *ngIf="selectedFactOrNote"  style="font-size:16px">
              {{formLabels.factModelsIsFactOrNote  | slice:0:20}}<i class="fas fa-long-arrow-alt-right"></i>
              <i class="text-danger" style="font-size:16px;font-weight:900">{{selectedFactOrNote  | slice:0:20 }}</i></a>
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-facts" *ngIf="showSearchFacts">
                <th>-</th>               
                <th>-</th>
                <th><input id="sfactDate"     name="sfactDate"     [(ngModel)]="searchFact.factDate"     type="text" 
                  class="input-group-text mx-auto" style="width:90px;text-align:center;"></th>
                <th><input id="sfactProvName" name="sfactProvName" [(ngModel)]="searchFact.factProvName" type="text" 
                  class="input-group-text mr-auto" style="width:90px;text-align:left;"></th>
                <th><input id="sfactNumber"   name="sfactNumber"   [(ngModel)]="searchFact.factNumber"   type="text" 
                  class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>                                 
                <th>-</th>
                <th>-</th>
                <th>-</th>    
                <th><input id="sfactType"     name="sfactType"     [(ngModel)]="searchFact.factType"     type="text" 
                  class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>
                <th><input id="factPayType"   name="sfactPayType"  [(ngModel)]="searchFact.factPayType"  type="text" 
                  class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>                                
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <tr class="bg-listheading">
                <th class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.id | slice:0:8}}</th>
                <th [class.active]="orderFactsList === 'factId'" (click)="setOrderFactBtnClick('factId')" 
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factId         | slice:0:4}}
                  <span [hidden]="!reverseFactsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseFactsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderFactsList === 'factDate'" (click)="setOrderFactBtnClick('factDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">      {{formLabels.factDate       | slice:0:10}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factProvName'" (click)="setOrderFactBtnClick('factProvName')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factProvName   | slice:0:15}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>                
                <th [class.active]="orderFactsList === 'factNumber'" (click)="setOrderFactBtnClick('factNumber')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factNumber     | slice:0:8}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>                 
                <th [class.active]="orderFactsList === 'factNetCost'" (click)="setOrderFactBtnClick('factNetCost')" 
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factNetCost    | slice:0:6}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factTaxes'" (click)="setOrderFactBtnClick('factTaxes')" 
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factTaxes      | slice:0:6}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factTotalCost'" (click)="setOrderFactBtnClick('factTotalCost')" 
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factTotalCost  | slice:0:6}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factType'" (click)="setOrderFactBtnClick('factType')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factType       | slice:0:10}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factPayType'" (click)="setOrderFactBtnClick('factPayType')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factPayType    | slice:0:10}}
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th [class.active]="orderFactsList === 'factStatus'" (click)="setOrderFactBtnClick('factStatus')" 
                  class="mdl-data-table__cell--non-numeric text-left">
                  <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                  <span [hidden]="!reverseFactsList">▼</span>  <span [hidden]="reverseFactsList">▲</span> </th>
                <th>{{formTitles.factEditList | slice:0:6}}</th>
                <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.factDelete | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor = "let fact of facts | orderBy: orderFactsList:reverseFactsList:caseInsensitive | filterBy: searchFact ; let i = index">
                <td class="text-right">   {{i                     | number:'1.0-0'}}</td>
                <td class="text-right">   {{fact.factId           | number:'1.0-0'}}</td>
                <td class="text-left text-primary" style="font-weight:900">    {{fact.factDate     | date:'dd-MM-yyyy'}}</td>
                <td class="text-left" style="font-weight:900">    {{fact.factProvName | slice:0:15}}</td>
                <td class="text-left">    {{fact.factNumber       | slice:0:8}}</td>
                <td class="text-right">   {{fact.factNetCost      | number:'.2-2'}}</td>
                <td class="text-right">   {{fact.factTaxes        | number:'.2-2'}}</td>
                <td class="text-right" style="font-weight:900">   {{fact.factTotalCost| number:'.2-2'}}</td>
                <td class="text-left" >   {{fact.factType         | slice:0:10}}</td>
                <td class="text-left" >   {{fact.factPayType      | slice:0:10}}</td>
                <td *ngIf="fact.factStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!fact.factStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="showEditFactBtnClick(fact)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockFactBtnClick(fact)"> 
                        <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneFactBtnClick(fact)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--------------------------------MODEL FACTS---LIST---------------------------------------------------------------------->
  <div class="row" *ngIf="showFactModelsList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-factModels rounded border border-primary">
        <a class="navbar-brand text-danger bg-factModels rounded "> {{formTitles.factModelsList}} <i class="fas fa-arrow-alt-circle-right"></i>  </a>  
        <a class="navbar-brand text-danger bg-factModels rounded mx-auto" style="font-size:16px;font-weight:900">
          {{formTitles.factModelsTotalString | slice:0:35}}</a> 
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-8" (click)="showCreateFactModelBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>        
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="searchFactModelsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllFactModelsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-factModels" *ngIf="showSearchFactModels"> 
                <th>-</th>
                <th><input id="sFactModelId"       name="sFactModelId"       [(ngModel)]="searchFactModel.factModelsId"       type="text" 
                    class="input-group-text ml-auto" style="width:100px;text-align:right;"></th> 
                <th><input id="sFactModelDate"     name="sFactModelDate"     [(ngModel)]="searchFactModel.factModelsDate"     type="text" 
                    class="input-group-text mx-auto" style="width:100px;text-align:center;"></th>               
                <th><input id="sFactModelName"     name="sFactModelName"     [(ngModel)]="searchFactModel.factModelsName"     type="text" 
                    class="input-group-text mr-auto" style="width:150px;text-align:left;"></th>  
                <th><input id="sFactModelProvName" name="sFactModelProvName" [(ngModel)]="searchFactModel.factModelsProvName" type="text" 
                    class="input-group-text mr-auto" style="width:150px;text-align:left;"></th> 
                <th><input id="sFactModelProvId"   name="sFactModelProvId"   [(ngModel)]="searchFactModel.factModelsProvId"   type="text" 
                  class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>   
                <th><input id="sFactModelFactType" name="sFactModelFactType" [(ngModel)]="searchFactModel.factModelsFactType"type="text" 
                  class="input-group-text ml-auto" style="width:100px;text-align:left;"></th>  
                <th><input id="sFactModelPayType"  name="sFactModelPayType"  [(ngModel)]="searchFactModel.factModelsPayType"   type="text" 
                  class="input-group-text ml-auto" style="width:100px;text-align:left;"></th>  
                <th><input id="sFactModelIsFactOrNote" name="sFactModelIsFactOrNote" [(ngModel)]="searchFactModel.factModelsIsFactOrNote" type="text" 
                  class="input-group-text ml-auto" style="width:100px;text-align:left;"></th>         
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <tr class="bg-listheading">
                <th class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.id               | slice:0:8}}</th>
                <th [class.active]="orderFactModelsList === 'factModelId'" (click)="setOrderFactModelBtnClick('factModelsId')"
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factModelsId      | slice:0:8}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>
                <th [class.active]="orderFactModelsList === 'factModelDate'" (click)="setOrderFactModelBtnClick('factModelsDate')"
                  class="mdl-data-table__cell--non-numeric text-center">      {{formLabels.factModelsDate    | slice:0:8}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th> 
                <th [class.active]="orderFactModelsList === 'factModelName'" (click)="setOrderFactModelBtnClick('factModelsName')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factModelsName    | slice:0:20}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>
                <th [class.active]="orderFactModelsList === 'factModelProvName'" (click)="setOrderFactModelBtnClick('factModelsProvName')" 
                  class="mdl-data-table__cell--non-numeric text-left">        {{formLabels.factModelsProvName | slice:0:20}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>   
                <th [class.active]="orderFactModelsList === 'factModelProvId'" (click)="setOrderFactModelBtnClick('factModelsProvId')" 
                  class="mdl-data-table__cell--non-numeric text-right">       {{formLabels.factModelsProvId  | slice:0:8}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th> 
                <th [class.active]="orderFactModelsList === 'factModelFactType'" (click)="setOrderFactModelBtnClick('factModelsFactType')" 
                  class="mdl-data-table__cell--non-numeric text-left">       {{formLabels.factModelsFactType  | slice:0:16}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>   
                <th [class.active]="orderFactModelsList === 'factModelPayType'" (click)="setOrderFactModelBtnClick('factModelsPayType')" 
                  class="mdl-data-table__cell--non-numeric text-left">       {{formLabels.factModelsPayType  | slice:0:8}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th>  
                <th [class.active]="orderFactModelsList === 'factModelIsFactOrNote'" (click)="setOrderFactModelBtnClick('factModelsNote')" 
                  class="mdl-data-table__cell--non-numeric text-left">       {{formLabels.factModelsIsFactOrNote  | slice:0:8}}
                  <span [hidden]="!reverseFactModelsList">▼</span>  <span [hidden]="reverseFactModelsList">▲</span> </th> 
                <th>{{formTitles.createProvFactModel | slice:0:6}}</th> 
                <th>{{formTitles.factEditList | slice:0:6}}</th>
                <th>{{formTitles.factDelete   | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor = "let factModel of factModels | orderBy: orderFactModelsList:reverseFactModelsList:caseInsensitive | filterBy: searchFactModel ; let i = index">
                <td class="text-right">  {{i                           | number:'1.0-0'}}</td>
                <td class="text-right">  {{factModel.factModelsId       | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900"> {{factModel.factModelsDate  | date:'dd-MM-yyyy'}}</td>
                <td class="text-left text-primary" style="font-weight:900"> {{factModel.factModelsName | slice:0:20}}</td>
                <td class="text-left" style="font-weight:900">    {{factModel.factModelsProvName | slice:0:20}}</td>
                <td class="text-right">  {{factModel.factModelsProvId   | number:'1.0-0'}}</td>
                <td class="text-left">   {{factModel.factModelsFactType | slice:0:16}}</td>
                <td class="text-left">   {{factModel.factModelsPayType  | slice:0:16}}</td>
                <td *ngIf="factModel.factModelIsFactOrNote">Nota</td>
                <td *ngIf="!factModel.factModelIsFactOrNote">Fact</td>
                <td>
                  <button class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="creatProvFactModelBtnClick(factModel)"> <span> <i class="fas fa-search-plus"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="showEditFactModelBtnClick(factModel)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-danger rounded mr-2 btn-sm" (click)="[confirmDeleteOneFactModelBtnClick(factModel)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

