<!--------------------------------FACTS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">
  <div class="col" *ngIf="showCreateFact || showEditFact || showCreateDetailedFact || showEditDetailedFact">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-facts rounded border border-primary">
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="formTitles.factsDate">{{formTitles.factsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="formTitles.factsTitle">{{formTitles.factsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a> 
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="showCreateFact">{{formTitles.factCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="showEditFact">{{formTitles.factEdit}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="showCreateDetailedFact">{{formTitles.factDCreate}}<i class="fas fa-arrow-right"></i></a>        
      <a class="navbar-brand text-primary bg-facts rounded" *ngIf="showEditDetailedFact">{{formTitles.factDEdit}}<i class="fas fa-arrow-right"></i></a>                
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showCreateFact" (click)="createFactBtnClick(factForm)" 
                [disabled]="factForm.invalid"> <span><i class="fas fa-save"></i></span></button>    
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showEditFact" (click)="updateFactBtnClick(factForm)" 
                [disabled]="factForm.invalid"> <span><i class="fas fa-edit"></i></span></button>  
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showCreateDetailedFact" (click)="createDetailedFactBtnClick(factForm,artsFactForm)" 
                [disabled]="factForm.invalid || artsFactForm.invalid"> <span><i class="fas fa-save"></i></span></button>  <!-- || artsFactForm.invalid-->
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showEditDetailedFact" (click)="updateDetailedFactBtnClick(factForm,artsFactForm)" 
                [disabled]="factForm.invalid || artsFactForm.invalid"> <span><i class="fas fa-edit"></i></span></button>         
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeFactsCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group mx-auto bg-provs" role="group">
        <button class="btn btn-outline-danger rounded mr-8" style='background-color:transparent' 
          (click)="createProvBtnClick()"> <div style='text-align:center'>Provs</div>
        </button>
      </div> 
      <div class="btn-group mx-auto bg-arts" role="group" *ngIf="showCreateDetailedFact|| showEditDetailedFact">
        <button class="btn btn-outline-danger rounded mr-8" style='background-color:transparent' 
          (click)="createArtBtnClick()"> <div style='text-align:center'>Arts</div>
        </button>
      </div>
      <div class="btn-group mx-auto bg-modelFacts" role="group" *ngIf="showCreateDetailedFact|| showEditDetailedFact">
        <button class="btn btn-outline-danger rounded mr-8" style='background-color:transparent' 
          (click)="createFactModelBtnClick()"> <div style='text-align:center'>FactModel</div>
        </button> 
      </div>             
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormFactBtnClick()"><span><i class="fas fa-eraser"></i></span></button>           
      </div> 
    </nav>
<!--------------------------------FACTS CREATE AND EDIT---FACT FORM ---------------------------------------------------------------------->  
    <div class="card bg-factsLigth text-black rounded border border-dark">
      <div class="card-body">                 
        <form [formGroup]=factForm>
          <div class="row"> 
            <div class="col">
              <div class="form-row">   
                <label for="factNumber" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;"
                     [class.text-danger]="factForm.get('factNumber')?.invalid && factForm.get('factNumber')?.touched"
                     >{{formLabels.factNumber}}</label>
                <div class="col-4">
                  <input id="factNumber" name="factNumber" class="form-control text-primary bg-highlight" formControlName="factNumber"                       
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;">   
                  <validation-messages [control]="factForm.get('factNumber')"></validation-messages>    
                </div>
              </div>
              <div class="form-row">
                <label for="factDate" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factDate}}</label>
                <div class="col-4">
                  <input id="factDate" name="factDate" class="form-control" formControlName="factDate" 
                          placeholder="Datepicker" bsDatepicker [bsConfig]="factsDatePickerConfig"
                          [value]="factDate | date: 'dd-MM-yyyy'"
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" [readonly]="!changeFactDate"> 
                  <validation-messages [control]="factForm.get('factDate')"></validation-messages> 
                </div>
              </div>            
              <div class="form-row">
                <label for="factType" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factType}}</label>
                <div class="col-4">
                  <select id="factType" name="factType" class="form-control" formControlName="factType"
                          appSelectValidator="{{localFactTypesRecordList[0].value}}" 
                          style="height:28px;width:300px;font-size:14px;font-weight:900;direction:rtl;">
                    <option *ngFor="let factType of localFactTypesRecordList" [value]="factType.value" style="direction:ltr"> {{factType.value}} </option>
                  </select>                  
                  <validation-messages [control]="factForm.get('factType')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">
                <label for="factPayType" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factPayType}}</label>
                <div class="col-4">
                  <select id="factPayType" name="factPayType" class="form-control" formControlName="factPayType"
                          appSelectValidator="{{localPayFactTypesRecordList[0].value}}" 
                          style="height:28px;width:300px;font-size:14px;font-weight:900;direction:rtl;">
                    <option *ngFor="let factPayType of localPayFactTypesRecordList" [value]="factPayType.value" style="direction:ltr"> {{factPayType.value}} </option>
                  </select>                 
                  <validation-messages [control]="factForm.get('factPayType')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">            
                <label for="factNote" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factNote}}</label>            
                <label class="col-2 col-form-label" style="height:28px;font-size:14px;font-weight:900;"><span>Nota</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="factNoteSwitch" 
                          formControlName="factNote" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;">
                  <label class="custom-control-label col-form-label" style="height:28px;font-size:14px;font-weight:900;" for="factNoteSwitch">Factura</label>
                </div>
              </div>               
            </div> 
            <div class="col">
              <div class="form-row">   
                <label for="factId" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factId}}</label>
                <div class="col-4">
                  <input id="factId" name="factId" class="form-control" formControlName="factId"
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" readonly>                  
                  <validation-messages [control]="factForm.get('factId')"></validation-messages>    
                </div>
              </div>
              <div class="form-row">   
                <label for="factProvId" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factProvId}}</label>
                <div class="col-4">
                  <input id="factProvId" name="factProvId" class="form-control" formControlName="factProvId"
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" readonly>                  
                  <validation-messages [control]="factForm.get('factProvId')"></validation-messages>    
                </div>
              </div>
              <div class="form-row">
                <div class="col-3">   
                  <label for="factProvName" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factProvName}}</label>
                </div>
                <div class="col-1">
                  <button class="btn btn-sm btn-outline-primary rounded col-form-label bg-provs" 
                    (click)="changeSelectedProvFactBtnClick()"><i class="fas fa-hand-point-right"></i></button> 
                </div>
                <div class="col-4">
                  <input id="factProvName" name="factProvName" class="form-control" formControlName="factProvName"
                          (focus)="changeSelectedProvFactBtnClick()"
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" >
                  <validation-messages [control]="factForm.get('factProvName')"></validation-messages>                                    
                </div>                              
              </div>
              <div class="form-row"  *ngIf="showCreateDetailedFact|| showEditDetailedFact">   
                <div class="col-3">                  
                  <label for="factModelName" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factModelName}}</label>
                </div>
                <div class="col-1">
                  <button class="btn btn-sm btn-outline-primary rounded col-form-label bg-factModels" 
                    (click)="changeSelectedFactModelBtnClick()"> <span><i class="fas fa-hand-point-right"></i></span></button> 
                </div>
                <div class="col-4">                
                  <input id="factModelName" name="factModelName" class="form-control" formControlName="factModelName"
                          (focus)="changeSelectedFactModelBtnClick()"
                          type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;">                  
                  <validation-messages [control]="factForm.get('factModelName')"></validation-messages>    
                </div>
              </div>
              <div class="form-row">            
                <label for="factStatus" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factStatus}}</label>            
                <label class="col-2 col-form-label" style="height:28px;font-size:14px;font-weight:900;"><span>Bloquear</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="factStatusSwitch" 
                          formControlName="factStatus" style="width:300px">
                  <label class="custom-control-label col-form-label" style="height:28px;font-size:14px;font-weight:900;" for="factStatusSwitch">Desbloquear</label>
                </div>
              </div> 
              <div class="form-row" *ngIf="(showCreateFact || showEditFact)">
                <label for="factFlag" class="col-3 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factFlag}}</label>
                <button class="btn btn-sm btn-outline-primary rounded col-1 mr-3" (click)="changeFactFlagBtnClick()">
                  <span>  <i *ngIf="!factTotalCostFlag" class="fas fa-toggle-on"></i>
                          <i *ngIf="factTotalCostFlag"  class="fas fa-toggle-off"></i>  </span>
                </button>                 
                <label class="col-1 col-form-label" style="height:28px;font-size:14px;" [ngStyle]="(!factTotalCostFlag)? {'font-weight':900}:{'font-weight':400}">
                    <span>Si</span></label>               
                <div class="custom-control custom-switch" for="factTotalCostFlagS">                 
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="factTotalCostFlagSwitch" 
                          formControlName="factFlag" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" readonly>
                  <label class="custom-control-label col-form-label" style="height:28px;font-size:14px"
                        [ngStyle]="(factTotalCostFlag)? {'font-weight':900}:{'font-weight':400}" for="factTotalCostFlagSwitch">No</label>                                 
                </div>
              </div>
            </div>
          </div>
<!--------------------------------FACTS CREATE AND EDIT--- FACTS TOTALS AND ARTS FACT BUTTONS ---------------------------------------------------------------------->  
          <div class="row">    
            <div class="col">
              <div class="form-row bg-highlight text-black rounded border border-dark" style="height:50px;margin-left:2px;;margin-right:2px">  
                <div formGroupName="factTotalGroup" class="form-row"> 
                  <div class="mr-auto p-2">
                    <div class="form-row">             
                      <label for="factNetCost" class="col-form-label col" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factNetCost}}</label>              
                      <input id="factNetCost" name="factNetCost" class="form-control col" formControlName="factNetCost" 
                              type="number" style="height:28px;width:100px;font-size:14px;text-align:right;"
                              (blur) = "setTwoNumberDecimal($event)" 
                              [class.bg-inputReadOnly]="showCreateDetailedFact || showEditDetailedFact || !factTotalCostFlag"
                              [ngStyle]="( showCreateDetailedFact || showEditDetailedFact || !factTotalCostFlag )? {'font-weight':900}:{'font-weight':400}"
                              [readonly]="showCreateDetailedFact || showEditDetailedFact || !factTotalCostFlag">
                    </div>                
                    <validation-messages *ngIf="(showCreateFact || showEditFact)" [control]="factForm.get('factTotalGroup.factNetCost')"></validation-messages> 
                  </div>
                  <div class="mx-auto p-2" *ngIf="(showCreateFact || showEditFact)"> 
                    <div class="form-row">                                                               
                      <label for="factTaxesP" class="col-form-label col" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factTaxesP}}</label>
                      <select id="factTaxesP" name="factTaxesP" class="form-control" formControlName="factTaxesP" 
                          appSelectValidator="{{localArtTaxesRecordList[0].value}}"  style="height:28px;width:150px;font-size:14px;font-weight:900;text-align:right;">
                        <option *ngFor="let factTaxesP of localArtTaxesRecordList" [value]="factTaxesP.value"> {{factTaxesP.value}} </option>
                      </select>
                    </div>
                  </div>
                  <div class="mx-auto p-2"> 
                    <div class="form-row">                                                               
                      <label for="factTaxes" class="col-form-label col" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factTaxes}}</label>
                      <input id="factTaxes" name="factTaxes" class="form-control col" formControlName="factTaxes" 
                              type="number" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;"
                              (blur) = "setTwoNumberDecimal($event)" 
                              [class.bg-inputReadOnly]="showCreateDetailedFact || showEditDetailedFact"  
                              [readonly]="showCreateDetailedFact || showEditDetailedFact">
                    </div>
                    <validation-messages *ngIf="(showCreateFact || showEditFact)" [control]="factForm.get('factTotalGroup.factTaxes')"></validation-messages> 
                  </div>
                  <div class="mx-auto p-2"> 
                    <div class="form-row">   
                      <label for="factTotalCost" class="col-form-label col" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.factTotalCost}}</label>
                      <input id="factTotalCost" name="factTotalCost" class="form-control col" formControlName="factTotalCost" 
                              type="number" style="height:28px;width:100px;font-size:14px;text-align:right;"
                              (blur) = "setTwoNumberDecimal($event)"   
                              [class.bg-inputReadOnly]="showCreateDetailedFact || showEditDetailedFact || factTotalCostFlag" 
                              [ngStyle]="( showCreateDetailedFact || showEditDetailedFact || factTotalCostFlag )? {'font-weight':900}:{'font-weight':400}"
                              [readonly]="showCreateDetailedFact || showEditDetailedFact || factTotalCostFlag">
                    </div>
                    <validation-messages *ngIf="(showCreateFact || showEditFact)" [control]="factForm.get('factTotalGroup.factTotalCost')"></validation-messages> 
                  </div> 
                </div>
                <div class="mx-auto d-inline-flex align-items-center" *ngIf="showCreateDetailedFact|| showEditDetailedFact">
                  <a class="navbar-brand text-danger bg-facts rounded" style="height:28px;font-size:14px;font-weight:900;">{{formTitles.factArtsTotal}} </a>        
                </div>
                <div class="ml-auto d-inline-flex align-items-center" *ngIf="showCreateDetailedFact|| showEditDetailedFact">
                  <div class="btn-group mr-4" role="group">     
                    <button class="btn btn-sm btn-outline-danger rounded mr-2" (click)="artPricesWithTaxesBtnClick()">
                      <span><i *ngIf="!artPricesWithTaxesFlag" class="fas fa-toggle-on"></i>
                            <i *ngIf="artPricesWithTaxesFlag" class="fas fa-toggle-off"></i></span></button>
                  </div> 
                  <div class="btn-group mr-4" role="group">
                    <button class="btn btn-sm btn-outline-primary rounded mr-2" (click)="searchArtsBtnClick()"><span><i class="fas fa-eye"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2" (click)="changeOrderArtsBtnClick()"><span><i class="fas fa-sort-alpha-down"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2" (click)="addArtFactBtnClick()"><span><i class="far fa-calendar-plus"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2" (click)="cleanFormDetailedFactBtnClick()"><span><i class="fas fa-eraser"></i></span></button>
                  </div>    
                  <div class="btn-group mx-auto" role="group">     
                    <button class="btn btn-sm btn-outline-danger rounded mr-2" (click)="saveAsFactModelBtnClick()"><span><i class="far far fa-images"></i></span></button>   
                  </div> 
                </div> 
              </div>
            </div>         
          </div>
        </form>
      </div>
    </div>         
<!--------------------------------FACTS CREATE AND EDIT--- ARTS FACT FORM ---------------------------------------------------------------------->  
    <div class="card bg-factsLigth text-black rounded border border-dark" *ngIf="showCreateDetailedFact || showEditDetailedFact">
      <div class="card-body">
        <div class="card-title bg-facts text-black rounded border border-dark row" style="height:30px;margin-left:5px;;margin-right:5px">  
          <label style="height:30px;width:180px;font-size:14px;font-weight:900;text-align:center;margin-left:0px;">{{formLabels.artNameF  | slice:0:20}} </label> 
          <label style="height:30px;width:65px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artSize   | slice:0:10}}</label>
          <label style="height:30px;width:50px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artUnit   | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.artPrice  | slice:0:10}}</label>
          <label style="height:30px;width:55px; font-size:14px;font-weight:900;text-align:center;margin-left:13px;margin-right:0px;">{{formLabels.units     | slice:0:10}}</label>
          <label style="height:30px;width:65px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.price     | slice:0:10}}</label>
          <label *ngIf="artPricesWithTaxesFlag" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                        {{formLabels.priceWithTax | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.quantity  | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.discount  | slice:0:10}}</label>
          <label *ngIf="!artPricesWithTaxesFlag" style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                        {{formLabels.netCost   | slice:0:10}}</label>
          <label *ngIf="!artPricesWithTaxesFlag"style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                        {{formLabels.artTax    | slice:0:10}}</label>
          <label *ngIf="!artPricesWithTaxesFlag"style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">
                        {{formLabels.tax       | slice:0:10}}</label>
          <label style="height:30px;width:75px; font-size:14px;font-weight:900;text-align:right;margin-right:4px;">{{formLabels.totalCost | slice:0:10}}</label>
          <label style="height:30px;width:55px; font-size:14px;font-weight:900;text-align:right;margin-left:0px;margin-right:0px;">{{formLabels.updateArt | slice:0:6}}</label>
          <label style="height:30px;width:55px; font-size:14px;font-weight:900;text-align:right;margin-left:0px;margin-right:0px;">{{formLabels.deleteArt | slice:0:6}}</label>
        </div>    
        <div class="card-title bg-facts text-primary rounded border border-dark row" 
             style="height:30px;margin-left:5px;;margin-right:5px" *ngIf="showSearchArt"> 
             <input class="text-black bg-white rounded border border-dark mr-auto" type="text" 
                    style="height:25px;width:190px;font-size:14px;font-weight:900;text-align:left;margin-left:2px;" 
                    [(ngModel)]="searchArtsFactName"  />        
        </div>
        <form [formGroup]="artsFactForm">
          <div formArrayName="filterArtsFactFormArray" *ngIf="showArtsFact">  
            <div *ngFor="let artFact of filterArtsFactFormArray.controls ; let i = index">
              <div [formGroupName]="i">
                <div class="form-row"> 
                  <div style="margin-left:1px;margin-right:4px;">
                    <input [id]="'artFactArtName'+i" name="artFactArtName" class="form-control text-primary" 
                            type="text"  style="height:28px;width:190px;font-size:14px;text-align:left;margin-left:15px;font-weight:900" 
                            formControlName="artFactArtName" readonly>
                  </div>
                  <div style="margin-right:4px;">
                    <input [id]="'artFactArtSize'+i" name="artFactArtSize" class="form-control text-primary" 
                            type="text"  style="height:28px;width:65px;font-size:14px;text-align:right" 
                            formControlName="artFactArtSize" readonly>
                  </div>
                  <div style="margin-right:4px;">
                    <input [id]="'artFactArtMeasurement'+i" name="artFactArtMeasurement" class="form-control text-primary"                  
                            type="text"  style="height:28px;width:50px;font-size:14px;text-align:right" 
                            formControlName="artFactArtMeasurement" readonly>
                  </div>
                  <div style="margin-right:4px;">
                    <input [id]="'artFactArtUnitPrice'+i" name="artFactArtUnitPrice" class="form-control text-primary bg-highlight" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right;font-weight:900" 
                            (blur) = "setSixNumberDecimal($event)" 
                            formControlName="artFactArtUnitPrice">
                    <validation-messages [control]="artFact.get('artFactArtUnitPrice')" style="width:75px;font-size:8px;text-align:left"></validation-messages>   
                  </div>                  
                  <div style="margin-right:4px;">
                    <input [id]="'artFactArtPackageUnits'+i" name="artFactArtPackageUnits" class="form-control text-primary" 
                            type="text" style="height:28px;width:55px;font-size:14px;text-align:right" 
                            formControlName="artFactArtPackageUnits" readonly>
                  </div>
                  <div style="margin-right:4px;">
                    <input [id]="'artFactArtPackagePrice'+i" name="artFactArtPackagePrice" class="form-control text-primary" 
                            type="text" style="height:28px;width:65px;font-size:14px;text-align:right" 
                            formControlName="artFactArtPackagePrice" readonly >
                  </div>
                  <div *ngIf="artPricesWithTaxesFlag" style="margin-right:4px;">
                    <input [id]="'artFactArtPackagePriceWithTaxes'+i" name="artFactArtPackagePriceWithTaxes" class="form-control text-primary bg-highlight" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right;font-weight:900" 
                            (blur) = "setSixNumberDecimal($event)" 
                            formControlName="artFactArtPackagePriceWithTaxes">
                  </div>
                  <div style="margin-right:4px;">
                    <input [id]="'artFactQuantity'+i" name="artFactQuantity" class="form-control text-primary bg-highlight"  
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right;font-weight:900" 
                            (blur) = "setSixNumberDecimal($event)" 
                            formControlName="artFactQuantity">
                    <validation-messages [control]="artFact.get('artFactQuantity')" style="width:75px;font-size:8px;text-align:left"></validation-messages>   
                  </div>
                  <div  *ngIf="!artPricesWithTaxesFlag" style="margin-right:4px;">
                    <input [id]="'artFactDiscount'+i" name="artFactDiscount" class="form-control text-primary" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right"
                            (blur) = "setSixNumberDecimal($event)" 
                            formControlName="artFactDiscount">
                    <validation-messages [control]="artFact.get('artFactDiscount')" style="width:75px;font-size:8px;text-align:left"></validation-messages>  
                  </div>
                  <div  *ngIf="artPricesWithTaxesFlag" style="margin-right:4px;">
                    <input [id]="'artFactDiscountWithTaxes'+i" name="artFactDiscountWithTaxes" class="form-control text-primary" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right"
                            (blur) = "setSixNumberDecimal($event)" 
                            formControlName="artFactDiscountWithTaxes">
                    <validation-messages [control]="artFact.get('artFactDiscountWithTaxes')" style="width:75px;font-size:8px;text-align:left"></validation-messages>  
                  </div>
                  <div *ngIf="!artPricesWithTaxesFlag" style="margin-right:4px;">
                    <input [id]="'artFactNetCost'+i" name="artFactNetCost" class="form-control text-primary" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right;font-weight:900" 
                            formControlName="artFactNetCost" readonly >
                  </div>
                  <div *ngIf="!artPricesWithTaxesFlag" style="margin-right:4px;">                    
                    <input [id]="'artFactArtTax'+i" name="artFactArtTax" class="form-control text-primary"  
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right" 
                            (blur) = "setTwoNumberDecimal($event)" 
                            formControlName="artFactArtTax">
                    <validation-messages [control]="artFact.get('artFactArtTax')" style="width:75px;font-size:8px;text-align:left"></validation-messages>   
                  </div>
                  <div *ngIf="!artPricesWithTaxesFlag" style="margin-right:4px;">
                    <input [id]="'artFactTax'+i" name="artFactTax" class="form-control text-primary" 
                            type="text" style="height:28px;width:75px;font-size:14px;text-align:right" 
                            formControlName="artFactTax" readonly>
                  </div>
                  <div style="margin-right:5px;">
                    <input [id]="'artFactTotalCost'+i" name="artFactTotalCost"  class="form-control text-primary" 
                            type="text"  style="height:28px;width:75px;font-size:14px;text-align:right;font-weight:900" 
                            formControlName="artFactTotalCost" readonly> 
                  </div>      
                  <div style="margin-left:15px;margin-right:5px;">
                    <div class="btn-group mx-auto" role="group">     
                      <button class="btn btn-sm btn-outline-danger rounded mr-2" (click)="copyArtFactToArtBtnClick(artFact.get('artFactId').value)">
                        <span><i class="fas fa-exchange-alt"></i></span></button>
                    </div> 
                  </div>     
                  <div style="margin-left:5px;margin-right:5px;">
                    <div class="btn-group mx-auto" role="group">     
                      <button class="btn btn-sm btn-outline-danger rounded mr-2" (click)="deleteArtFactBtnClick(artFact.get('artFactId').value)">
                        <span><i class="fas fa-trash"></i></span></button>
                    </div> 
                  </div>                
                </div>
              </div>
            </div>
          </div>          
        </form>         
      </div>
    </div>
  </div>
</div>
