<div class ="container-fluid">
    <div class="row" >
      <div class="col" [style.top.px]="globalVar.topView">
            <div class="card bg-primary text-white rounded text-center">
              <div class="card-header"> General Information -->
                        <i class="fas fa-eye" size="2x"></i>
              </div>
              <div class="card-body text-primary bg-white rounded text-left">
                  <p>Usuario Actual ----------> "{{globalVar.currentUser}}"</p>
                  <p>Usuario Autenticado -----> "{{globalVar.authenticated}}"</p>
                  <p>Mensaje 1 ---------------> "{{globalVar.errorMsg1}}"</p>
                  <p>Mensaje 2 ---------------> "{{globalVar.errorMsg2}}"</p>
                  <p>TopData -----------------> "{{globalVar.topData}}"</p>
                  <p>TopView -----------------> "{{globalVar.topView}}"</p>
                  <p>NextView ----------------> "{{globalVar.nextView}}"</p>
              </div>
              <div class="card-footer">Footer
              </div>
            </div>
      </div>
    </div>
</div>
