<!--------------------------------PROVS MORE DATA---CREATE AND EDIT DETAILS FORM AND LIST---------------------------------------------------------------------->
<div class="row">  
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-moreProvs rounded border border-primary">
      <a class="navbar-brand text-primary bg-moreProvs rounded">{{moreProvTitle}} <i class="fas fa-arrow-right"></i></a> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="CloseMoreProvsCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>        
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-success rounded mr-2" (click)="saveMoreProvBtnClick()" [disabled]="moreProvForm.invalid">
                <span> <i class="fas fa-save"></i></span></button>            
      </div>
    </nav>
    <!--------------------------------PROVS MORE DATA---CREATE DETAILS FORM ---------------------------------------------------------------------->
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-header">
        <a class="navbar-brand text-primary rounded">
          {{formLabels.provName}}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{newProv.provName}} 
          <br>{{formLabels.provCif}}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{newProv.provCif}}
          <ul>
            <li *ngFor="let moreProvs of moreProvsList">
              {{moreProvs.mprovType}}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{moreProvs.mprovData1}}
              &emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{moreProvs.mprovData2}}
            </li>
          </ul>
        </a>  
      </div>
      <div class="card-body">
        <form [formGroup]=moreProvForm>
          <div class="form-row">
            <label for="mprovId" class="col-sm-3 col-form-label">{{formLabels.mprovId}}</label>
            <div class="col-sm-9">
              <input id="mprovId" name="mprovId" class="form-control" formControlName="mprovId" 
                   type="text" style="width:300px;text-align:right;" readonly>
            </div>
          </div>
          <div class="form-row">
            <label for="mprovProvId" class="col-sm-3 col-form-label">{{formLabels.mprovProvId}}</label>
            <div class="col-sm-9">
              <input id="mprovProvId" name="mprovProvId" class="form-control" formControlName="mprovProvId" 
                    type="text" style="width:300px;text-align:right;" readonly>
            </div>
          </div>
          <div class="form-row">
            <label for="mprovType" class="col-sm-3 control-label">{{formLabels.mprovType}}</label>
            <div class="col-sm-9">
              <select id="mprovType" name="mprovType" class="form-control" formControlName="mprovType" 
                      appSelectValidator="{{localMoreProvTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
                <option *ngFor="let mprovType of localMoreProvTypesRecordList" [value]="mprovType.value" style="direction:rtl"> 
                  {{mprovType.value}} </option>
              </select>
              <validation-messages [control]="moreProvForm.get('mprovType')"></validation-messages> 
            </div>
          </div>
          <div class="form-row">   
            <label for="mprovData1" class="col-sm-3 control-label">{{formLabels.mprovData1}}</label>
            <div class="col-sm-9">
              <input id="mprovData1" name="mprovData1" class="form-control" formControlName="mprovData1" 
                    type="text" style="width:300px;text-align:right;">
              <validation-messages [control]="moreProvForm.get('mprovData1')"></validation-messages> 
            </div>
          </div>
          <div class="form-row">   
            <label for="mprovData2" class="col-sm-3 control-label">{{formLabels.mprovData2}}</label>
            <div class="col-sm-9">
              <input id="mprovData2" name="mprovData2" class="form-control" formControlName="mprovData2" 
                    type="text" style="width:300px;text-align:right;">
              <validation-messages [control]="moreProvForm.get('mprovData2')"></validation-messages> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>