<!-----------------------------------SELECT PROV---------------------------------------------------------------------->
<div class="row" *ngIf="showProvs">  
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-provs rounded border border-primary">
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="formTitles.provDate">{{formTitles.provDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="formTitles.provTitle">{{formTitles.provTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-provs rounded">{{formTitles.provSelTitle}}<i class="fas fa-long-arrow-alt-right"></i></a>  
      <div class="btn-group mx-auto bg-provs" role="group">
        <button class="btn btn-outline-primary rounded mr-8" (click)="createProvBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>      
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeSelectProvBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="searchProvsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>  
      </div>  
    </nav> 
    <!-------------------------------- -- PROVS---LIST---------------------------------------------------------------------->
    <div class="card bg-provsLigth text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-provs"  *ngIf="showSearchProvs">                 
              <th>-</th>
              <th><input id="sprovDate"     name="sprovDate"      [(ngModel)]="searchProv.provDate"     type="text"   
                  class="input-group-text mx-auto" style="width:100px;text-align:center;"> </th>
              <th><input id="sprovName"     name="sprovName"     [(ngModel)]="searchProv.provName"     type="text" 
                  class="input-group-text mr-auto" style="width:100px;text-align:left"></th>
              <th><input id="sprovLongName" name="sprovLongName" [(ngModel)]="searchProv.provLongName" type="text" 
                  class="input-group-text mr-auto" style="width:150px;text-align:left"></th>
              <th><input id="sprovCif"      name="sprovCif"      [(ngModel)]="searchProv.provCif"      type="text" 
                  class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="sprovFactType" name="sprovFactType" [(ngModel)]="searchProv.provFactType" type="text" 
                  class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th>-</th>
              <th>-</th>
            </tr>
            <tr class="bg-listheading">
              <th [class.active]="orderProvsList === 'provId'"            (click)="setOrderProvBtnClick('provId')"
                class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.provId       | slice:0:6}}
                <span [hidden]="!reverseProvsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseProvsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderProvsList === 'provDate'"          (click)="setOrderProvBtnClick('provDate')" 
                class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.provDate     | slice:0:8}}
                <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>  
              <th [class.active]="orderProvsList === 'provName'"          (click)="setOrderProvBtnClick('provName')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provName     | slice:0:20}}
                <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>
              <th [class.active]="orderProvsList === 'provLongName'"      (click)="setOrderProvBtnClick('provLongName')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provLongName | slice:0:25}}
                <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>
              <th [class.active]="orderProvsList === 'provCif'"           (click)="setOrderProvBtnClick('provCif')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provCif      | slice:0:12}}
                <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>
              <th [class.active]="orderProvsList === 'provFactType'"      (click)="setOrderProvBtnClick('provFactType')" 
                class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provFactType | slice:0:12}}
                <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>                
              <th>{{formLabels.provSelect}}</th>
              <th>{{formLabels.provEditList}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let prov of provs | orderBy: orderProvsList:reverseProvsList:caseInsensitive | filterBy: searchProv ; let i = index">
              <td style="text-align:center;">   {{prov.provId}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{prov.provDate  | date:'dd-MM-yyyy'}}</td>
              <td style="text-align:left;font-weight:900"> {{prov.provName      | slice:0:20}}</td>
              <td style="text-align:left;">     {{prov.provLongName  | slice:0:25}}</td>
              <td style="text-align:left;" >    {{prov.provCif       | slice:0:12}}</td>
              <td style="text-align:left;" >    {{prov.provFactType  | slice:0:12}}</td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="selectedProvBtnClick(prov)"><span><i class="fas fa-hand-point-left"></i></span></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editProvBtnClick(prov)"><span> <i class="fas fa-edit"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>