<!--------------------------------PROVS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">    
  <div class="col" *ngIf="showCreateProv || showEditProv">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-provs rounded border border-primary">
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="formTitles.provDate">{{formTitles.provDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="formTitles.provTitle">{{formTitles.provTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="showCreateProv">{{formTitles.provCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-provs rounded" *ngIf="showEditProv">{{formTitles.provEdit}}<i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showCreateProv" (click)="createProvBtnClick(provForm)" [disabled]="provForm.invalid">
          <span><i class="fas fa-save">        </i></span></button>    
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="showEditProv" (click)="updateProvBtnClick(provForm)" [disabled]="provForm.invalid">
          <span><i class="fas fa-edit">        </i></span></button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="CloseProvsCreateModalBtnClick(null)"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-warning rounded mr-2" *ngIf="!showCreateProv" (click)="changeDisableProvNameAndFactTypeBtnClick()">
                <span><i class="fas fa-user-edit"></i></span>
        </button> 
      </div>       
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormProvBtnClick()">
          <span><i class="fas fa-eraser">        </i></span></button>           
      </div> 
    </nav> 
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=provForm> 
          <div class="row"> 
            <div class="col">
              <div class="form-row">
                <label for="provId" class="col-sm-3 col-form-label">{{formLabels.provId}}</label>
                <div class="col-sm-9">
                  <input id="provId" name="provId" class="form-control" formControlName="provId" 
                  type="text" style="width:300px;text-align:right;" readonly>
                </div>
              </div>       
              <div class="form-row">
                <label for="provCifType" class="col-sm-3 col-form-label">{{formLabels.provCifType}}</label>
                <div class="col-sm-9">
                  <select id="provCifType" name="provCifType" class="form-control" formControlName="provCifType" 
                          appSelectValidator="{{localCifTypesRecordList[0].value}}" style="width:300px;direction:rtl">
                    <option *ngFor="let cifType of localCifTypesRecordList" [value]="cifType.value" style="direction:rtl"> {{cifType.value}} </option>
                  </select>
                  <validation-messages [control]="provForm.get('provCifType')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">   
                <label for="provCif" class="col-sm-3 col-form-label">{{formLabels.provCif}}</label>
                <div class="col-sm-9">
                  <input id="provCif" name="provCif" class="form-control" formControlName="provCif"
                        type="text" style="width:300px;text-align:right;">
                  <validation-messages [control]="provForm.get('provCif')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">   
                <label for="provName" class="col-sm-3 col-form-label">{{formLabels.provName}}</label>
                <div class="col-sm-9">
                  <input id="provName" name="provName" class="form-control" formControlName="provName" 
                      type="text" style="width:300px;text-align:right;">
                  <validation-messages [control]="provForm.get('provName')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">
                <label for="provLongName" class="col-sm-3 col-form-label">{{formLabels.provLongName}}</label>
                <div class="col-sm-9">
                  <input id="provLongName" name="provLongName" class="form-control" formControlName="provLongName" 
                          type="text" style="width:300px;text-align:right;">
                  <validation-messages [control]="provForm.get('provLongName')"></validation-messages> 
                </div>
              </div>
            </div>
            <div class="col"> 
              <div class="form-row">   
                <label for="provDate" class="col-sm-3 control-label">{{formLabels.provDate}}</label>
                <div class="col-sm-4">
                  <input id="provDate" name="provDate" class="form-control ml-auto" formControlName="provDate"
                            placeholder="Datepicker" bsDatepicker [bsConfig]="provsDatePickerConfig"
                            [value]="currentDate | date: 'dd-MM-yyyy'"                     
                            type="text" style="width:300px;text-align:right;" readonly>
                </div>
              </div>  
              <div class="form-row">
                <label for="provFactType" class="col-sm-3 col-form-label">{{formLabels.provFactType}}</label>
                <div class="col-sm-9"> 
                  <select id="provFactType" name="provFactType" class="form-control" formControlName="provFactType" 
                        appSelectValidator="{{localFactTypesSubDepsRecordList[0].value}}" style="width:300px;direction:rtl">  
                    <option *ngFor="let provFactType of localFactTypesSubDepsRecordList" [value]="provFactType.value" style="direction:ltr"> {{provFactType.value}} </option>
                  </select>
                  <validation-messages [control]="provForm.get('provFactType')"></validation-messages> 
                </div>
              </div> 
              <div class="form-row">
                <label for="provPayType" class="col-sm-3 col-form-label">{{formLabels.provPayType}}</label>
                <div class="col-sm-9">
                  <select id="provPayType" name="provPayType" class="form-control" formControlName="provPayType"
                          appSelectValidator="{{localFactPayTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
                    <option *ngFor="let provPayType of localFactPayTypesRecordList" [value]="provPayType.value" style="direction:ltr"> {{provPayType.value}} </option>
                  </select>                 
                  <validation-messages [control]="provForm.get('provPayType')"></validation-messages> 
                </div>
              </div>         
              <div class="form-row">            
                <label for="provFactNote" class="col-sm-3 col-form-label">{{formLabels.provFactNote}}</label>            
                <label class="col-2 col-form-label"><span>Nota</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="provFactNoteSwitch" 
                          formControlName="provFactNote" style="width:300px">
                  <label class="custom-control-label col-form-label" for="provFactNoteSwitch">Factura</label>
                </div>
              </div> 
              <div class="form-row">            
                <label for="provStatus" class="col-sm-3 col-form-label">{{formLabels.provStatus}}</label>            
                <label class="col-2 col-form-label"><span>Bloquear</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox"  id="provStatusSwitch" 
                          formControlName="provStatus" style="width:300px;text-align:right;">
                  <label class="custom-control-label col-form-label" for="provStatusSwitch">Desbloquear</label>
                </div>
              </div> 
          
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--------------------------------PROVS MORE DATA---CREATE AND EDIT DETAILS FORM AND LIST---------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-moreProvs rounded border border-primary">
      <a class="navbar-brand text-primary bg-moreProvs rounded">{{formTitles.provMoreData}} <i class="fas fa-long-arrow-alt-right"></i></a>        
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowCreateMoreProvBtnClick()">
          <span> <i class="fas fa-plus-square"></i></span></button>
      </div>
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="deleteAllMoreProvsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>
    </nav>
    <!--------------------------------PROVS MORE DATA---LIST---------------------------------------------------------------------->
    <div class="card bg-white text-black rounded border border-dark" *ngIf="showCreateProv || showEditProv">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-listheading">
                <th>#</th>
                <th>{{formLabels.mprovId}}</th>
                <th>{{formLabels.mprovProvId}}</th>
                <th>{{formLabels.mprovType}}</th>
                <th>{{formLabels.mprovData1}}</th>
                <th>{{formLabels.mprovData2}}</th>
                <th>{{formTitles.provEditList}}</th>
                <th>{{formTitles.provDelete}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let mprov of moreProvs; let i = index">
                <td>{{i}}</td>
                <td>{{mprov.mprovId}}</td>
                <td>{{mprov.mprovProvId}}</td>
                <td>{{mprov.mprovType}}</td>
                <td>{{mprov.mprovData1}}</td>
                <td>{{mprov.mprovData2}}</td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editOneMoreProvBtnClick(mprov)"> <span> <i class="fas fa-edit"></i></span></button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="deleteOneMoreProvBtnClick(mprov)"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  