<div class="container">
 <!--------------------------------PROVS---NAVBAR---------------------------------------------------------------------->
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary">
        <a class="navbar-brand text-primary bg-white rounded">{{formTitles.provs}} <i class="fas fa-thumbs-up"></i></a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowProvsListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
        </div>       
      </nav>
    </div>
  </div>

  <!--------------------------------PROVS---LIST---------------------------------------------------------------------->
  <div class="row" *ngIf="showProvsList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-provs rounded border border-primary">
        <a class="navbar-brand text-primary bg-provs rounded">{{formTitles.provsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-danger  bg-provs rounded" style="font-size:16px;font-weight:900">{{formTitles.provsTotalString}}</a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-8" (click)="showCreateProvBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>        
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" (click)="selectProvsByFactTypeBtnClick()">   <span><i class="fas fa-filter"></i></span></button>
          <button class="btn btn-outline-success rounded mr-2" (click)="selectProvsByPayTypeBtnClick()">    <span><i class="fas fa-funnel-dollar"></i></span></button>
          <button class="btn btn-outline-success rounded mr-2" (click)="selectProvsByFactOrNoteBtnClick()"> <span><i class="far fa-window-restore"></i></span></button>
        </div>        
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="searchProvsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllProvsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-provs rounded border border-primary" *ngIf="filterProvs">
        <a class="navbar-brand text-primary bg-provs rounded mr-auto">{{formTitles.provsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-provs rounded mx-auto" *ngIf="selectedProvFactType" style="font-weight:900">{{formLabels.provFactType}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-provs rounded ml-auto" *ngIf="selectedProvFactType" style="font-weight:900">{{selectedProvFactType}}</a>
        <a class="navbar-brand text-primary bg-provs rounded mx-auto" *ngIf="selectedProvPayType" style="font-weight:900">{{formLabels.provPayType}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-provs rounded ml-auto" *ngIf="selectedProvPayType" style="font-weight:900">{{selectedProvPayType}}</a>
        <a class="navbar-brand text-primary bg-provs rounded mx-auto" *ngIf="selectedProvFactOrNote" style="font-weight:900">{{formLabels.provFactOrNote}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-provs rounded ml-auto" *ngIf="selectedProvFactOrNote" style="font-weight:900">{{selectedProvFactOrNote}}</a>
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-provs" *ngIf="showSearchProvs">
                <th>-</th>
                <th>-</th>
                <th><input id="sprovCifType"      name="sprovDate"          [(ngModel)]="searchProv.provDate"     type="text"   
                    class="input-group-text mr-auto" style="width:80px;text-align:center;"> </th>
                <th><input id="sprovName"         name="sprovName"          [(ngModel)]="searchProv.provName"     type="text"   
                    class="input-group-text mr-auto" style="width:150px;text-align:left;"></th>
                <th><input id="sprovCif"          name="sprovCif"           [(ngModel)]="searchProv.provCif"      type="text"   
                    class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="sprovFactType"     name="sprovFactType"      [(ngModel)]="searchProv.provFactType" type="text"   
                    class="input-group-text mr-auto" style="width:80px;text-align:left;"></th>
                <th><input id="sprovPayType"      name="sprovPayType"       [(ngModel)]="searchProv.provPayType"  type="text"   
                    class="input-group-text mr-auto" style="width:80px;text-align:left;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <tr class="bg-listheading">
                <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id           | slice:0:8}}</th>  
                <th [class.active]="orderProvsList === 'provId'"        (click)="setOrderBtnClick('provId')"
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.provId       | slice:0:8}}
                  <span [hidden]="!reverseProvsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseProvsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderProvsList === 'provDate'"      (click)="setOrderBtnClick('provDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.provDate     | slice:0:8}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>               
                <th [class.active]="orderProvsList === 'provName'"      (click)="setOrderBtnClick('provName')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provName     | slice:0:30}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>
                <th [class.active]="orderProvsList === 'provCif'"       (click)="setOrderBtnClick('provCif')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provCif      | slice:0:16}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>    
                <th [class.active]="orderProvsList === 'provFactType'"  (click)="setOrderBtnClick('provFactType')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provFactType | slice:0:16}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>   
                <th [class.active]="orderProvsList === 'provPayType'"  (click)="setOrderBtnClick('provPayType')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provPayType | slice:0:16}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th> 
                <th [class.active]="orderProvsList === 'provFactNote'"  (click)="setOrderBtnClick('provFactNote')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provFactNote | slice:0:8}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>                                                                        
                <th [class.active]="orderProvsList === 'provStatus'"    (click)="setOrderBtnClick('provStatus')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.provStatus   | slice:0:8}}
                  <span [hidden]="!reverseProvsList">▼</span>  <span [hidden]="reverseProvsList">▲</span> </th>
                <th>{{formTitles.listFactModelsProv | slice:0:8}}</th>                            
                <th>{{formTitles.provEditList}}</th>
                <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.provDelete}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let prov of provs | orderBy: orderProvsList:reverseProvsList:caseInsensitive | filterBy: searchProv ; let i = index">
                <td style="text-align:right;">  {{i                 | number:'1.0-0'}}</td>
                <td style="text-align:right;">  {{prov.provId       | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900">    {{prov.provDate  | date:'dd-MM-yyyy'}}</td>
                <td style="text-align:left;font-weight:900">  {{prov.provName | slice:0:20}}</td>
                <td style="text-align:left;">   {{prov.provCif      | slice:0:16}}</td>
                <td style="text-align:left;">   {{prov.provFactType | slice:0:16}}</td>
                <td style="text-align:left;">   {{prov.provPayType  | slice:0:16}}</td>
                <td *ngIf="prov.provFactNote">  {{formLabels.factura | slice:0:8}}</td>
                <td *ngIf="!prov.provFactNote"> {{formLabels.nota    | slice:0:8}}</td>
                <td *ngIf="prov.provStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!prov.provStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listFactModelsWithThisProvBtnClick(prov)"> <span> <i class="fas fa-tags"></i></span> </button>
                </td>                
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="showEditProvBtnClick(prov)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockProvBtnClick(prov)"> 
                        <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneProvBtnClick(prov)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
