<!--------------------------------CARDTPVS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
  <div class="col" *ngIf="showCardTpv">    
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-cardTpvs rounded border border-primary">
      <a class="navbar-brand text-primary bg-cardTpvs rounded" *ngIf="createCardTpv">{{formTitles.cardTpvCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-cardTpvs rounded" *ngIf="editCardTpv">{{formTitles.cardTpvEdit}}<i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mr-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createCardTpv" (click)="createCardTpvBtnClick(cardTpvForm)" [disabled]="cardTpvForm.invalid">
                <span><i class="fas fa-save">        </i></span></button>        
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="editCardTpv" (click)="updateCardTpvBtnClick(cardTpvForm)" [disabled]="cardTpvForm.invalid">
                <span><i class="fas fa-edit">        </i></span></button>             
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closedCardTpvsCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormCardTpvBtnClick()">
        <span><i class="fas fa-eraser">        </i></span></button>           
      </div> 
    </nav>
    <div class="card bg-cardTpvsLight text-black rounded border border-dark">
      <div class="card-body">
        <form [formGroup]=cardTpvForm>
          <div class="row"> 
            <div class="col-5">
              <div class="form-row">
                <label for="cardTpvId"     class="col control-label">{{formLabels.cardTpvId}}</label>
                <div class="col">
                  <input id="cardTpvId"    name="cardTpvId" formControlName="cardTpvId" type="text" 
                      class="form-control" style="width:150px;height:30px;font-size:14px;text-align:right;" readonly />
                </div>                  
              </div>
              <div class="form-row">   
                <label for="cardTpvDate"   class="col control-label">{{formLabels.cardTpvDate}}</label>
                <div class="col">
                  <input id="cardTpvDate"  name="cardTpvDate" formControlName="cardTpvDate" type="text" 
                      placeholder="Datepicker" bsDatepicker [bsConfig]="cardTpvsDatePickerConfig"
                      [value]="currentDate | date: 'dd-MM-yyyy'" type="text" 
                      class="form-control" style="width:150px;height:30px;font-size:14px;text-align:right;" readonly />
                </div>
              </div>
              <div class="form-row">   
                <label for="cardTpvName"   class="col control-label">{{formLabels.cardTpvName}}</label>
                <div class="col">
                  <input id="cardTpvName"  name="cardTpvName" formControlName="cardTpvName" type="text" 
                      class="form-control text-primary" style="width:150px;height:30px;font-size:14px;font-weight:900;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvName')"></validation-messages>
                </div>
              </div>
              <div class="form-row">   
                <label for="cardTpvShopNr"  class="col control-label">{{formLabels.cardTpvShopNr}}</label>
                <div class="col">
                  <input id="cardTpvShopNr" name="cardTpvShopNr" formControlName="cardTpvShopNr" type="text" 
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvShopNr')"></validation-messages> 
                </div>
              </div>                       
              <div class="form-row">
                <label for="cardTpvTpvNr"   class="col control-label">{{formLabels.cardTpvTpvNr}}</label>
                <div class="col">
                  <input id="cardTpvTpvNr"  name="cardTpvTpvNr" formControlName="cardTpvTpvNr" type="text" 
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/> 
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvTpvNr')"></validation-messages>              
                </div>
              </div>
              <div class="form-row">
                <label for="cardTpvSerialNr"class="col control-label">{{formLabels.cardTpvSerialNr}}</label>
                <div class="col">
                  <input id="cardTpvSerialNr" name="cardTpvSerialNr" formControlName="cardTpvSerialNr" type="text" 
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvSerialNr')"></validation-messages>              
                </div>
              </div>
              <div class="form-row">
                <label for="cardTpvContact" class="col control-label">{{formLabels.cardTpvContact}}</label>
                <div class="col">
                  <input id="cardTpvContact" name="cardTpvContact" formControlName="cardTpvContact" type="text" 
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvContact')"></validation-messages>              
                </div>
              </div>
              <div class="form-row">
                <label for="cardTpvBank"    class="col control-label">{{formLabels.cardTpvBank}}</label>
                <div class="col">
                  <select id="cardTpvBank"  name="cardTpvBank" formControlName="cardTpvBank" appSelectValidator="{{localBankAccountsRecordList[0].value}}"
                      class="form-control text-primary"  style="width:150px;height:30px;font-size:14px;font-weight:900;text-align:right;">
                      <option *ngFor="let cardTpvBank of localBankAccountsRecordList" [value]="cardTpvBank.value"> {{cardTpvBank.value}} </option>
                  </select>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvBank')"></validation-messages>              
                </div>
              </div>            
              <div class="form-row">
                <label for="cardTpvType"    class="col control-label">{{formLabels.cardTpvType}}</label>
                <div class="col">
                  <select id="cardTpvType"  name="cardTpvType" formControlName="cardTpvType" appSelectValidator="{{localTpvTypesRecordList[0].value}}" 
                      class="form-control text-primary"  style="width:150px;height:30px;font-size:14px;font-weight:900;text-align:right;">
                      <option *ngFor="let cardTpvType of localTpvTypesRecordList" [value]="cardTpvType.value"> {{cardTpvType.value}} </option>
                  </select>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvType')"></validation-messages>              
                </div>
              </div>
            </div> 
            <div class="col-7">
              <div class="form-row">                                                               
                <label for="cardTpvComis1"  class="col-5 control-label">{{formLabels.cardTpvComis1}}</label>
                <div class="col-7">
                  <input id="cardTpvComis1" name="cardTpvComis1" formControlName="cardTpvComis1" type="text" (blur)="setTwoNumberDecimal($event)"
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvComis1')"></validation-messages> 
                </div>
              </div> 
              <div class="form-row">                                                               
                <label for="cardTpvComis2"  class="col-5 control-label">{{formLabels.cardTpvComis2}}</label>
                <div class="col-7">
                  <input id="cardTpvComis2" name="cardTpvComis2" formControlName="cardTpvComis2" type="text" (blur)="setTwoNumberDecimal($event)"
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvComis2')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">                                                               
                <label for="cardTpvComis3"  class="col-5 control-label">{{formLabels.cardTpvComis3}}</label>
                <div class="col-7">
                  <input id="cardTpvComis3" name="cardTpvComis3" formControlName="cardTpvComis3" type="text" (blur)="setTwoNumberDecimal($event)"
                       class="form-control" style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvComis3')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">                                                               
                <label for="cardTpvComis4"  class="col-5 control-label">{{formLabels.cardTpvComis4}}</label>
                <div class="col-7">
                  <input id="cardTpvComis4" name="cardTpvComis4" formControlName="cardTpvComis4" type="text" (blur)="setTwoNumberDecimal($event)"
                      class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvComis4')"></validation-messages> 
                </div>
              </div>
              <div class="form-row">                                                               
                <label for="cardTpvComisTax" class="col-5 control-label">{{formLabels.cardTpvComisTax}}</label>
                <div class="col-7">
                  <input id="cardTpvComisTax" name="cardTpvComisTax" formControlName="cardTpvComisTax" type="text" (blur) = "setTwoNumberDecimal($event)" 
                        class="form-control"  style="width:150px;height:30px;font-size:14px;text-align:right;"/>
                  <validation-messages style="height:30px;font-size:14px" [control]="cardTpvForm.get('cardTpvComisTax')"></validation-messages>
                </div>
              </div>
              <div class="form-row">            
                <label for="cardTpvProvName" class="col-3 control-label">{{formLabels.cardTpvProvName}}</label> 
                <button class="col-1 btn btn-sm btn-outline-primary rounded bg-provs"(click)="selectProvBtnClick()"><i class="fas fa-hand-point-right"></i></button>
                <div class="col-6">
                  <input id="cardTpvProvName" name="cardTpvProvName" formControlName="cardTpvProvName" type="text" 
                        class="form-control text-primary" style="width:200px;height:30px;font-size:14px;font-weight:900;text-align:right;" readonly>
                </div>
                <div class="col-2 ml-0 pl-0">
                  <input id="cardTpvProvId" name="cardTpvProvId" formControlName="cardTpvProvId" type="text" 
                       class="form-control text-primary" style="width:70px;height:30px;font-size:14px;text-align:right;" readonly>
                </div>
              </div> 
              <div class="form-row">            
                <label for="cardTpvArtName" class="col-3 control-label">{{formLabels.cardTpvArtName}}</label> 
                <button class="col-1 btn btn-sm btn-outline-primary rounded bg-arts"(click)="selectArtBtnClick()"><i class="fas fa-hand-point-right"></i></button>
                <div class="col-6">
                  <input id="cardTpvArtName" name="cardTpvArtName" formControlName="cardTpvArtName" type="text" 
                        class="form-control text-primary" style="width:200px;height:30px;font-size:14px;font-weight:900;text-align:right;" readonly>
                </div>
                <div class="col-2 pl-0">
                  <input id="cardTpvArtId" name="cardTpvArtId" formControlName="cardTpvArtId" type="text" 
                       class="form-control text-primary" style="width:70px;height:30px;font-size:14px;text-align:right;" readonly>
                </div>
              </div> 
              <div class="form-row">            
                <label for="cardTpvMulti" class="col-4 control-label">{{formLabels.cardTpvMulti}}</label>            
                <label class="col-3 col-form-label" style="font-size:14px;text-align:left;"><span>Tarjeta</span></label>
                <div class="custom-control custom-switch">
                  <input  class="custom-control-input col-2 col-form-label" type="checkbox" id="cardTpvMultiSwitch" 
                        formControlName="cardTpvMulti" style="width:150px;text-align:right;">
                  <label class="custom-control-label col-form-label" style="font-size:14px;text-align:left;" for="cardTpvMultiSwitch">Vales</label>
                </div>
              </div>       
              <div class="form-row">            
                <label for="cardTpvStatus" class="col-4 control-label">{{formLabels.cardTpvStatus}}</label>            
                <label class="col-3 col-form-label" style="font-size:14px;text-align:left;"><span>Bloquear</span></label>
                <div class="custom-control custom-switch">
                  <input class="custom-control-input col-2 col-form-label" type="checkbox" id="cardTpvStatusSwitch" 
                        formControlName="cardTpvStatus" >
                  <label class="custom-control-label col-form-label" style="font-size:14px;text-align:left;" for="cardTpvStatusSwitch">Desbloquear</label>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>  
  </div> 
</div>