<!--------------------------------CARDS TOTALS GROUP---NAVBAR---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-black bg-cardTotals rounded border border-primary">
      <a class="navbar-brand text-black bg-cardTotals rounded" *ngIf="formTitles.title">{{formTitles.title}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-black bg-cardTotals rounded" *ngIf="formTitles.dates" style="height:30px;font-size:16px;font-weight:900">{{formTitles.dates}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-black bg-cardTotals rounded" style="height:30px;font-size:16px;font-weight:900" *ngIf="formTitles.totals">{{formTitles.totals}}</a>       
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2"(click)="closeCardsTotalsGroupModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>            
    </nav>  
  </div> 
</div>
<!--------------------------------CARDS TOTALS GROUP---CARD TOTAL DATA ---------------------------------------------------------------------->
<div class="row">
  <div class="col">               
    <div class="card bg-values text-black rounded border border-dark">
      <div class="card-body">
        <div class="row"> 
            <div class="col-3">
              <div class="form-row">   
                <label class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalId}}</label>
                <label class="col-8 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalId}}</label>
              </div>
              <div class="form-row">   
                <label class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvId}}</label>
                <label class="col-8 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalCardTpvId}}</label>
              </div>
              <div class="form-row">   
                <label class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvName}}</label>
                <label class="col-8 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalCardTpvName | slice:0:20}}</label>
              </div>
              <div class="form-row">   
                <label class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvBank}}</label>
                <label class="col-8 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalCardTpvBank | slice:0:20}}</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDate}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalDate | date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDateStart}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalDateStart | date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDateEnd}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalDateEnd | date:'dd-MM-yyyy'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalStatus}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalStatus}}</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalTotalMoney}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalTotalMoney | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp1Money}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalExp1Money | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp2Money}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalExp2Money | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp3Money}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalExp3Money | number:'.2-2'}}</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp4Money}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;">{{newCardTotal.cardTotalExp4Money | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExpTotal}}</label>
                <label class="col-7 col-form-label text-danger text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalExpTotal | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExpTaxesMoney}}</label>
                <label class="col-7 col-form-label text-danger text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalExpTaxesMoney | number:'.2-2'}}</label>
              </div>
              <div class="form-row">   
                <label class="col-5 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalBankMoney}}</label>
                <label class="col-7 col-form-label text-primary text-right" style="height:28px;font-size:14px;font-weight:900;">{{newCardTotal.cardTotalBankMoney | number:'.2-2'}}</label>
              </div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!--------------------------------CARDS TOTALS CREATE AND EDIT---CARD TOTAL CARD PAYOUTS NOT TOTALIZED ---------------------------------------------------------------------->
<div class="row">
  <div class="col">
    <div class="card bg-values text-black rounded border border-dark" *ngIf="showCardPayoutsList">
      <div class="card-body">                 
        <table class="table table-hover">
          <thead>
            <tr class="bg-cardTotals text-black"> 
              <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id                 | slice:0:8}}</th>               
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutId')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutId       | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardsPayoutsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutTpvId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTpvId')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTpvId    | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutTotalId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTotalId')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotalId  | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th> 
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutDate'" (click)="setOrderCardsPayoutBtnClick('cardPayoutDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardPayoutDate     | slice:0:15}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutOperationNr'" (click)="setOrderCardsPayoutBtnClick('cardPayoutOperationNr')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutOperationNr  | slice:0:15}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutMulti'" (click)="setOrderCardsPayoutBtnClick('cardPayoutMulti')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutMulti    | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutTotal'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTotal')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotal    | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th> 
              <th [class.active]="orderCardsPayoutsList === 'cardPayoutTTotal'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTTotal')" 
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTTotal    | slice:0:8}}
                  <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let cardPayout of cardPayoutsGroupList | orderBy: orderCardsPayoutsList:reverseCardsPayoutsList:caseInsensitive | filterBy: searchCardPayout ; let i = index">
              <td class="text-center"> {{i | number:'1.0-0'}}</td>
              <td class="text-right">  {{cardPayout.cardPayoutId       | number:'1.0-0'}}</td>
              <td class="text-right">  {{cardPayout.cardPayoutTpvId    | number:'1.0-0'}}</td>
              <td class="text-right">  {{cardPayout.cardPayoutTotalId  | number:'1.0-0'}}</td>
              <td class="text-center"> {{cardPayout.cardPayoutDate | date:'dd-MM-yyyy'}}</td>
              <td class="text-right">  {{cardPayout.cardPayoutOperationNr | slice:0:15}}</td>
              <td class="text-right text-primary" style="font-weight:900"> {{cardPayout.cardPayoutMulti | number:'1.0-0'}}</td>
              <td class="text-right text-primary" style="font-weight:900"> {{cardPayout.cardPayoutTotal | number:'.2-2'}}</td>
              <td class="text-right text-primary" style="font-weight:900"> {{cardPayout.cardPayoutTTotal| number:'.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>   
  </div>
</div>      