<!--------------------------------CARDS PAYOUTS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
  <div class="col">    
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-cardPayouts rounded border border-primary">
      <a class="navbar-brand text-primary bg-cardPayouts rounded">{{formTitles.hdDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-cardPayouts rounded" *ngIf="createCardPayout">{{formTitles.cardPayoutCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-cardPayouts rounded" *ngIf="!createCardPayout">{{formTitles.cardPayoutEdit}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-cardPayouts rounded mx-auto" style="font-weight:900">
        {{formTitles.tpvName}}<i class="fas fa-arrow-alt-circle-right"></i>{{formTitles.cardPayoutsSubTotalString | slice:0:20}}
      </a>
      <a class="navbar-brand text-primary bg-cardPayouts rounded mx-auto" *ngIf="formTitles.startDate" style="font-size:16px;font-weight:900">
        {{formTitles.startDate}}<i class="fas fa-long-arrow-alt-right"></i>{{formTitles.endDate}}</a>
      <div class="btn-group mr-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createCardPayout" (click)="createCardPayoutsBtnClick(cardPayoutsForm)" [disabled]="cardPayoutsForm.invalid">
          <span><i class="fas fa-save">        </i></span></button>        
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="!createCardPayout" (click)="updateCardPayoutsBtnClick(cardPayoutsForm)" [disabled]="cardPayoutsForm.invalid">
          <span><i class="fas fa-edit">        </i></span></button>             
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="ClosedCardPayoutsCreateModalBtnClick(null)"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createCardPayout" (click)="addCardPayoutsBtnClick()">
          <span><i class="fas fa-plus-square"></i></span></button>           
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" *ngIf="createCardPayout" (click)="editAllCardPayoutsBtnClick()">
          <span><i class="fas fa-pen-square"></i></span></button>           
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createCardPayout" (click)="deleteAllCardPayoutsBtnClick()">
          <span><i class="fas fa-trash"></i></span></button>           
      </div> 
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <div class="card-title text-primary form-row">
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutId}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutTpvId}}</label></div>            
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutTotalId}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutDate}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutOperationNr}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutMulti}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutTotal}}</label></div>
          <div class="col-sm text-center"><label>{{formLabels.cardPayoutDelete}}</label></div>         
        </div>
        <form>
          <div [formGroup]="cardPayoutsForm"> 
            <div formArrayName="cardPayoutsFormArray" *ngFor = "let cardPayout of cardPayoutsFormArray.controls; let i = index">
              <div [formGroupName]="i">
                <div class="form-row">                 
                  <div class="col-sm">
                    <input [id]="'cardPayoutId'+i" name="cardPayoutId" formControlName="cardPayoutId" type="text" 
                        class="form-control text-primary mx-auto" style="width:100px;font-size:14px;text-align:right;">
                  </div>
                  <div class="col-sm">
                    <input [id]="'cardPayoutTpvId'+i" name="cardPayoutTpvId" formControlName="cardPayoutTpvId" type="number" 
                      class="form-control" style="width:120px;font-size:14px;text-align:right;">  
                      <validation-messages [control]="cardPayout.get('cardPayoutTpvId')"></validation-messages>   
                  </div>
                  <div class="col-sm">
                    <input [id]="'cardPayoutTotalId'+i" name="cardPayoutTotalId" formControlName="cardPayoutTotalId" type="number" 
                      class="form-control" style="width:120px;font-size:14px;text-align:right;">  
                      <validation-messages [control]="cardPayout.get('cardPayoutTotalId')"></validation-messages>   
                  </div> 
                  <div class="col-sm"> 
                    <input [id]="'cardPayoutDate'+i" name="cardPayoutDate" class="form-control" formControlName="cardPayoutDate"
                        placeholder="Datepicker" bsDatepicker [bsConfig]="cardsDatePickerConfig"
                        [value]="cardPayoutDate | date: 'dd-MM-yyyy'"
                        type="text" style="width:150px;font-size:14px;text-align:right;font-weight:900" [readonly]="!changeCardsDate">                       
                    <validation-messages [control]="cardPayout.get('cardPayoutDate')"></validation-messages>   
                  </div>   
                  <div class="col-sm">
                    <input [id]="'cardPayoutOperationNr'+i" name="cardPayoutOperationNr" formControlName="cardPayoutOperationNr" type="number" 
                      class="form-control" style="width:120px;font-size:14p;text-align:right;">  
                      <validation-messages [control]="cardPayout.get('cardPayoutOperationNr')"></validation-messages>
                  </div>
                  <div class="col-sm">
                    <input [id]="'cardPayoutMulti'+i" name="cardPayoutMulti" formControlName="cardPayoutMulti" 
                      type="number" ng-pattern="/^[0-9]{1,7}$/"
                      class="form-control" style="width:120px;font-size:14px;text-align:right;" [readonly]="!selectedCardTpv.cardTpvMulti">  
                      <validation-messages [control]="cardPayout.get('cardPayoutMulti')"></validation-messages>              
                  </div>
                  <div class="col-sm">
                    <input [id]="'cardPayoutTotal'+i" name="cardPayoutTotal" formControlName="cardPayoutTotal" type="number" 
                      class="form-control" style="width:120px;font-size:14px;text-align:right;"
                      (blur) = "setTwoNumberDecimal($event)">  
                      <validation-messages [control]="cardPayout.get('cardPayoutTotal')"></validation-messages>   
                  </div>
                  <div class="col-sm">
                    <div *ngIf="editAllFlag" class="btn-group mr-auto" role="group">
                      <button class="btn btn-outline-primary rounded mr-2 btn-sm" *ngIf="createCardPayout" 
                          (click)="deleteOneCardPayoutBtnClick(i)"> <span><i class="fas fa-trash"></i></span></button>
                    </div> 
                  </div>                         
                </div>             
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>  
  </div> 
</div>            