<!--------------------------------CARDS TOTALS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light text-white bg-cardTotals rounded border border-primary">
        <a class="navbar-brand text-white bg-cardTotals rounded" *ngIf="formTitles.title">{{formTitles.title}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-white bg-cardTotals rounded" *ngIf="createCardTotal">{{formTitles.create}}<i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-white bg-cardTotals rounded" *ngIf="!createCardTotal">{{formTitles.edit}}<i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-white bg-cardTotals rounded" *ngIf="formTitles.dates" style="height:28px;font-size:16px;font-weight:900">{{formTitles.dates}}</a>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="createCardTotal" (click)="createCardTotalBtnClick(cardTotalForm)" 
                  [disabled]="cardTotalForm.invalid"> <span><i class="fas fa-save"></i></span></button>    
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="!createCardTotal" (click)="updateCardTotalBtnClick(cardTotalForm)" 
                  [disabled]="cardTotalForm.invalid"> <span><i class="fas fa-edit"></i></span></button>       
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2"(click)="closeCardsTotalsCreateModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
        </div>            
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2"(click)="groupCardTotalBtnClick()"><i class="fas fa-layer-group"></i></button>
          <button class="btn btn-outline-primary rounded mr-2"(click)="cleanFormCardTotalBtnClick()"><span><i class="fas fa-eraser"></i></span></button>
        </div> 
      </nav>    
<!--------------------------------CARDS TOTALS CREATE AND EDIT---CARD TOTAL FORM ---------------------------------------------------------------------->
      <div class="card bg-cardTotalsLight text-black rounded border border-dark">
        <div class="card-body">                 
          <form [formGroup]=cardTotalForm>
            <div class="row"> 
              <div class="col-5">
                <div class="form-row">   
                  <label for="cardTotalId" class="col col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalId}}</label>
                  <div class="col">
                    <input id="cardTotalId" name="cardTotalId" formControlName="cardTotalId" type="text" 
                           class="form-control text-primary" style="height:28px;width:300px;font-size:14px;text-align:right;" readonly>                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalId')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">   
                  <label for="cardTotalCardTpvId" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvId}}</label>
                  <div class="col-4">
                    <input id="cardTotalCardTpvId" name="cardTotalCardTpvId" formControlName="cardTotalCardTpvId"  type="text"                        
                           class="form-control text-primary bg-highlight" style="height:28px;width:300px;font-size:14px;text-align:right;" readonly>   
                    <validation-messages [control]="cardTotalForm.get('cardTotalCardTpvId')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3">   
                    <label for="cardTotalCardTpvName" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvName}}</label>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight col-form-label"(click)="selectCardTpvBtnClick()"><i class="fas fa-hand-point-right"></i></button> 
                  </div>
                  <div class="col-4">
                    <input id="cardTotalCardTpvName" name="cardTotalCardTpvName" class="form-control text-primary bg-highlight" formControlName="cardTotalCardTpvName"
                            (focus)="selectCardTpvBtnClick()"
                            type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" >
                    <validation-messages [control]="cardTotalForm.get('cardTotalCardTpvName')"></validation-messages>                                    
                  </div>                              
                </div>
                <div class="form-row">   
                  <label for="cardTotalCardTpvBank" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalCardTpvBank}}</label>
                  <div class="col-4">
                    <input id="cardTotalCardTpvBank" name="cardTotalCardTpvBank" class="form-control text-primary bg-highlight" formControlName="cardTotalCardTpvBank"                       
                            type="text" style="height:28px;width:300px;font-size:14px;text-align:right;" readonly>   
                    <validation-messages [control]="cardTotalForm.get('cardTotalCardTpvBank')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <label for="cardTotalDate" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDate}}</label>
                  <div class="col-4">
                    <input id="cardTotalDate" name="cardTotalDate" class="form-control text-primary" formControlName="cardTotalDate" 
                            placeholder="Datepicker" bsDatepicker [bsConfig]="cardTotalDatePickerConfig"
                            [value]="cardTotalDate | date: 'dd-MM-yyyy'"
                            type="text" style="height:28px;width:300px;font-size:14px;text-align:right;" [readonly]="!changeCardTotalDates"> 
                    <validation-messages [control]="cardTotalForm.get('cardTotalDate')"></validation-messages> 
                  </div>
                </div>  
                <div class="form-row">
                  <label for="cardTotalDateStart" class="col-3 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDateStart}}</label>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight col-form-label"(click)="changeDateStartBtnClick()"><i class="fas fa-hand-point-right"></i></button> 
                  </div>
                  <div class="col-4">
                    <input id="cardTotalDateStart" name="cardTotalDateStart" class="form-control text-primary" formControlName="cardTotalDateStart" 
                            placeholder="Datepicker" bsDatepicker [bsConfig]="cardTotalDatePickerConfig"
                            [value]="cardTotalDateStart | date: 'dd-MM-yyyy'"
                            type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" [readonly]="!changeCardTotalDates"> 
                    <validation-messages [control]="cardTotalForm.get('cardTotalDateStart')"></validation-messages> 
                  </div>
                </div> 
                <div class="form-row">
                  <label for="cardTotalDateEnd" class="col-3 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalDateEnd}}</label>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight col-form-label"(click)="changeDateEndBtnClick()"><i class="fas fa-hand-point-right"></i></button> 
                  </div>
                  <div class="col-4">
                    <input id="cardTotalDateEnd" name="cardTotalDateEnd" class="form-control text-primary" formControlName="cardTotalDateEnd" 
                            placeholder="Datepicker" bsDatepicker [bsConfig]="cardTotalDatePickerConfig"
                            [value]="cardTotalDateEnd | date: 'dd-MM-yyyy'"
                            type="text" style="height:28px;width:300px;font-size:14px;font-weight:900;text-align:right;" [readonly]="!changeCardTotalDates"> 
                    <validation-messages [control]="cardTotalForm.get('cardTotalDateEnd')"></validation-messages> 
                  </div>
                </div>  
                <div class="form-row">
                  <label for="cardTotalFactId" class="col-3 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalFactId}}</label>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight col-form-label"(click)="showCardTotalFactBtnClick()"><i class="fas fa-hand-point-right"></i></button> 
                  </div>
                  <div class="col-4">
                    <input id="cardTotalFactId" name="cardTotalFactId" class="form-control text-primary bg-highlight" formControlName="cardTotalFactId"                       
                            type="text" style="height:28px;width:300px;font-size:14px;text-align:right;" readonly>   
                    <validation-messages [control]="cardTotalForm.get('cardTotalFactId')"></validation-messages>    
                  </div>
                </div>           
                <div class="form-row">            
                  <label for="cardTotalStatus" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalStatus}}</label>            
                  <label class="col-2 col-form-label" style="height:28px;font-size:14px;font-weight:900;"><span>Bloquear</span></label>
                  <div class="custom-control custom-switch">
                    <input class="custom-control-input col-2 control-label" type="checkbox" id="cardTotalStatusSwitch" 
                            formControlName="cardTotalStatus" style="width:300px">
                    <label class="custom-control-label col-form-label" style="height:28px;font-size:14px;font-weight:900;" for="cardTotalStatusSwitch">Desbloquear</label>
                  </div>
                </div>              
              </div> 
              <div class="col-7">
                <div class="form-row">   
                  <label for="cardTotalTotalMoney" class="col-9 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalTotalMoney}}</label>
                  <div class="col-3">
                    <input id="cardTotalTotalMoney" name="cardTotalTotalMoney" formControlName="cardTotalTotalMoney" type="text" 
                           class="form-control text-primary bg-highlight" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" readonly/>
                    <validation-messages [control]="cardTotalForm.get('cardTotalTotalMoney')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3"> 
                    <label for="cardTotalExp1Money" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp1Money}}</label>
                  </div>   
                  <div class="col-3">
                    <input id="cardTotalExp1Perc" name="cardTotalExp1Perc" formControlName="cardTotalExp1Perc"  type="text" 
                           class="form-control text-primary" style="height:28px;width:80px;font-size:14px;text-align:right;" [readonly]="!cardTotalExp1Flag"/>
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp1Perc')"></validation-messages>    
                  </div>
                  <div class="col-3"></div>
                  <div class="col-3">
                    <input id="cardTotalExp1Money" name="cardTotalExp1Money" class="form-control text-danger" formControlName="cardTotalExp1Money"
                            type="text" style="height:28px;width:100px;font-size:14px;text-align:right;" [readonly]="cardTotalExp1Flag" >                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp1Money')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3"> 
                    <label for="cardTotalExp2Money" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp2Money}}</label>
                  </div>
                  <div class="col-2">
                    <input id="cardTotalExp2Perc" name="cardTotalExp2Perc" class="form-control text-primary" formControlName="cardTotalExp2Perc"
                            type="text" style="height:28px;width:80px;font-size:14px;text-align:right;" [readonly]="!cardTotalExp2Flag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp2Perc')"></validation-messages>    
                  </div>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp2PercBtnClick()"><i class="fas fa-times"></i></button> 
                  </div>   
                  <div class="col-2">
                    <input id="cardTotalTotalOper" name="cardTotalTotalOper" class="form-control text-primary" formControlName="cardTotalTotalOper"
                            type="text" style="height:28px;width:80px;font-size:12px;font-weight:900;text-align:right;" [readonly]>                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalTotalOper')"></validation-messages>    
                  </div>
                  <div class="col-1"> 
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp2MoneyBtnClick()"><i class="fas fa-layer-group"></i></button> 
                  </div>
                  <div class="col-3">
                    <input id="cardTotalExp2Money" name="cardTotalExp2Money" class="form-control text-danger" formControlName="cardTotalExp2Money"
                            type="text" style="height:28px;width:100px;font-size:14px;text-align:right;" [readonly]="cardTotalExp2Flag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp2Money')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3"> 
                    <label for="cardTotalExp3Money" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp3Money}}</label>
                  </div> 
                  <div class="col-2">
                    <input id="cardTotalExp3Perc" name="cardTotalExp3Perc" class="form-control text-primary" formControlName="cardTotalExp3Perc"
                            type="text" style="height:28px;width:80px;font-size:14px;text-align:right;" [readonly]="!cardTotalExp3Flag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp3Perc')"></validation-messages>    
                  </div>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp3PercBtnClick()"><i class="fas fa-percent"></i></button> 
                  </div> 
                  <div class="col-2"></div>
                  <div class="col-1"> 
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp3MoneyBtnClick()"><i class="fas fa-euro-sign"></i></button> 
                  </div>
                  <div class="col-3">
                    <input id="cardTotalExp3Money" name="cardTotalExp3Money" class="form-control text-danger" formControlName="cardTotalExp3Money"
                            type="text" style="height:28px;width:100px;font-size:14px;text-align:right;"[readonly]="cardTotalExp3Flag" >                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp3Money')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3"> 
                    <label for="cardTotalExp4Money" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExp4Money}}</label>
                  </div>  
                  <div class="col-2">
                    <input id="cardTotalExp4Perc" name="cardTotalExp4Perc" class="form-control text-primary" formControlName="cardTotalExp4Perc"
                            type="text" style="height:28px;width:80px;font-size:14px;text-align:right;" [readonly]="!cardTotalExp4Flag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp4Perc')"></validation-messages>    
                  </div>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp4PercBtnClick()"><i class="fas fa-percent"></i></button> 
                  </div> 
                  <div class="col-2"></div>
                  <div class="col-1"> 
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExp4MoneyBtnClick()"><i class="fas fa-euro-sign"></i></button> 
                  </div>
                  <div class="col-3">
                    <input id="cardTotalExp4Money" name="cardTotalExp4Money" class="form-control text-danger" formControlName="cardTotalExp4Money"
                            type="text" style="height:28px;width:100px;font-size:14px;text-align:right;" [readonly]="cardTotalExp4Flag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExp4Money')"></validation-messages>    
                  </div>
                </div>                
                <div class="form-row">   
                  <label for="cardTotalExpTotal" class="col-9 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExpTotal}}</label>
                  <div class="col-3">
                    <input id="cardTotalExpTotal" name="cardTotalExpTotal" class="form-control text-danger" formControlName="cardTotalExpTotal"
                            type="text" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" >                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExpTotal')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-3"> 
                    <label for="cardTotalExpTaxesMoney" class="col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExpTaxesMoney}}</label>
                  </div> 
                  <div class="col-2">
                    <input id="cardTotalExpTaxesPerc" name="cardTotalExpTaxesPerc" class="form-control text-primary" formControlName="cardTotalExpTaxesPerc"
                            type="text" style="height:28px;width:80px;font-size:14px;text-align:right;" [readonly]="!cardTotalExpTaxesFlag">                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExpTaxesPerc')"></validation-messages>    
                  </div>
                  <div class="col-1">
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExpTaxPercBtnClick()"><i class="fas fa-percent"></i></button> 
                  </div>   
                  <div class="col-2"></div>
                  <div class="col-1"> 
                    <button class="btn btn-sm btn-outline-primary rounded bg-highlight"(click)="setExpTaxMoneyBtnClick()"><i class="fas fa-euro-sign"></i></button> 
                  </div>
                  <div class="col-3">
                    <input id="cardTotalExpTaxesMoney" name="cardTotalExpTaxesMoney" type="text" formControlName="cardTotalExpTaxesMoney"
                           class="form-control text-danger" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" [readonly]>                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExpTaxesMoney')"></validation-messages>    
                  </div>
                </div> 
                <div class="form-row">   
                  <label for="cardTotalExpAdded" class="col-9 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalExpAdded}}</label>
                  <div class="col-3">
                    <input id="cardTotalExpAdded" name="cardTotalExpAdded" formControlName="cardTotalExpAdded" type="text" 
                           class="form-control text-danger" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" >                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalExpAdded')"></validation-messages>    
                  </div>
                </div>
                <div class="form-row">   
                  <label for="cardTotalBankMoney" class="col-9 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{formLabels.cardTotalBankMoney}}</label>
                  <div class="col-3">
                    <input id="cardTotalBankMoney" name="cardTotalBankMoney" class="form-control text-primary" formControlName="cardTotalBankMoney"
                            type="text" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" >                  
                    <validation-messages [control]="cardTotalForm.get('cardTotalBankMoney')"></validation-messages>    
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>          
<!--------------------------------CARDS TOTALS CREATE AND EDIT---CARD PAYOUTS SELECTION BUTTONS ---------------------------------------------------------------------->          
      <div class="row"> 
        <div class="col">
          <div class="card bg-white text-black rounded border border-dark" *ngIf="showCardPayoutsList">
            <div class="card-body">
              <div class="card-title bg-cardTotals text-black rounded border border-dark row" style="height:35px;margin-left:5px;;margin-right:5px">  
                  <a class="navbar-brand text-white rounded" style="height:28px;font-size:16px">{{formTitles.select}}<i class="fas fa-arrow-right"></i></a>
                  <a class="navbar-brand text-white rounded" style="height:28px;font-size:16px" *ngIf="formTitles.dates">{{formTitles.dates}}</a>
                  <div class="btn-group mx-auto" style="height:28px;" role="group">
                    <button class="btn btn-sm btn-outline-primary rounded mr-2"(click)="unSelectAllCardPayoutsBtnClick()"><span><i class="fas fa-eraser"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2"(click)="selectAllCardPayoutsBtnClick()"><span><i class="fas fa-check-double"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2"(click)="selectNumberCardPayoutsBtnClick()"><span><i class="fab fa-maxcdn"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2"(click)="selectDayCardPayoutsBtnClick()"><span><i class="fas fa-calendar-day"></i></span></button>
                    <button class="btn btn-sm btn-outline-primary rounded mr-2"(click)="selectDateRangeCardPayoutsBtnClick()"><span><i class="fas fa-digital-tachograph"></i></span></button>
                  </div>                      
                  <a class="navbar-brand text-white rounded" style="height:28px;font-size:16px;font-weight:900" *ngIf="formTitles.totals">{{formTitles.totals}}</a>       
                  <div class="btn-group ml-auto" style="height:28px;" role="group">
                    <button class="btn btn-sm btn-outline-primary rounded mr-2" (click)="searchCardPayoutsBtnClick()"><span><i class="fas fa-eye"></i></span></button>           
                  </div> 
              </div>
            </div>
          </div> 
        </div>
      </div> 
<!--------------------------------CARDS TOTALS CREATE AND EDIT---CARD TOTAL CARD PAYOUTS NOT TOTALIZED ---------------------------------------------------------------------->
      <div class="card bg-cardTotalsLight text-black rounded border border-dark" *ngIf="showCardPayoutsList">
        <div class="card-body">                 
          <div class="row"> 
            <div class="col">
              <table class="table table-hover">
                <thead>
                  <tr class="bg-cards" style="height:28px;margin-left:5px;;margin-right:5px" *ngIf="showSearchCardPayoutsList">
                    <th>-</th>
                    <th>-</th>
                    <th><input id="scardPayoutTpvId"         name="scardPayoutTpvId"  [(ngModel)]="searchCardPayout.cardPayoutTpvId"   type="text" 
                        class="input-group-text ml-auto" style="height:28px;width:100px;text-align:right;"></th>
                    <th><input id="scardPayoutTotalId"  name="scardPayoutTotalId"     [(ngModel)]="searchCardPayout.cardPayoutTotalId" type="text" 
                        class="input-group-text ml-auto" style="height:28px;width:100px;text-align:right;"></th>
                    <th><input id="scardPayoutDate"          name="scardPayoutDate"   [(ngModel)]="searchCardPayout.cardPayoutDate"    type="text" 
                        class="input-group-text mx-auto" style="height:28px;width:100px;text-align:center;"></th>
                    <th><input id="scardPayoutOperationNr"   name="scardPayoutOperationNr" [(ngModel)]="searchCardPayout.cardPayoutOperationNr" type="text" 
                        class="input-group-text ml-auto" style="height:28px;width:100px;text-align:right;"></th>
                    <th><input id="scardPayoutMulti"         name="scardPayoutMulti"  [(ngModel)]="searchCardPayout.cardPayoutMulti"   type="text" 
                        class="input-group-text ml-auto" style="height:28px;width:100px;text-align:right;"></th>
                    <th><input id="scardPayoutTotal"         name="scardPayoutTotal"  [(ngModel)]="searchCardPayout.cardPayoutTotal"   type="text" 
                        class="input-group-text ml-auto" style="height:28px;width:100px;text-align:right;"></th>
                    <th>-</th>                
                  </tr>
                  <tr class="bg-cardTotals text-white"> 
                    <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id                 | slice:0:8}}</th>               
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutId')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutId       | slice:0:8}}
                      <span [hidden]="!reverseCardsPayoutsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseCardsPayoutsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutTpvId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTpvId')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTpvId    | slice:0:8}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutTotalId'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTotalId')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotalId  | slice:0:8}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th> 
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutDate'" (click)="setOrderCardsPayoutBtnClick('cardPayoutDate')" 
                      class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.cardPayoutDate     | slice:0:15}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutOperationNr'" (click)="setOrderCardsPayoutBtnClick('cardPayoutOperationNr')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutOperationNr  | slice:0:15}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutMulti'" (click)="setOrderCardsPayoutBtnClick('cardPayoutMulti')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutMulti    | slice:0:8}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>
                    <th [class.active]="orderCardsPayoutsList === 'cardPayoutTotal'" (click)="setOrderCardsPayoutBtnClick('cardPayoutTotal')" 
                      class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.cardPayoutTotal    | slice:0:8}}
                      <span [hidden]="!reverseCardsPayoutsList">▼</span>  <span [hidden]="reverseCardsPayoutsList">▲</span> </th>              
                    <th>{{formTitles.select | slice:0:6}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let cardPayout of cardPayoutsSelectList | orderBy: orderCardsPayoutsList:reverseCardsPayoutsList:caseInsensitive | filterBy: searchCardPayout ; let i = index">
                    <td class="text-center">  {{i}}</td>
                    <td class="text-right">   {{cardPayout.cardPayoutId}}</td>
                    <td class="text-right">   {{cardPayout.cardPayoutTpvId}}</td>
                    <td class="text-right">   {{cardPayout.cardPayoutTotalId}}</td>
                    <td class="text-center text-primary" style="font-weight:900"> {{cardPayout.cardPayoutDate   | date:'dd-MM-yyyy'}}</td>
                    <td class="text-right" style="font-weight:900"> {{cardPayout.cardPayoutOperationNr}}</td>
                    <td class="text-right">   {{cardPayout.cardPayoutMulti}}</td>
                    <td class="text-right" style="font-weight:900"> {{cardPayout.cardPayoutTotal  | number:'.2-2'}}</td>
                    <td><label class ="checkbox-inline">
                      <input type = "checkbox" [(ngModel)]="cardPayout.cardPayoutSelected" (change)="updateCardTotals(cardPayout)"></label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>   
        </div>
      </div>   
    </div>
  </div>
  