<div class="container">
  <!-------------------------------- ARTS --- NAVBAR ---------------------------------------------------------------------->
  <div class="row">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary">
        <a class="navbar-brand text-primary bg-white rounded">{{formTitles.arts}} <i class="fas fa-thumbs-up"></i></a>
        <div class="btn-group mx-auto" role="group">
            <button class="btn btn-outline-primary rounded mr-2" (click)="showAllArtsBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
        </div>
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="openDepListBtnClick()"><span><i class="far fa-clone"></i></span></button> 
          <button class="btn btn-outline-danger rounded mr-2" (click)="openSubDepListBtnClick()"><span><i class="far fa-images"></i></span></button> 
          <button class="btn btn-outline-danger rounded mr-2" (click)="openArtTypeListBtnClick()"><span><i class="fas fa-tags"></i></span></button> 
        </div>    
      </nav>
    </div>
  </div>
  <!-------------------------------- ARTS ---LIST  LIST2 ---------------------------------------------------------------------->
  <div class="row" *ngIf="showArtsList || showArtsList2">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-arts rounded border border-primary">
        <a class="navbar-brand text-primary bg-arts rounded">{{formTitles.artsList}}<i class="fas fa-arrow-alt-circle-right"></i></a>  
        <a class="navbar-brand text-danger  bg-arts rounded" style="font-size:16px;font-weight:900">{{formTitles.artsTotalString}}</a>
        <div class="btn-group mr-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowArtsListBtnClick()"> <span> <i class="fas fa-list-ol"></i></span> </button>
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-8" (click)="createArtBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" (click)="selectArtsByArtTypeBtnClick()">   <span><i class="fas fa-filter"></i></span></button>
        </div>         
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="searchArtsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllArtsBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>
    </div>
  </div>
  <!-------------------------------- ARTS -- SELECTED ARTYPE ---------------------------------------------------------------------->
  <div class="row" *ngIf="showSelectedArtType">
    <div class="col"  [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
        <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.dep | slice:0:40}}<i class="fas fa-long-arrow-alt-right"></i></a>  
        <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedDep | slice:0:100}}</a>    
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
        <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.subDep | slice:0:40}}<i class="fas fa-long-arrow-alt-right"></i></a>  
        <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedSubDep | slice:0:100}}</a>    
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
         <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.artType | slice:0:40}}<i class="fas fa-long-arrow-alt-right"></i></a>  
        <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedArtType | slice:0:100}}</a>    
      </nav>
    </div>
  </div>       
  <!-------------------------------- ARTS --- TABLE ---------------------------------------------------------------------->
  <div class="row" *ngIf="showArtsList">
    <div class="col" [style.top.px]="globalVar.topData">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-arts" *ngIf="showSearchArts">
                <th>-</th>
                <th>-</th>
                <th><input id="artDate"         name="artDate"        [(ngModel)]="searchArt.artDate"
                    type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
                <th><input id="artName"         name="artName"        [(ngModel)]="searchArt.artName"
                    type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
                <th><input id="artLongName"     name="artLongName"    [(ngModel)]="searchArt.artLongName"
                    type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
                <th><input id="artType"         name="artType"        [(ngModel)]="searchArt.artType"
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="artSize"         name="artSize"        [(ngModel)]="searchArt.artSize" 
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="artMeasurement"  name="artMeasurement" [(ngModel)]="searchArt.artMeasurement" 
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="artUnitPrice"    name="artUnitPrice"   [(ngModel)]="searchArt.artUnitPrice" 
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="artPackageUnits" name="artPackageUnits"[(ngModel)]="searchArt.artPackageUnits"
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>               
                <th><input id="artPackagePrice" name="artPackagePrice"[(ngModel)]="searchArt.artPackagePrice"
                    type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
                <th><input id="artTax"          name="artTax"         [(ngModel)]="searchArt.artTax"
                    type="text" class="input-group-text" style="width:50px;text-align:right;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>                
              </tr>
              <tr class="bg-listheading">
                <th>{{formLabels.id | slice:0:5}}</th>               
                <th [class.active]="orderArtsList === 'artId'" (click)="setOrderBtnClick('artId')">
                  {{formLabels.artId | slice:0:5}}
                  <span [hidden]="!reverseArtsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseArtsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderArtsList === 'artDate'" (click)="setOrderBtnClick('artDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">{{formLabels.artDate | slice:0:8}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artName'" (click)="setOrderBtnClick('artName')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.artName | slice:0:15}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artLongName'" (click)="setOrderBtnClick('artLongName')" 
                  class="mdl-data-table__cell--non-numeric text-left">{{formLabels.artLongName | slice:0:10}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artType'" (click)="setOrderBtnClick('artType')" 
                  class="mdl-data-table__cell--non-numeric text-right"><i class="fas fa-wine-bottle"></i>&nbsp;<i class="fas fa-drumstick-bite"></i>
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artSize'" (click)="setOrderBtnClick('artSize')" 
                  class="mdl-data-table__cell--non-numeric text-right"><i class="fas fa-bong"></i>                  
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th> 
                <th [class.active]="orderArtsList === 'artMeasurement'" (click)="setOrderBtnClick('artMeasurement')" 
                  class="mdl-data-table__cell--non-numeric text-right"><i class="fas fa-balance-scale"></i>
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artUnitPrice'" (click)="setOrderBtnClick('artUnitPrice')" 
                  class="mdl-data-table__cell--non-numeric text-right">{{formLabels.artUnitPrice | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artPackageUnits'" (click)="setOrderBtnClick('artPackageUnits')" 
                  class="mdl-data-table__cell--non-numeric text-right">{{formLabels.artPackageUnits | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artPackagePrice'" (click)="setOrderBtnClick('artPackagePrice')" 
                  class="mdl-data-table__cell--non-numeric text-right">{{formLabels.artPackagePrice | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>  
                <th [class.active]="orderArtsList === 'artTax'" (click)="setOrderBtnClick('artTax')" 
                  class="mdl-data-table__cell--non-numeric text-right">{{formLabels.artTax | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>                 
                <th [class.active]="orderArtsList === 'artStatus'" (click)="setOrderBtnClick('artStatus')" 
                  class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>                
                <th>{{formTitles.edit   | slice:0:6}}</th>
                <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.delete | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let art of arts | orderBy: orderArtsList:reverseArtsList:caseInsensitive | filterBy: searchArt ; let i = index">
                <td class="text-right">   {{i                   | number:'1.0-0'}}</td>
                <td class="text-right">   {{art.artId           | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900">    {{art.artDate  | date:'dd-MM-yyyy'}}</td>
                <td class="text-left" style="font-weight:900">  {{art.artName         | slice:0:15}}</td>
                <td class="text-left" >   {{art.artLongName     | slice:0:10}}</td>
                <td class="text-right">   {{art.artType         | slice:0:5}}</td>
                <td class="text-right">   {{art.artSize         | number:'.6-6'}}</td>
                <td class="text-right">   {{art.artMeasurement  | slice:0:5}}</td>
                <td class="text-right" style="font-weight:900"> {{art.artUnitPrice    | number:'.4-4'}}</td>
                <td class="text-right">   {{art.artPackageUnits | number:'.2-2'}}</td>
                <td class="text-right">   {{art.artPackagePrice | number:'.6-6'}}</td>
                <td class="text-right">   {{art.artTax          | number:'.2-2'}}</td>
                <td *ngIf="art.artStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!art.artStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editArtBtnClick(art)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockArtBtnClick(art)"> 
                        <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneArtBtnClick(art)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>       
  <!-------------------------------- ARTS --- TABLE2 ---------------------------------------------------------------------->
  <div class="row" *ngIf="showArtsList2">
    <div class="col" [style.top.px]="globalVar.topData">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-arts" *ngIf="showSearchArts">
                <th>-</th>
                <th>-</th>
                <th><input id="artDate"         name="artDate"        [(ngModel)]="searchArt.artDate"
                  type="text" class="input-group-text mx-auto"    style="width:70px;text-align:center;"></th>               
                <th><input id="artName"         name="artName"        [(ngModel)]="searchArt.artName"
                    type="text" class="input-group-text mr-auto"  style="width:100px;text-align:left;"></th>
                <th><input id="artType"         name="artType"        [(ngModel)]="searchArt.artType"
                    type="text" class="input-group-text mr-auto"    style="width:50px;text-align:left;"></th>  
                <th><input id="artReference"    name="artReference"   [(ngModel)]="searchArt.artReference"
                     type="text" class="input-group-text mr-auto"  style="width:70px;text-align:left;"></th>                                        
                <th><input id="artPackagePrice" name="artPackagePrice"[(ngModel)]="searchArt.artPackagePrice"
                    type="text" class="input-group-text ml-auto"  style="width:50px;text-align:right;"></th>
                <th><input id="artTax"          name="artTax"         [(ngModel)]="searchArt.artTax"
                    type="text" class="input-group-text ml-auto"  style="width:50px;text-align:right;"></th>
                <th><input id="artPackagePrice" name="artPackagePrice"[(ngModel)]="searchArt.artPackagePrice"
                    type="text" class="input-group-text ml-auto"  style="width:50px;text-align:right;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>     
                <th>-</th>
                <th>-</th>            
              </tr>
              <tr class="bg-listheading">
                <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.id           | slice:0:8}}</th>               
                <th [class.active]="orderArtsList === 'artId'" (click)="setOrderBtnClick('artId')"
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artId        | slice:0:8}}
                  <span [hidden]="!reverseArtsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseArtsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderArtsList === 'artDate'" (click)="setOrderBtnClick('artDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.artDate      | slice:0:8}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>                
                <th [class.active]="orderArtsList === 'artName'" (click)="setOrderBtnClick('artName')" 
                  class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artName      | slice:0:20}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artType'" (click)="setOrderBtnClick('artType')" 
                  class="mdl-data-table__cell--non-numeric text-left">   {{formLabels.artType      | slice:0:14}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>    
                <th [class.active]="orderArtsList === 'artReference'" (click)="setOrderBtnClick('artReference')" 
                  class="mdl-data-table__cell--non-numeric text-left">   {{formLabels.artReference  | slice:0:12}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>                             
                <th [class.active]="orderArtsList === 'artPackagePrice'" (click)="setOrderBtnClick('artPackagePrice')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artPackagePrice | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>  
                <th [class.active]="orderArtsList === 'artTax'" (click)="setOrderBtnClick('artTax')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artTax       | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>
                <th [class.active]="orderArtsList === 'artPackagePrice'" (click)="setOrderBtnClick('artPackagePrice')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artPackagePrice | slice:0:5}}
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>                
                <th [class.active]="orderArtsList === 'artStatus'" (click)="setOrderBtnClick('artStatus')" 
                  class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                  <span [hidden]="!reverseArtsList">▼</span>  <span [hidden]="reverseArtsList">▲</span> </th>  
                <th>{{formTitles.listArtFacts      | slice:0:6}}</th>              
                <th>{{formTitles.listArtFactModels | slice:0:6}}</th>                            
                <th>{{formTitles.edit   | slice:0:6}}</th>
                <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.delete | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let art of arts | orderBy: orderArtsList:reverseArtsList:caseInsensitive | filterBy: searchArt ; let i = index">
                <td class="text-right">   {{i                   | number:'1.0-0'}}</td>
                <td class="text-right">   {{art.artId           | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900">    {{art.artDate  | date:'dd-MM-yyyy'}}</td>
                <td class="text-left" style="font-weight:900">  {{art.artName         | slice:0:20}}</td>
                <td class="text-left">    {{art.artType         | slice:0:14}}</td>
                <td class="text-left">    {{art.artReference    | slice:0:12}}</td>
                <td class="text-right">   {{art.artPackagePrice | number:'.2-2'}}</td>
                <td class="text-right">   {{art.artTax          | number:'.2-2'}}</td>
                <td class="text-right">   {{ ( (art.artPackagePrice) + ((art.artPackagePrice)*(art.artTax)/100) ) | number:'.2-2'}}</td>
                <td *ngIf="art.artStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!art.artStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listArtsFactsWithThisArtBtnClick(art)"> <span> <i class="far fa-images"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listArtsFactModelsWithThisArtBtnClick(art)"> <span> <i class="fas fa-tags"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editArtBtnClick(art)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockArtBtnClick(art)"> 
                        <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneArtBtnClick(art)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  

</div> 
