<!--------------------------------ART TYPES CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
    <div class="col">    
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artTypes rounded border border-primary">
        <a class="navbar-brand text-primary bg-artTypes rounded" *ngIf="formTitles.artTypesDate">{{formTitles.artTypesDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-artTypes rounded" *ngIf="formTitles.artTypesTitle">{{formTitles.artTypesTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-artTypes rounded" *ngIf="createArtType">{{formTitles.artTypeCreate}}<i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-primary bg-artTypes rounded" *ngIf="editArtType">{{formTitles.artTypeEdit}}<i class="fas fa-arrow-right"></i></a>
        <div class="btn-group mr-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="createArtType" (click)="createArtTypeBtnClick(artTypeForm)" 
                  [disabled]="artTypeForm.invalid"><span><i class="fas fa-save"></i></span></button>        
          <button class="btn btn-outline-primary rounded mr-2" *ngIf="editArtType" (click)="updateArtTypeBtnClick(artTypeForm)" 
                  [disabled]="artTypeForm.invalid"><span><i class="fas fa-edit"></i></span></button>             
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="closeArtTypesCreateModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" *ngIf="editArtType" (click)="changeDisableArtTypeTagBtnClick()">
                  <span><i class="fas fa-user-edit"></i></span>
          </button> 
        </div> 
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormArtTypeBtnClick()"><span><i class="fas fa-eraser"></i></span></button>           
        </div> 
      </nav>
      <div class="card bg-artsLigth text-black rounded border border-dark">
        <div class="card-body">         
          <form [formGroup]=artTypeForm >  
            <div class="form-row">
              <label for="artTypeId" class="col-sm-3 col-form-label">{{formLabels.artTypeId}}</label>
              <div class="col-sm-4">
                <input id="artTypeId" name="artTypeId" class="form-control ml-auto" formControlName="artTypeId" 
                       type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="artTypeDate" class="col-sm-3 control-label">{{formLabels.artTypeDate}}</label>
              <div class="col-sm-4">
                <input id="artTypeDate" name="artTypeDate" class="form-control ml-auto" formControlName="artTypeDate"
                          placeholder="Datepicker" bsDatepicker [bsConfig]="artTypesDatePickerConfig"
                          [value]="currentArtTypeDate | date: 'dd-MM-yyyy'"                     
                          type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">   
              <label for="artTypeName" class="col-sm-3 control-label">{{formLabels.artTypeName}}</label>
              <div class="col-sm-4">
                <input id="artTypeName" name="artTypeName" class="form-control ml-auto" formControlName="artTypeName" 
                      type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="artTypeForm.get('artTypeName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="artTypeDescription" class="col-sm-3 control-label">{{formLabels.artTypeDescription}}</label>
              <div class="col-sm-4">
                <input id="artTypeDescription" name="artTypeDescription" class="form-control ml-auto" formControlName="artTypeDescription" 
                       type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="artTypeForm.get('artTypeDescription')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="artTypeTag" class="col-sm-3 control-label">{{formLabels.artTypeTag}}</label>
              <div class="col-sm-4">
                <input id="artTypeTag" name="artTypeTag" class="form-control ml-auto" formControlName="artTypeTag" 
                        type="text" style="width:250px;text-align:right;">
                <validation-messages [control]="artTypeForm.get('artTypeTag')"></validation-messages>    
              </div>
            </div>  
            <div class="form-row">
              <label for="artTypeSequence" class="col-sm-3 control-label">{{formLabels.artTypeSequence}}</label>
              <div class="col-sm-4">
                <input id="artTypeSequence" name="artTypeSequence" class="form-control ml-auto" formControlName="artTypeSequence" 
                        type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>
            <div class="form-row">
              <label for="artTypeSubDepName" class="col-sm-3 control-label">{{formLabels.artTypeSubDepName}}</label>
              <div class="col-sm-4">
                <select id="artTypeSubDepName"  name="artTypeSubDepName" class="form-control ml-auto" formControlName="artTypeSubDepName" 
                        appSelectValidator="{{localFactTypesSubDepsRecordList[0].value}}" style="width:250px;direction:rtl;">             
                  <option *ngFor="let artTypeSubDepName of localFactTypesSubDepsRecordList" [value]="artTypeSubDepName.value" style="direction:ltr">{{artTypeSubDepName.value}}</option>
                </select>
                <validation-messages [control]="artTypeForm.get('artTypeSubDepName')"></validation-messages>    
              </div>
            </div>
            <div class="form-row">
              <label for="artTypeSubDepId" class="col-sm-3 control-label">{{formLabels.artTypeSubDepId}}</label>
              <div class="col-sm-4">
                <input id="artTypeSubDepId" name="artTypeSubDepId" class="form-control ml-auto" formControlName="artTypeSubDepId" 
                type="text" style="width:250px;text-align:right;" readonly>
              </div>
            </div>                     
            <div class="form-row">            
              <label for="artTypeStatus" class="col-sm-3 control-label">{{formLabels.artTypeStatus}}</label>            
              <label class="col-2 col-form-label"><span>Bloquear</span></label>
              <div class="custom-control custom-switch">
                <input class="custom-control-input col-2 col-form-label" type="checkbox" id="artTypeStatusSwitch" 
                       formControlName="artTypeStatus" style="width:250px">
                <label class="custom-control-label col-form-label" for="artTypeStatusSwitch">Desbloquear</label>
              </div>
            </div>  
          </form>    
        </div>
      </div>  
    </div> 
  </div>