<!----------------------------------- ARTYPES LISTS -- NAVBAR ---------------------------------------------------------------------->
<div class="row" *ngIf="showArtTypesList">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artTypes rounded border border-primary">
      <a class="navbar-brand text-danger bg-artTypes rounded">{{formTitles.artTypesList}}<i class="fas fa-arrow-alt-circle-right"></i><i class="fas fa-arrow-alt-circle-right"></i><i class="fas fa-arrow-alt-circle-right"></i></a>  
      <a class="navbar-brand text-danger  bg-artTypes rounded" style="font-size:16px;font-weight:900">{{formTitles.artTypesTotalString}}</a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-8" (click)="createArtTypeBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
      </div>    
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="closedArtTypesListModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div>                 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="checkGenericArtTypesBtnClick()"> <span> <i class="fas fa-check"></i></span> </button>
      </div>   
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-danger rounded mr-2" (click)="searchArtTypesBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
        <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllArtTypesBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
      </div>  
    </nav>
  </div>
</div> 
<!----------------------------------- ARTYPES LISTS -- SELECTED SUBDEP ---------------------------------------------------------------------->
<div class="row" *ngIf="showSelectedSubDep">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.dep}}<i class="fas fa-long-arrow-alt-right"></i></a>  
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedDep}}</a>    
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-artsLigth rounded border border-primary">
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px;font-weight:900">{{formTitles.subDep}}<i class="fas fa-long-arrow-alt-right"></i></a>  
      <a class="navbar-brand text-danger bg-artsLigth rounded" style="font-size:16px">{{formTitles.selectedSubDep}}</a>    
    </nav>
  </div>
</div> 
<!----------------------------------- ARTYPES LISTS -- TABLE ---------------------------------------------------------------------->
<div class="row" *ngIf="showArtTypesList">
  <div class="col">      
    <div class="card bg-artsLigth text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-deps" *ngIf="showSearchArtTypes">
              <th>-</th>
              <th>-</th>
              <th><input id="artTypeDate"        name="artTypeDate"        [(ngModel)]="searchArtType.artTypeDate"
                  type="text" class="input-group-text mx-auto" style="width:70px;text-align:center;"></th>
              <th><input id="artTypeName"        name="artTypeName"        [(ngModel)]="searchArtType.artTypeName"
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="artTypeTag"         name="artTypeTag"         [(ngModel)]="searchArtType.artTypeTag"
                  type="text" class="input-group-text mr-auto" style="width:50px;text-align:left;"></th>
              <th><input id="artTypeSequence"    name="artTypeSequence"    [(ngModel)]="searchArtType.artTypeSequence"
                  type="text" class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
              <th><input id="artTypeDepName"     name="artTypeDepName"     [(ngModel)]="searchArtType.artTypeSubDepName"
                  type="text" class="input-group-text mr-auto" style="width:70px;text-align:left;"></th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>
              <th>-</th>                
            </tr>
            <tr class="bg-listheading">
              <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.id           | slice:0:8}}</th>               
              <th [class.active]="orderArtTypesList === 'artTypeId'" (click)="setArtTypeOrderBtnClick('artTypeId')"
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artTypeId    | slice:0:8}}
                <span [hidden]="!reverseArtTypesList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseArtTypesList"><i class="fas fa-arrow-circle-up"></i></span> </th>
              <th [class.active]="orderArtTypesList === 'artTypeDate'" (click)="setArtTypeOrderBtnClick('artTypeDate')" 
                class="mdl-data-table__cell--non-numeric text-center">  {{formLabels.artTypeDate  | slice:0:8}}
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th>
              <th [class.active]="orderArtTypesList === 'artTypeName'" (click)="setArtTypeOrderBtnClick('artTypeName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artTypeName | slice:0:32}}
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th>             
              <th [class.active]="orderArtTypesList === 'artTypeTag'" (click)="setArtTypeOrderBtnClick('artTypeTag')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artTypeTag | slice:0:14}}
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th>      
              <th [class.active]="orderArtTypesList === 'artTypeSequence'" (click)="setArtTypeOrderBtnClick('artTypeSequence')" 
                class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.artTypeSequence | slice:0:5}}
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th> 
              <th [class.active]="orderArtTypesList === 'artTypeSubDepName'" (click)="setArtTypeOrderBtnClick('artTypeSubDepName')" 
                class="mdl-data-table__cell--non-numeric text-left">    {{formLabels.artTypeSubDepName | slice:0:15}}
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th>                        
              <th [class.active]="orderArtTypesList === 'artTypeStatus'" (click)="setArtTypeOrderBtnClick('artTypeStatus')" 
                class="mdl-data-table__cell--non-numeric"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                <span [hidden]="!reverseArtTypesList">▼</span>  <span [hidden]="reverseArtTypesList">▲</span> </th>     
              <th>{{formTitles.addArts | slice:0:10}}</th>                        
              <th>{{formTitles.edit    | slice:0:6}}</th>
              <th><i class="fas fa-lock"></i><i class="fas fa-exchange-alt"></i><i class="fas fa-unlock-alt"></i></th>
              <th>{{formTitles.delete  | slice:0:6}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let artType of artTypes | orderBy: orderArtTypesList:reverseArtTypesList:caseInsensitive | filterBy: searchArtType ; let i = index">
              <td class="text-right">   {{i                          | number:'1.0-0'}}</td>
              <td class="text-right">   {{artType.artTypeId          | number:'1.0-0'}}</td>
              <td class="text-center text-primary" style="font-weight:900">    {{artType.artTypeDate     | date:'dd-MM-yyyy'}}</td>
              <td class="text-left" style="font-weight:900">  {{artType.artTypeName         | slice:0:32}}</td>
              <td class="text-left">    {{artType.artTypeTag         | slice:0:14}}</td>
              <td class="text-right">   {{artType.artTypeSequence    | number:'1.0-0'}}</td>
              <td class="text-left">    {{artType.artTypeSubDepName  | slice:0:15}}</td>
              <td *ngIf="artType.artTypeStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!artType.artTypeStatus"><i class="fas fa-lock"></i></td>
              <td>
                <button class="btn btn-outline-success rounded mr-2 btn-sm" (click)="listArtsInArtTypeBtnClick(artType)"><span><i class="fas fa-tags"></i></span></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editArtTypeBtnClick(artType)"><span><i class="fas fa-edit"></i></span></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockArtTypeBtnClick(artType)"><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></button>
              </td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneArtTypeBtnClick(artType)]"><span><i class="fas fa-trash"></i></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  