<!--------------------------------DEPS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
  <div class="col">    
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-deps rounded border border-primary">
      <a class="navbar-brand text-primary bg-deps rounded" *ngIf="formTitles.depsDate">{{formTitles.depsDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-deps rounded" *ngIf="formTitles.depsTitle">{{formTitles.depsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-deps rounded" *ngIf="createDep">{{formTitles.depCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-deps rounded" *ngIf="editDep">{{formTitles.depEdit}}<i class="fas fa-arrow-right"></i></a>
      <div class="btn-group mr-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createDep" (click)="createDepBtnClick(depForm)" 
                [disabled]="depForm.invalid"><span><i class="fas fa-save"></i></span></button>        
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="editDep" (click)="updateDepBtnClick(depForm)" 
                [disabled]="depForm.invalid"><span><i class="fas fa-edit"></i></span></button>             
      </div>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closedDepsCreateModalBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-success rounded mr-2" *ngIf="!createDep" (click)="changeDisableDepNameBtnClick()">
                <span><i class="fas fa-user-edit"></i></span>
        </button> 
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormDepBtnClick()"><span><i class="fas fa-eraser"></i></span></button>           
      </div> 
    </nav>
    <div class="card bg-artsLigth text-black rounded border border-dark">
      <div class="card-body">         
        <form [formGroup]=depForm >  
          <div class="form-row">
            <label for="depId" class="col-sm-3 col-form-label">{{formLabels.depId}}</label>
            <div class="col-sm-4">
              <input id="depId" name="depId" class="form-control ml-auto" formControlName="depId" 
                     type="text" style="width:250px;text-align:right;" readonly>
            </div>
          </div> 
          <div class="form-row">   
            <label for="depDate" class="col-sm-3 control-label">{{formLabels.depDate}}</label>
            <div class="col-sm-4">
              <input id="depDate" name="depDate" class="form-control ml-auto" formControlName="depDate"
                        placeholder="Datepicker" bsDatepicker [bsConfig]="depsDatePickerConfig"
                        [value]="currentDepDate | date: 'dd-MM-yyyy'"                     
                        type="text" style="width:250px;text-align:right;" readonly>
            </div>
          </div>
          <div class="form-row">   
            <label for="depName" class="col-sm-3 control-label">{{formLabels.depName}}</label>
            <div class="col-sm-4">
              <input id="depName" name="depName" class="form-control ml-auto" formControlName="depName" 
                    type="text" style="width:250px;text-align:right;">
              <validation-messages [control]="depForm.get('depName')"></validation-messages>    
            </div>
          </div>
          <div class="form-row">
            <label for="depDescription" class="col-sm-3 control-label">{{formLabels.depDescription}}</label>
            <div class="col-sm-4">
              <input id="depDescription" name="depDescription" class="form-control ml-auto" formControlName="depDescription" 
                     type="text" style="width:250px;text-align:right;">
              <validation-messages [control]="depForm.get('depDescription')"></validation-messages>    
            </div>
          </div>
          <div class="form-row">
            <label for="depTag" class="col-sm-3 control-label">{{formLabels.depTag}}</label>
            <div class="col-sm-4">
              <input id="depTag" name="depTag" class="form-control ml-auto" formControlName="depTag" 
                      type="text" style="width:250px;text-align:right;" readonly>
              <validation-messages [control]="depForm.get('depTag')"></validation-messages>    
            </div>
          </div>            
          <div class="form-row">            
            <label for="depStatus" class="col-sm-3 control-label">{{formLabels.depStatus}}</label>            
            <label class="col-2 col-form-label"><span>Bloquear</span></label>
            <div class="custom-control custom-switch">
              <input class="custom-control-input col-2 col-form-label" type="checkbox" id="depStatusSwitch" 
                     formControlName="depStatus" style="width:250px">
              <label class="custom-control-label col-form-label" for="depStatusSwitch">Desbloquear</label>
            </div>
          </div>  
        </form>    
      </div>
    </div>  
  </div> 
</div>