<div class="row">
  <!--------------------------------HD EDIT---COL SUM RESTAS---------------------------------------------------------------------->   
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary">       
      <a class="navbar-brand text-primary bg-hds rounded" style="font-size:16px">{{formTitles.hdDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-hds rounded" style="font-size:16px">{{formTitles.hdSumsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>           
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="saveAllHdSumsBtnClick()"><span><i class="fas fa-save"></i></span></button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeHdSumsModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="addHdSumsModalBtnClick()"><span> <i class="fas fa-plus-square"></i></span></button>
      </div> 
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="deleteAllHdSumsBtnClick()"> <span> <i class="fas fa-eraser"></i></span> </button>        
      </div> 
    </nav>  
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover mx-auto">
          <thead> 
            <tr class="bg-tableheading">
              <th class="text-left  ">  {{formLabels.hdSumName  | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdSigns    | slice:0:4}}</th>
              <th class="text-right ">  {{formLabels.hdSumAmount| slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdEditList | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdDelete   | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody>    
            <tr class="table-primary" *ngFor = "let hd of wDStartHds">
              <td class="text-left  " style="font-weight:900"> {{hd.hdName   | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right " style="font-weight:900"> {{hd.hdAmount | number : '.2-2'}}</td>
              <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editSumHdsBtnClick(hd)"><span><i class="fas fa-edit"></i></span></button></td>
              <td class="text-right "></td>
            </tr>    
            <tr *ngFor = "let hd of wSumHds">
              <td class="text-left  ">  {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center">  {{formLabels.hdPlus | slice:0:4}}</td>
              <td class="text-right ">  {{hd.hdAmount       | number:'.2-2'}}</td>
              <td  class="text-right"></td>
              <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="delSumHdsBtnClick(hd)"><span><i class="fas fa-trash"></i></span> </button></td>
            </tr>  
            <tr *ngFor = "let hd of wResHds">
              <td class="text-left  ">  {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center">  {{formLabels.hdMinus| slice:0:10}}</td>
              <td class="text-right ">  {{hd.hdAmount       | number : '.2-2'}}</td>
              <td class="text-center"></td>
              <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="delResHdsBtnClick(hd)"><span><i class="fas fa-trash"></i></span> </button></td>
            </tr>
            <tr *ngFor = "let hd of wCardPayouts">
              <td class="text-left  ">  {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center">  {{formLabels.hdMinus| slice:0:4}}</td>
              <td class="text-right ">  {{hd.hdAmount       | number : '.2-2'}}</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>
            <tr class="table-primary" *ngFor = "let hd of wDEndHds">
              <td class="text-left  ">   {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right ">   {{hd.hdAmount       | number : '.2-2'}}</td>
              <td class="text-center"></td>
              <td class="text-center"></td>
            </tr>   
          </tbody>          
        </table> 
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover mx-auto">
          <thead> 
            <tr class="bg-tableheading">
              <th class="text-left">    {{formLabels.hdSumName  | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdSigns    | slice:0:4}}</th>
              <th class="text-right">   {{formLabels.hdSumAmount| slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdEditList | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdDelete   | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr class="table-primary" *ngFor = "let hd of wDContHds">
              <td class="text-left" style="font-weight:900">  {{hd.hdName   | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right" style="font-weight:900"> {{hd.hdAmount | number : '.2-2'}}</td>
              <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editSumHdsBtnClick(hd)"><span><i class="fas fa-edit"></i></span></button></td>
              <td></td>
            </tr> 
            <tr *ngFor = "let hd of wFacts">
              <td class="text-left">    {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center">  {{formLabels.hdPlus| slice:0:4}}</td>             
              <td class="text-right">   {{hd.hdAmount       | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor = "let hd of wDEndHds">
              <td class="text-left">    {{hd.hdName             | slice:0:10}}</td>
              <td class="text-center">  {{formLabels.hdMinus| slice:0:4}}</td>              
              <td class="text-right">   {{hd.hdAmount           | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bg-highlight" *ngFor = "let hd of wDinDHds">
              <td class="text-left" style="font-weight:900">    {{hd.hdName             | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right" style="font-weight:900">   {{hd.hdAmount           | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bg-highlight" *ngFor = "let hd of wDDifHds">
              <td class="text-left">    {{hd.hdName             | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right">   {{hd.hdAmount           | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>          
        </table>
      </div>
    </div>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover mx-auto">
          <thead> 
            <tr class="bg-tableheading">
              <th class="text-left">    {{formLabels.hdSumName  | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdSigns    | slice:0:4}}</th>
              <th class="text-right">   {{formLabels.hdSumAmount| slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdEditList | slice:0:10}}</th>
              <th class="text-center">  {{formLabels.hdDelete   | slice:0:10}}</th>
            </tr>
          </thead>
          <tbody> 
            <tr class="table-primary" *ngFor = "let hd of wDinTHds">
              <td class="text-left">    {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right">   {{hd.hdAmount       | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="table-primary" *ngFor = "let hd of wDinDHds">
              <td class="text-left">    {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right">   {{hd.hdAmount       | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr class="bg-highlight" *ngFor = "let hd of wDinFHds">
              <td class="text-left">    {{hd.hdName         | slice:0:10}}</td>
              <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
              <td class="text-right">   {{hd.hdAmount       | number : '.2-2'}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>          
        </table>
      </div>
    </div>
  </div>  
</div>