<div class="row">
  <!--------------------------------HD EDIT---COL TPVS---------------------------------------------------------------------->
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary">
      <a class="navbar-brand text-primary bg-hds rounded ">{{formTitles.hdDate}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-hds rounded ">{{formTitles.hdTpvTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="saveHdTpvBtnClick(hdTpvsForm)" [disabled]="hdTpvsForm.invalid">
          <span><i class="fas fa-save"></i></span> </button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeHdTpvsModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanHdTvpsFormBtnClick(hdTpvsForm)"> <span> <i class="fas fa-eraser"></i></span> </button>        
      </div> 
    </nav>
  
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <div class="card-title text-primary row">
          <div class="col-sm-3 text-center"><label>{{formTitles.hdTpvSales}}</label></div>
          <div class="col-sm-2 text-center"><label>{{formLabels.hdTpvNumber}}</label></div>
          <div class="col-sm-2 text-center"><label>{{formLabels.hdTpvTickets}}</label></div>
          <div class="col-sm-2 text-center"><label>{{formLabels.hdTpvTicket}}</label></div>            
          <div class="col-sm-2 text-center"><label>{{formLabels.hdTpvMoney}}</label></div>
        </div>
        <form>
          <div [formGroup]="hdTpvsForm">
            <div formArrayName="hdTpvsFormArray" *ngFor = "let tpv of hdTpvsFormArray.controls; let i = index">
              <div [formGroupName]="i">
                <div class="form-row">                 
                  <div class="col-sm-3">
                    <input [id]="'tpvName'+i" name="tpvName" formControlName="tpvName" 
                      type="text" class="form-control text-primary mx-auto"
                      [ngStyle]="( ((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||
                                   (tpv.get('tpvType').value=='TPV3T')||(tpv.get('tpvType').value=='TPVT')) )? {'font-weight':900}:{'font-weight':400}" >                     
                  </div>   
                  <div class="col-sm-2">
                    <input [id]="'tpvNumber'+i" name="tpvNumber" formControlName="tpvNumber" 
                      type="number" class="form-control mx-auto" style="width:80px;text-align:right;"                     
                      [readonly]="((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||
                                  (tpv.get('tpvType').value=='TPV3T')||(tpv.get('tpvType').value=='TPVT'))"
                      [ngClass]="{'is-invalid':tpv.get('tpvNumber').touched && tpv.get('tpvNumber').invalid}">  
                    <validation-messages [control]="tpv.get('tpvNumber')"></validation-messages>               
                  </div>   
                  <div class="col-sm-2">
                    <input [id]="'tpvTickets'+i" name="tpvTickets" formControlName="tpvTickets" 
                      type="number" class="form-control mx-auto" style="width:80px;text-align:right;"
                      [readonly]="((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||
                                  (tpv.get('tpvType').value=='TPV3T')||(tpv.get('tpvType').value=='TPVT'))"
                      [ngClass]="{'is-invalid':tpv.get('tpvTickets').touched && tpv.get('tpvTickets').invalid}"> 
                    <validation-messages [control]="tpv.get('tpvTickets')"></validation-messages>              
                  </div>  
                  <div class="col-sm-2">
                    <input [id]="'tpvTicket'+i" name="tpvTicket" formControlName="tpvTicket" 
                      type="number" class="form-control mx-auto" style="width:100px;text-align:right;" 
                      (blur) = "setTwoNumberDecimal($event)"     
                      [class.text-primary]="((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||
                                            (tpv.get('tpvType').value=='TPV3T')||(tpv.get('tpvType').value=='TPVT'))"
                      [ngClass]="{'is-invalid':tpv.get('tpvTicket').touched && tpv.get('tpvTicket').invalid}">                     
                    <validation-messages [control]="tpv.get('tpvTicket')"></validation-messages>    
                  </div>   
                  <div class="col-sm-2">
                    <input [id]="'tpvMoney'+i" name="tpvMoney" formControlName="tpvMoney" 
                      type="number" class="form-control mx-auto" style="width:100px;text-align:right;"
                      (blur) = "setTwoNumberDecimal($event)"                                                            
                      [class.text-primary]="((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||
                                            (tpv.get('tpvType').value=='TPV3T')||(tpv.get('tpvType').value=='TPVT'))"
                      [class.is-invalid]="(tpv.get('tpvMoney').touched && tpv.get('tpvMoney').invalid)">
                    <validation-messages [control]="tpv.get('tpvMoney')"></validation-messages>                       
                  </div>                              
                </div>  
                <div class="row" *ngIf="((tpv.get('tpvType').value=='TPV1T')||(tpv.get('tpvType').value=='TPV2T')||(tpv.get('tpvType').value=='TPV3T'))">
                    <div class="col-sm-3"><hr style="border-top: 6px solid rgb(51, 170, 206); background: transparent"/></div>
                    <div class="col-sm-2"><hr style="border-top: 6px solid rgb(51, 170, 206); background: transparent"/></div>
                    <div class="col-sm-2"><hr style="border-top: 6px solid rgb(51, 170, 206); background: transparent"/></div>
                    <div class="col-sm-2"><hr style="border-top: 6px solid rgb(51, 170, 206); background: transparent"/></div>   
                    <div class="col-sm-2"><hr style="border-top: 6px solid rgb(51, 170, 206); background: transparent"/></div>    
                </div>             
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>