<div class="container">
  <!--------------------------------HD---NAVBAR---------------------------------------------------------------------->
  <div class="row">     
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-white rounded border border-primary ml-auto"> 
        <a class="navbar-brand text-primary bg-white rounded">
          <i class="text-danger text-capitalize font-weight-bold">{{globalVar.currentBar}}...</i><i class="fas fa-long-arrow-alt-right"></i>
          {{formTitles.hds}} <i class="fas fa-thumbs-up"></i></a>      
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowHdListBtnClick()"><span><i class="fas fa-list-ol"></i></span></button>
        </div> 
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="enterHdsMonthBtnClick()"><span><i class="far fa-calendar-plus"></i></span></button>
        </div>  
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="changeHdTypeListBtnClick()"><span><i class="fas fa-cogs"></i></span></button>
        </div>
      </nav>
    </div>
  </div> 
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------HD CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
  <div class="row" *ngIf="showHd || showEditHd || showCreateHd">  
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary ml-auto" *ngIf="!showCreateHd"> 
        <a class="navbar-brand text-success bg-hds rounded">{{this.formTitles.hdDate}} <i class="fas fa-arrow-alt-circle-right"></i>
          {{formTitles.hdEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>        
        <div class="btn-group mr-auto" role="group">          
          <button class="btn btn-outline-primary rounded mr-2" (click)="showEditHdTpvsBtnClick()">
            <span><i class="fas fa-desktop"></i></span></button>
        </div>
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-info rounded mr-2" (click)="showEditHdSumBtnClick()">
            <span><i class="fas fa-list">        </i></span></button>           
        </div>  
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-success rounded mr-2" (click)="showEditHdFactsBtnClick()">
            <span><i class="far fa-file-alt">   </i></span></button> <!--fas fa-receipt-->
        </div> 
        <div class="btn-group ml-auto" role="group">                                                   
          <button class="btn btn-outline-primary rounded mr-2" (click)="showEditHdVisasBtnClick()">
            <span><i class="fab fa-cc-visa">          </i></span></button>
        </div>               
      </nav>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------HD SHOW---ROW---------------------------------------------------------------------->  
  <div class="row">
    <!--------------------------------HD SHOW---COL TPVS---------------------------------------------------------------------->
    <div class="col-4 pl-2 pr-0" [style.top.px]="globalVar.topData" *ngIf="showHd">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">              
          <table class="table table-hover">
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">  {{formLabels.hdTpvName    | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></th>
                <th class="text-left">  {{formLabels.hdTpvTickets | slice:0:7 }}</th>
                <th class="text-right"> {{formLabels.hdTpvTicket  | slice:0:8 }}</th>
                <th class="text-right"> {{formLabels.hdTpvMoney   | slice:0:8 }}</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngFor = "let hdTpv of wHdTpv1">
                <td class="text-left">  {{hdTpv.hdTpvName     | slice:0:22}}      </td>
                <td class="text-right"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right"> {{hdTpv.hdTpvTicket   | number: '.2-2'  }}</td>
                <td class="text-right"> {{hdTpv.hdTpvMoney    | number: '.2-2'  }}</td>
              </tr> 
              <tr class="table-primary" *ngFor = "let hdTpv of wHdTpv1T">
                <td class="text-left"  style="font-weight:900"> {{hdTpv.hdTpvName   | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTicket | number: '.2-2'}}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvMoney  | number: '.2-2'}}</td>
              </tr> 
              <tr *ngFor = "let hdTpv of wHdTpv2">
                <td class="text-left">  {{hdTpv.hdTpvName     | slice:0:22}}    </td>
                <td class="text-right"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right"> {{hdTpv.hdTpvTicket   | number: '.2-2'}}</td>
                <td class="text-right"> {{hdTpv.hdTpvMoney    | number: '.2-2'}}</td>
              </tr> 
              <tr class="table-primary" *ngFor = "let hdTpv of wHdTpv2T">
                <td class="text-left"  style="font-weight:900"> {{hdTpv.hdTpvName   | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTicket | number: '.2-2'}}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvMoney  | number: '.2-2'}}</td>
              </tr> 
              <tr *ngFor = "let hdTpv of wHdTpv3">
                <td class="text-left">  {{hdTpv.hdTpvName     | slice:0:22}}</td>
                <td class="text-right"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right"> {{hdTpv.hdTpvTicket   | number: '.2-2'}}</td>
                <td class="text-right"> {{hdTpv.hdTpvMoney    | number: '.2-2'}}</td>
              </tr> 
              <tr class="table-primary" *ngFor = "let hdTpv of wHdTpv3T">
                <td class="text-left"  style="font-weight:900"> {{hdTpv.hdTpvName   | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTicket | number: '.2-2'}}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvMoney  | number: '.2-2'}}</td>
              </tr> 
              <tr class="bg-highlight" *ngFor = "let hdTpv of wHdTpvTT">
                <td class="text-left"  style="font-weight:900"> {{hdTpv.hdTpvName   | slice:0:22}}<i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTickets  | number: '1.0-0' }}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvTicket | number: '.2-2'}}</td>
                <td class="text-right" style="font-weight:900"> {{hdTpv.hdTpvMoney  | number: '.2-2'}}</td>
              </tr>
              <tr class="bg-highlight" *ngFor = "let hdTpv of wHdTpvTT">
                <td class="text-left">  {{formLabels.hdTpvDiff | slice:0:12}}<i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right"><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right"><i class="fas fa-long-arrow-alt-right"></i></td>               
                <td class="text-right"> {{( hdTpv.hdTpvMoney - hdTpv.hdTpvTicket)  | number: '.2-2'}}</td>
              </tr> 
            </tbody>
          </table>
        </div>
      </div>
      <div class="card bg-white text-black rounded border border-info">
        <div class="card-body"> 
          <table class="table table-hover">
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">{{formLabels.hdConcepts | slice:0:10}}</th>
                <th>{{formLabels.hdSigns}}</th>
                <th class="text-right">{{formLabels.hdAmount | slice:0:8}}</th>
              </tr>
            </thead>           
            <tbody>  
              <tr class="table-primary" *ngFor = "let hd of wDinTHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                  <td><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr> 
              <tr class="table-primary" *ngFor = "let hd of wDinDHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td>-</td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr> 
              <tr class="bg-highlight" *ngFor = "let hd of wDinFHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr> 
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--------------------------------HD SHOW---COL SUMAS RESTAS---------------------------------------------------------------------->
    <div class="col-3 px-0" [style.top.px]="globalVar.topData" *ngIf="showHd">
      <div class="card bg-white text-black rounded border border-info">
        <div class="card-body">              
          <table class="table table-hover">
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">{{formLabels.hdConcepts | slice:0:10}}</th>
                <th>{{formLabels.hdSigns}}</th>
                <th class="text-right">{{formLabels.hdAmount | slice:0:8}}</th>
              </tr>
            </thead>           
            <tbody>    
              <tr class="table-primary" *ngFor = "let hd of wDStartHds">
                <td class="text-left" style="font-weight:900">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>    
              <tr *ngFor = "let hd of wSumHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td>+</td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>  
              <tr *ngFor = "let hd of wResHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td>-</td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
              <tr *ngFor = "let card of wCardTPVs">
                <td class="text-left">{{card.hdName | slice:0:10}}</td>
                <td >-</td>
                <td class="text-right">{{card.hdAmount | number : '.2-2'}}</td>
              </tr>
              <tr class="table-primary" *ngFor = "let hd of wDEndHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card bg-white text-black rounded border border-info">
        <div class="card-body"> 
          <table class="table table-hover">
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">{{formLabels.hdConcepts | slice:0:10}}</th>
                <th>{{formLabels.hdSigns}}</th>
                <th class="text-right">{{formLabels.hdAmount | slice:0:8}}</th>
              </tr>
            </thead>           
            <tbody> 
              <tr class="table-primary" *ngFor = "let hd of wDContHds">
                <td class="text-left" style="font-weight:900">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
              <tr *ngFor = "let hd of wFacts">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td>+</td>                
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>             
              <tr *ngFor = "let hd of wDEndHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td>-</td>                
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
              <tr class="bg-highlight" *ngFor = "let hd of wDinDHds">
                <td class="text-left" style="font-weight:900">{{hd.hdName | slice:0:10}}</td>
                <td>-</td>                
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
              <tr class="bg-highlight" *ngFor = "let hd of wDDifHds">
                <td class="text-left">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!--------------------------------HD SHOW---COL FACTS---------------------------------------------------------------------->
    <div class="col px-0" [style.top.px]="globalVar.topData" *ngIf="showHd">
      <div class="card bg-white text-black rounded border border-success">
        <div class="card-body">              
          <table class="table table-hover">
            <thead></thead>
            <tbody> 
              <tr class="bg-highlight" *ngFor = "let hd of wFacts">
                <td class="text-left" style="font-weight:900">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr> 
            </tbody>
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">{{formLabels.factsProv | slice:0:10}}</th>
                <th>{{formLabels.factSigns}}</th>
                <th class="text-right">{{formLabels.factAmount | slice:0:8}}</th>
              </tr>
            </thead>           
            <tbody> 
              <tr *ngFor = "let fact of hdFacts">
                <td class="text-left">{{fact.factProvName | slice:0:10}}</td>
                <td>-</td>
                <td class="text-right">{{fact.factTotalCost | number : '.2-2'}}</td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
    <!--------------------------------HD SHOW---COL VISAS VALES---------------------------------------------------------------------->
    <div class="col pl-0 pr-2" [style.top.px]="globalVar.topData" *ngIf="showHd">
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">              
          <table class="table table-hover">
            <thead></thead>
            <tbody> 
              <tr class="bg-highlight" *ngFor = "let hd of wCardPayouts">
                <td class="text-left" style="font-weight:900">{{hd.hdName | slice:0:10}}</td>
                <td><i class="fas fa-long-arrow-alt-right"></i></td>
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number : '.2-2'}}</td>
              </tr> 
            </tbody>
            <thead>
              <tr class="bg-tableheading">
                <th class="text-left">{{formLabels.cardsTpv | slice:0:10}}</th>
                <th>{{formLabels.cardsSigns}}</th>
                <th class="text-right">{{formLabels.cardsAmount | slice:0:8}}</th>
              </tr>
            </thead>           
            <tbody> 
              <tr *ngFor = "let card of wCardTPVs">
                <td class="text-left">{{card.hdName | slice:0:10}}</td>
                <td>-</td>
                <td class="text-right">{{card.hdAmount | number : '.2-2'}}</td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>

  </div>
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------HDS---LIST---------------------------------------------------------------------->
  <div class="row" *ngIf="showHdList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary">
        <a class="navbar-brand text-primary bg-hds rounded">{{formTitles.hdListMonth}}<i class="fas fa-arrow-alt-circle-right"></i></a>
        <a class="navbar-brand text-primary bg-hds rounded">{{formTitles.hdListMonthString}}<i class="fas fa-long-arrow-alt-right"></i></a>
        <a class="navbar-brand text-primary bg-hds rounded">{{formTitles.hdListYearString}}<i class="fas fa-arrow-alt-circle-right"></i></a>       
        <a class="navbar-brand text-danger  bg-hds rounded mx-auto" style="font-size:16px;font-weight:900">{{hdsTotalString | slice:0:40}}</a>
        <a class="navbar-brand text-primary bg-hds rounded mx-auto" style="font-size:16px;font-weight:900">
          {{this.formTitles.hdListStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.hdListEnd}}         
        </a> 
        <div class="btn-group" role="group">
          <button class="btn btn-outline-primary rounded mr-8" (click)="enterHdDateBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>        
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-primary rounded mr-2" (click)="searchHdsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-primary rounded mr-2" (click)="confirmDeleteAllHdBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>       
      </nav>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-hds" *ngIf="showSearchHds">
                <th class="text-right">-</th>
                <th class="text-right">-</th>               
                <th class="text-right">-</th>
                <th class="text-right">-</th>
                <th class="text-right">-</th>
                <th><input id="shdDate"  name="shdDate"  [(ngModel)]="searchHd.hdDate"  type="text" 
                    class="input-group-text ml-auto" style="width:150px;text-align:right;"></th>
                <th class="text-right">-</th>
                <th><input id="shdNotes" name="shdNotes" [(ngModel)]="searchHd.hdNotes" type="text" 
                    class="input-group-text ml-auto" style="width:100px;text-align:right;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <tr class="bg-listheading">
                <th>{{formLabels.id | slice:0:5}}</th> 
                <th [class.active]="orderHdsList === 'hdId'"      (click)="setHdsOrderBtnClick('hdId')"
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdId}}
                  <span [hidden]="!reverseHdsList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseHdsList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderHdsList === 'hdName'"    (click)="setHdsOrderBtnClick('hdName')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdName}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdType'"    (click)="setHdsOrderBtnClick('hdType')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdType}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdOrder'" (click)="setHdsOrderBtnClick('hdOrder')"
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdOrder}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdDate'"    (click)="setHdsOrderBtnClick('hdDate')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdDate}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdAmount'"  (click)="setHdsOrderBtnClick('hdAmount')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdAmount}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdNotes'"   (click)="setHdsOrderBtnClick('hdNotes')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdNotes}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th [class.active]="orderHdsList === 'hdStatus'"   (click)="setHdsOrderBtnClick('hdStatus')" 
                  class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.hdStatus}}
                  <span [hidden]="!reverseHdsList">▼</span>  <span [hidden]="reverseHdsList">▲</span> </th>
                <th>{{formTitles.hdEditList}}</th>
                <th><i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></th>
                <th>{{formTitles.hdDelete}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let hd of listHds | orderBy: orderHdsList:reverseHdsList:caseInsensitive | filterBy:searchHd ; let i = index"> <!-- | filterBy:searchHd  -->
                <td class="text-right">{{i | number:'1.0-0'}}</td>
                <td class="text-right">{{hd.hdId}}</td>               
                <td class="text-right">{{hd.hdName}}</td>
                <td class="text-right">{{hd.hdType}}</td>
                <td class="text-right">{{hd.hdOrder}}</td>
                <td class="text-right text-primary" style="font-weight:900">{{hd.hdDate   | date:'dd-MM-yyyy'}}</td>   <!--  | date:'dd-MM-yyyy'   | slice:0:10 -->
                <td class="text-right" style="font-weight:900">{{hd.hdAmount | number:'.2-2'}}</td>
                <td class="text-right">{{hd.hdNotes}}</td>
                <td *ngIf="hd.hdStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!hd.hdStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editHdBtnClick(hd)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="lockHdBtnClick(hd)"> 
                        <span> <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                      (click)="[confirmDeleteOneHdBtnClick(hd)]"> 
                      <span> <i class="fas fa-trash"></i></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
  <!--------------------------------------------------------------------------------------------------------------------------------->
  <!--------------------------------HD TYPES------------------------------------------------------------------------->
  <div class="row" *ngIf="showHdTypesList">
    <div class="col" [style.top.px]="globalVar.topData">
      <nav class="navbar navbar-expand-lg navbar-light text-danger bg-hdTypes rounded border border-danger">
        <a class="navbar-brand text-danger bg-hdTypes rounded mr-auto">{{formTitles.hdTypesList}} <i class="fas fa-arrow-right"></i></a>
        <a class="navbar-brand text-danger bg-hdTypes rounded mr-auto" style="font-size:16px;font-weight:900">
            {{formTitles.hdTypesListString | slice:0:35}}</a> 
        <div class="btn-group mx-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-8" (click)="createOneHdTypeBtnClick()"><span><i class="fas fa-plus-square"></i></span></button>
        </div>  
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="createBarHdTypesBtnClick()"> <span> <i class="fas fa-check"></i></span> </button>
        </div>       
        <div class="btn-group ml-auto" role="group">
          <button class="btn btn-outline-danger rounded mr-2" (click)="searchHdTypesBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
          <button class="btn btn-outline-danger rounded mr-2" (click)="confirmDeleteAllHdTypesBtnClick()"><span> <i class="fas fa-trash"></i></span></button>
        </div>  
      </nav>      
      <!--------------------------------HD TYPES---LIST---------------------------------------------------------------------->
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr class="bg-hdTypes" *ngIf="showSearchHdTypes">
                <th>-</th>
                <th>-</th>
                <th><input id="shdTypeDate"         name="shdTypeDate"        [(ngModel)]="searchHdType.hdTypeDate"
                  type="text" class="input-group-text mx-auto" style="width:100px;text-align:center;"></th>
                <th><input id="shdTypeName"         name="shdTypeName"        [(ngModel)]="searchHdType.hdTypeName"  
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="shdTypeType"         name="shdTypeType"        [(ngModel)]="searchHdType.hdTypeType"  
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th><input id="shdTypePlace"        name="shdTypePlace"       [(ngModel)]="searchHdType.hdTypePlace" 
                  type="text" class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
              </tr>
              <tr class="bg-toolsheading">
                <th class="mdl-data-table__cell--non-numeric text-right">   {{formLabels.id         | slice:0:8}}</th> 
                <th [class.active]="orderHdTypesList === 'hdTypeId'" (click)="setHdTypesOrderBtnClick('hdTypeId')"
                  class="mdl-data-table__cell--non-numeric text-right">     {{formLabels.hdTypeId   | slice:0:8}}
                  <span [hidden]="!reverseHdTypesList"><i class="fas fa-arrow-circle-down"></i></span><span [hidden]="reverseHdTypesList"><i class="fas fa-arrow-circle-up"></i></span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypeDate'" (click)="setHdTypesOrderBtnClick('hdTypeDate')" 
                  class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.hdTypeDate | slice:0:8}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypeName'" (click)="setHdTypesOrderBtnClick('hdTypeName')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.hdTypeName | slice:0:18}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypeType'" (click)="setHdTypesOrderBtnClick('hdTypeType')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.hdTypeType | slice:0:18}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypePlace'" (click)="setHdTypesOrderBtnClick('hdTypePlace')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.hdTypePlace | slice:0:8}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypeOrder'" (click)="setHdTypesOrderBtnClick('hdTypeOrder')" 
                  class="mdl-data-table__cell--non-numeric text-left">      {{formLabels.hdTypeOrder | slice:0:8}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th [class.active]="orderHdTypesList === 'hdTypeStatus'" (click)="setHdTypesOrderBtnClick('hdTypeStatus')" 
                  class="mdl-data-table__cell--non-numeric text-center">    {{formLabels.hdTypeStatus | slice:0:8}}
                  <span [hidden]="!reverseHdTypesList">▼</span>  <span [hidden]="reverseHdTypesList">▲</span> </th>
                <th>{{formTitles.hdTypeEditList | slice:0:6}}</th>
                <th>{{formTitles.hdTypeDelete   | slice:0:6}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let hdType of hdTypes | orderBy: orderHdTypesList:reverseHdTypesList:caseInsensitive | filterBy: searchHdType ; let i = index">
                <td class="text-right">   {{i                   | number:'1.0-0'}}</td>
                <td class="text-right">   {{hdType.hdTypeId     | number:'1.0-0'}}</td>
                <td class="text-center text-primary" style="font-weight:900"> {{hdType.hdTypeDate  | date:'dd-MM-yyyy'}}</td>
                <td class="text-left" style="font-weight:900">    {{hdType.hdTypeName   | slice:0:18}}</td>
                <td class="text-left">    {{hdType.hdTypeType   | slice:0:18}}</td>
                <td class="text-left">    {{hdType.hdTypePlace  | slice:0:8}}</td>
                <td class="text-left">    {{hdType.hdTypeOrder  | number:'1.0-0'}}</td>
                <td *ngIf="hdType.hdTypeStatus"><i class="fas fa-unlock-alt"></i></td>
                <td *ngIf="!hdType.hdTypeStatus"><i class="fas fa-lock"></i></td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="editHdTypeBtnClick(hdType)"> <span> <i class="fas fa-edit"></i></span> </button>
                </td>
                <td>
                  <button class="btn btn-outline-primary rounded mr-2 btn-sm" (click)="[confirmDeleteOneHdTypeBtnClick(hdType)]"> <span> <i class="fas fa-trash"></i></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
