<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand bg-primary text-white rounded">..Gest-Bar-2021.. <i class="fas fa-thumbs-up"></i>
    ...<i class="text-capitalize">{{globalVar.currentBar}}</i>...</a> 
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleMenu()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarColor01">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link bg-primary text-white rounded" (click)="router.navigate(['tools'])"><i class="fas fa-cogs"></i> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-primary text-white rounded" (click)="router.navigate(['home'])"><i class="fas fa-home"></i> </a>
      </li>
      <li class="nav-item" *ngIf="!globalVar.authenticated">
        <a class="nav-link bg-primary text-white rounded" (click)="router.navigate(['login'])"><i class="fas fa-user"></i> </a>
      </li>
      <li class="nav-item" *ngIf="globalVar.authenticated">
          <a class="nav-link bg-primary text-white rounded" (click)="router.navigate(['logout'])"><i class="fas fa-sign-out"></i></a>
        </li>
      <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle bg-primary text-white rounded" id="dropdown01" ngbDropdownToggle>Bar</a>
          <div class="dropdown-menu bg-primary text-white rounded" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Presupuestos</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Menús Especiales</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Menú Diario</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Carta</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Desayunos</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Bocadillos</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Hamburguesas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Sandwiches</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Combinados</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Meriendas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Otros</a>
          </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle bg-primary text-white rounded" id="dropdown02" ngbDropdownToggle><i class="fas fa-cogs"></i></a>
          <div class="dropdown-menu bg-primary text-white rounded" aria-labelledby="dropdown02" ngbDropdownMenu>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['bares'])">Bares</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['fields'])">Campos</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['gbviews'])">Vistas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Columnas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['info'])">Info</a>
          </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle bg-primary text-white rounded" id="dropdown03" ngbDropdownToggle>Gestión</a>
          <div class="dropdown-menu bg-primary text-white rounded" aria-labelledby="dropdown03" ngbDropdownMenu>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['hojasdia'])">Hojas Día</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['provs'])">Proveedores</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['arts'])">Artículos</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['facts'])">Facturas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['cards'])">Tarjetas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['months'])">Meses</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['maqs'])">Máquinas</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Anual</a>
            <a class="dropdown-item bg-primary text-white rounded" (click)="router.navigate(['contact'])">Varios</a>
          </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" type="text">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

