

.bg-inputReadOnly {
    background-color: rgba(84, 230, 210, 0.993);
}
.bg-artFacts {
    background-color: rgba(57, 228, 57, 0.925);
}
.bg-maqs {
    background-color: rgb(245, 179, 231);
}
.bg-months {
    background-color: rgba(255, 218, 151, 0.925);
}
.bg-cardPayouts {
    background-color: rgba(229, 214, 247, 0.993);
}
.bg-cardTotals {
    background-color: rgb(255, 126, 126);
}
.bg-cardTotalsLight {
    background-color: rgb(247, 199, 199);
}
.bg-cardTpvs {
    background-color: rgba(229, 214, 247, 0.993);
}
.bg-cardTpvsLight {
    background-color: rgba(244, 236, 253, 0.993);
}
.bg-hds {
    background-color: rgba(234, 245, 187, 0.973);
}
.bg-hdTypes {
    background-color: rgba(222, 245, 121, 0.973);
}
.bg-moreProvs {
    background-color: rgba(248, 205, 205, 0.986);
}
.bg-provs {
    background-color: rgba(248, 205, 205, 0.986);
}
.bg-provsLigth {
    background-color: rgba(245, 230, 230, 0.986);
}
.bg-arts {
    background-color: rgba(195, 239, 247, 0.973);
}
.bg-artsLigth {
    background-color: rgba(228, 251, 255, 0.973);
}
.bg-deps {
    background-color: rgba(151, 201, 252, 0.966);
}
.bg-subDeps {
    background-color: rgba(128, 195, 255, 0.973);
}
.bg-artTypes {
    background-color: rgba(128, 195, 255, 0.973);
}
.border-facts {    
    border-color:     rgba(18, 143, 85, 0.952);;
}
.bg-facts {
    background-color: rgba(158, 255, 210, 0.952);
}
.bg-factsLigth {
    background-color: rgba(211, 250, 232, 0.952);
}
.bg-factModels {
    background-color: rgba(12, 221, 176, 0.829);
}
.bg-factModelsLigth {
    background-color: rgba(179, 245, 231, 0.829);
}
.bg-values {
    background-color: rgba(250, 239, 178, 0.986);
}
.bg-fields {
    background-color: rgba(250, 239, 178, 0.986);
}
.bg-delete {
    background-color: rgba(247, 250, 82, 0.856);
}
.bg-error {
    background-color: rgba(232, 243, 167, 0.945);
}
.bg-msg {
    background-color: rgba(149, 240, 243, 0.945);
}
.bg-select {
    background-color: rgba(201, 231, 29, 0.945);
}
.bg-enterName {
    background-color: rgba(228, 243, 145, 0.945);
}
.bg-enterNumber {
    background-color: rgba(228, 243, 145, 0.945);
}
.bg-enterDate {
    background-color: rgba(228, 243, 145, 0.945);
}
.bg-adding {
    background-color: rgba(94, 242, 247, 0.904);
}
.bg-updating {
    background-color: rgba(160, 240, 107, 0.884);
}
.bg-tableheading {
    background-color: rgba(218, 44, 38, 0.986);
}
.bg-tablefilterred {
    background-color: rgba(243, 193, 165, 0.986);
}
.bg-tablefilter {
    background-color: rgba(167, 247, 240, 0.986);
}
.bg-listheading {
    background-color: rgba(38, 152, 218, 0.986);
}
.bg-toolsheading {
    background-color: rgba(247, 195, 227, 0.952);
}
.bg-highlight {
    background-color: rgba(247, 250, 82, 0.856);
}
.modal{
    display:flex;
    top:10%;
}
.modalCardsHd {
    top:0%;
    left:5%;
    outline: none;
}
.modalProvsSelect {
    top:0%;
    left:10%;
    outline: none;
}
.modalFactsHd {
    top:0%;
    left:5%;
    outline: none;
}
.modalFactsCreate {
    top:0%;
    left:2%;
    outline: none;
}
.modalHd {
    top:0%;
    left:10%;
    outline: none;
}
.modalHdCards {
    top:0%;
    left:2%;
    outline: none;
}
.modalHdFacts {
    top:0%;
    left:2%;
    outline: none;
}
.modalHdSums {
    top:0%;
    left:2%;
    outline: none;
}
.modalHdSumsEdit {
    top:0%;
    left:25%;
    outline: none;
}
.modalHdSumsAdd {
    top:0%;
    left:25%;
    outline: none;
}
.modalValuesCreate {
    top:5%;
    left:3%;
    outline: none;
}
.modalValuesCreate {
    top:5%;
    left:3%;
    outline: none;
}
.modalProvs {
    top:7%;
    left:1%;
    outline: none;
}
.modalMoreProvsCreate {
    top:10%;
    left:6%;
    outline: none;
}
.modalTop-0-Left-9 {
    top     :0%;
    left    :9%;
    outline :none;
}
.modalTop-0-Left-6 {
    top     :0%;
    left    :6%;
    outline :none;
}
.modalTop-0-Left-3 {
    top     :0%;
    left    :3%;
    outline :none;
}
.modalTop-0-Left-0 {
    top     :0%;
    left    :0%;
    outline :none;
}
.my-modal {
border: solid 4px blue;
}
.my-modal .modal-header {
background-color: lime;
}
.my-modal .modal-body {
background-color: orange;
}

.form-group {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 15px;
}
.card-body {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
}
.card-title {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
}
.table {
    font-size: 15px;
  }  
.table tr,.table td {
     height: 15px;
     text-align: center
  } 
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th  {
    padding:2px; 
  }
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}