<div class="row">  
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-enterDate rounded border border-primary">
      <a class="navbar-brand text-primary bg-enterDate rounded">{{dateTitle}}<i class="fas fa-long-arrow-alt-right"></i></a>   
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="saveDateBtnClick()"><span> <i class="fas fa-save"></i></span></button>
      </div>
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div> 
    </nav>
    <div class="card bg-enterDate text-primary rounded border border-primary text-center">
      <div class="card-header">{{tLabels.header}}</div>
      <div class="card-body">
        <!-- style="width:180px;font-size:14px;font-weight:900;text-align:center;margin-left:15px;" -->
        <table class="table table-hover bg-enterDate">
          <tbody>   
            <tr>
              <td>{{tLabels.currentDate | slice:0:20}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>{{currentDate         | date: 'dd/MM/yyyy'}}</td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr> 
            <tr>
              <td>{{tLabels.workingDate | slice:0:20}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>{{localWorkingDate    | date: 'dd/MM/yyyy'}}</td>
              <td>{{tLabels.changeDate  | slice:0:22}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td> 
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                      (click)="dateDatePicker.toggle()"><span><i class="far fa-calendar-plus"></i></span> </button>
                <span bsDatepicker #dateDatePicker="bsDatepicker" placement="right" [bsConfig]="datePickerConfig" 
                      [bsValue]="localWorkingDate" (bsValueChange)="onDateChanged($event)"></span>
              </td>
            </tr>   
            <tr>
              <td>{{tLabels.workingDay  | slice:0:20}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>{{localWorkingDay     | number:'.0-0'}}</td>
              <td>{{tLabels.changeDay   | slice:0:20}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>                                   
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                      (click)="dayDatePicker.toggle()"><span><i class="far fa-calendar-plus"></i></span> </button>
                <span bsDatepicker #dayDatePicker="bsDatepicker" placement="right" [bsConfig]="dayPickerConfig" 
                      [bsValue]="localWorkingDate" (bsValueChange)="onDayChanged($event)"></span>
              </td>
            </tr>   
            <tr>
              <td>{{tLabels.workingMonth    | slice:0:20}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>{{localWorkingMonthString | slice:0:15}}</td>
              <td>{{tLabels.changeMonth     | slice:0:20}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                      (click)="monthDatePicker.toggle()"><span><i class="far fa-calendar-plus"></i></span> </button>
                <span bsDatepicker #monthDatePicker="bsDatepicker" placement="right" [bsConfig]="monthPickerConfig" 
                      [bsValue]="localWorkingDate" (bsValueChange)="onMonthChanged($event)"></span>
              </td>
            </tr> 
            <tr>
              <td>{{tLabels.workingYear | slice:0:20}}</td>
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>{{localWorkingYear    | number:'.0-0'}}</td>
              <td>{{tLabels.changeYear  | slice:0:20}}</td> 
              <td><i class="fas fa-long-arrow-alt-right"></i></td>
              <td>
                <button class="btn btn-outline-primary rounded mr-2 btn-sm" 
                      (click)="yearDatePicker.toggle()"><span><i class="far fa-calendar-plus"></i></span> </button>
                <span bsDatepicker #yearDatePicker="bsDatepicker" placement="right" [bsConfig]="yearPickerConfig" 
                      [bsValue]="localWorkingDate" (bsValueChange)="onYearChanged($event)"></span>
              </td>
            </tr> 
          </tbody>        
        </table> 
      </div>
      <div class="card-footer"> </div>       
    </div>
  </div>
</div>