<div class="row">
    <div class="col">
      <div [ngClass]="getNavbarClass(msgColor)"> 
        <a *ngIf="msgHeader != ''" class="mx-auto" style="font-weight:900" [ngClass]="getNavbarBrandClass(msgColor)">{{msgHeader}}<i class="fas fa-long-arrow-alt-right"></i></a>  
        <div class="btn-group mx-auto" role="group" *ngIf="msgDatesMode === 'day' || msgDatesMode === 'yearBefore' || msgDatesMode === 'range' || msgDatesMode === 'range1year'">
          <button class="btn btn-outline-primary rounded mr-2"(click)="saveDatesBtnClick()"><span><i class="fas fa-save"></i></span></button>
        </div>
        <div class="btn-group mx-auto" role="group" *ngIf="msgDatesMode === 'number'">
          <button class="btn btn-outline-primary rounded mr-2"(click)="saveNumbersBtnClick()"><span><i class="fas fa-save"></i></span></button>
        </div>
        <div class="btn-group ml-auto" role="group">
          <button class="mr-2" [ngClass]="getButtonClass(msgColor)"(click)="closeMessageBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
        </div>
      </div>
      <div [ngClass]="getCardClass(msgColor)">
        <div [ngClass]="getCardBodyClass(msgColor)">
          <div *ngIf="msg1 != ''" style="font-weight:900"><p>{{msg1}}</p> </div>
          <div *ngIf="msg2 != ''" style="font-weight:900"><p>{{msg2}}</p> </div>
          <div *ngIf="msg3 != ''"><p>{{msg3}}</p> </div>
          <div *ngIf="msg4 != ''"><p>{{msg4}}</p> </div>
          <div *ngIf="msg5 != ''"><p>{{msg5}}</p> </div>
          <div *ngIf="msg6 != ''"><p>{{msg6}}</p> </div>
          <div *ngIf="msg7 != ''"><p>{{msg7}}</p> </div>
        </div> 
      </div> 
      <div [ngClass]="getCardClass(msgColor)">
        <div [ngClass]="getCardBodyClass(msgColor)">       
          <table [ngClass]="getTableClass(msgColor)">
              <tbody> 
                <tr>  
                  <td class="text-center">{{tLabels.currentDate | slice:0:20}}</td>
                  <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center">{{currentDate         | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <!----------------------------------- SELECT ONE POSITIVE INTEGER NUMBER ------------------------------------------>
                <tr *ngIf="msgDatesMode === 'number'">  
                  <td class="text-center text-primary" style="font-weight:900">{{tLabels.selNumber  | slice:0:30}}</td>
                  <td class="text-center text-primary" style="font-weight:900"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center text-primary" style="font-weight:900">{{selectedNumber     | number:'1.0-0'}}</td>
                </tr>
                <!----------------------------------- SELECT ONE DAY ---------------------------------------------------------->
                <tr *ngIf="msgDatesMode === 'day' || msgDatesMode === 'yearBefore'">  
                  <td class="text-center text-primary" style="font-weight:900">{{tLabels.selDate  | slice:0:30}}</td>
                  <td class="text-center text-primary" style="font-weight:900"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center text-primary" style="font-weight:900">{{localWorkingDate | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr *ngIf="msgDatesMode === 'day' || msgDatesMode === 'yearBefore'">  
                  <td class="text-center">{{tLabels.changeSelDate | slice:0:30}}</td>
                  <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm"(click)="localDatePicker.toggle()">
                              <span><i class="far fa-calendar-plus"></i></span></button>
                      <span bsDatepicker #localDatePicker="bsDatepicker" placement="right" [bsConfig]="localDatePickerConfig" 
                              [bsValue]="localWorkingDate" (bsValueChange)="onDateChanged($event)"></span>
                  </td>
                </tr>
                <!----------------------------------- SELECT DATE RANGE ---------------------------------------------------------->
                <tr *ngIf="msgDatesMode === 'range' ||  msgDatesMode === 'range1year'">  
                  <td class="text-center text-primary" style="font-weight:900">{{tLabels.selDateRange        | slice:0:40}}</td>
                </tr>
                <tr *ngIf="msgDatesMode === 'range' ||  msgDatesMode === 'range1year'">  
                  <td class="text-center text-primary" style="font-weight:900">{{tLabels.selDateRangeStart   | slice:0:20}}</td>
                  <td class="text-center text-primary" style="font-weight:900"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center text-primary" style="font-weight:900">{{localWorkingDateRange[0]    | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr *ngIf="msgDatesMode === 'range' ||  msgDatesMode === 'range1year'"> 
                  <td class="text-center text-primary" style="font-weight:900">{{tLabels.selDateRangeEnd     | slice:0:22}}</td>
                  <td class="text-center text-primary" style="font-weight:900"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center text-primary" style="font-weight:900">{{localWorkingDateRange[1]    | date: 'dd/MM/yyyy'}}</td>
                </tr>  
                <tr *ngIf="msgDatesMode === 'range' ||  msgDatesMode === 'range1year'">  
                  <td class="text-center">{{tLabels.changeSelDateRange | slice:0:30}}</td>
                  <td class="text-center"><i class="fas fa-long-arrow-alt-right"></i></td>
                  <td class="text-center"><button class="btn btn-outline-primary rounded mr-2 btn-sm"(click)="localDatePicker.toggle()">
                              <span><i class="far fa-calendar-plus"></i></span></button>
                      <span bsDaterangepicker #localDatePicker="bsDaterangepicker" placement="right" [bsConfig]="localDatePickerConfig" 
                              [bsValue]="localWorkingDateRange" (bsValueChange)="onDateRangeChanged($event)"></span>
                  </td>
                </tr>   
            </tbody>
          </table>
          <!----------------------------------- SELECT ONE POSITIVE INTEGER NUMBER ------------------------------------------>
          <form [formGroup]=inputForm *ngIf="msgDatesMode === 'number'">
            <div class="form-row">
              <label for="inputIntegerNumber" class="col-4 col-form-label" style="height:28px;font-size:14px;font-weight:900;">{{tLabels.enterNumber}}</label>
              <div class="col-4">
                <input id="inputIntegerNumber" name="inputIntegerNumber" formControlName="inputIntegerNumber"
                        type="number"  min="1" step="1" style="height:28px;width:100px;font-size:14px;font-weight:900;text-align:right;" >  
                <validation-messages [control]="inputForm.get('inputIntegerNumber')"></validation-messages>                    
              </div>
            </div>
          </form>
        </div>
      </div>
      <div [ngClass]="getNavbarClass(msgColor)">              
        <a *ngIf="msgHeader != ''" class="mx-auto" [ngClass]="getNavbarBrandClass(msgColor)">{{msgHeader}} <i class="fas fa-long-arrow-alt-right"></i></a>  
        <div class="btn-group ml-auto" role="group">
          <button class="mr-2" [ngClass]="getButtonClass(msgColor)" (click)="closeMessageBtnClick()"><span><i class="fas fa-reply-all"></i></span></button>
        </div>        
      </div>     
    </div>
  </div>