<!-------------------------------- SELECT MANY VR LIST ---------------------------------------------------------------------->
<div class="card bg-enterDate text-primary rounded border border-primary" *ngIf="showSelects">
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-enterDate rounded border border-primary">      
      <a class="navbar-brand text-primary bg-enterDate rounded ">
          {{selectTitle1}} <i class="fas fa-arrow-alt-circle-right"></i>  
      </a> 
      <a class="navbar-brand text-primary  mx-auto bg-enterDate rounded ">
          {{selectTitle2}}  
      </a>         
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="saveSelectedValueRecordBtnClick()">
          <i class="fas fa-save"></i></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="closeSelectValueRecordListModalBtnClick()"><i class="fas fa-reply-all"></i></button>
      </div>  
    </nav>
    <div class="card-body">
      <div class="text-center" ng-if="!dateMessage">{{selectMessage}}</div>
      <div [formGroup]="selectRecordForm">
<!--    <div class="form-row">
          <label for="oneDate" class="col-4 col-form-label">{{formLabels.selectOneDate}}</label>
          <div class="col-4">
            <input id="oneDate" name="oneDate" class="form-control" formControlName="oneDate" 
                    placeholder="Datepicker" bsDatepicker [bsConfig]="selectDatePickerConfig"
                    [value]="oneDate | date: 'dd-MM-yyyy'" type="text" style="width:300px" > 
            <validation-messages [control]="selectRecordForm.get('oneDate')"></validation-messages> 
          </div>
        </div> -->
        <div class="form-row" *ngIf="selectOption === 0 || selectOption === 1">
          <label for="dateRange" class="col-4 col-form-label">{{formLabels.selectDateRange}}</label>
          <div class="col-4">
            <input id="dateRange" name="dateRange" class="form-control" formControlName="dateRange" 
                    placeholder="Daterangepicker" bsDaterangepicker [bsConfig]="selectDatePickerConfig"
                    [value]="dateRange | date: 'dd-MM-yyyy'" type="text" style="width:300px" >  <!--
            <validation-messages [control]="selectRecordForm.get('dateRange')"></validation-messages>  -->
          </div>
        </div>
        <div class="form-row" *ngIf="selectOption === 1">
          <label for="maqBName" class="col-4 col-form-label">{{formLabels.selectMaqB}}</label>
          <div class="col-4">
            <select id="maqBName" name="maqBName" class="form-control" formControlName="maqBName"
                    appSelectValidator="{{localMaqBRecordList[0].value}}" style="width:300px;direction:rtl;">
              <option *ngFor="let maqBName of localMaqBRecordList" [value]="maqBName.value" style="direction:ltr"> {{maqBName.value}} </option>
            </select>  <!--
            <validation-messages [control]="selectRecordForm.get('provName')"></validation-messages>    -->
          </div>
        </div>  
        <div class="form-row" *ngIf="selectOption === 0">
          <label for="provName" class="col-4 col-form-label">{{formLabels.selectProv}}</label>
          <div class="col-4">
            <select id="provName" name="provName" class="form-control" formControlName="provName"
                    appSelectValidator="{{localProvsRecordList[0].value}}" style="width:300px;direction:rtl;">
              <option *ngFor="let provName of localProvsRecordList" [value]="provName.value" style="direction:ltr"> {{provName.value}} </option>
            </select>  <!--
            <validation-messages [control]="selectRecordForm.get('provName')"></validation-messages>    -->
          </div>
        </div>      
        <div class="form-row" *ngIf="selectOption === 0">
          <label for="factType" class="col-4 col-form-label">{{formLabels.selectFactType}}</label>
          <div class="col-4">
            <select id="factType" name="factType" class="form-control" formControlName="factType"
                    appSelectValidator="{{localFactTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
              <option *ngFor="let factType of localFactTypesRecordList" [value]="factType.value" style="direction:ltr"> {{factType.value}} </option>
            </select>   <!--
            <validation-messages [control]="selectRecordForm.get('factType')"></validation-messages>    --> 
          </div>
        </div>          
        <div class="form-row" *ngIf="selectOption === 0">
          <label for="payType" class="col-4 col-form-label">{{formLabels.selectPayType}}</label>
          <div class="col-4">
            <select id="payType" name="payType" class="form-control" formControlName="payType"
                    appSelectValidator="{{localPayFactTypesRecordList[0].value}}" style="width:300px;direction:rtl;">
              <option *ngFor="let payType of localPayFactTypesRecordList" [value]="payType.value" style="direction:ltr"> {{payType.value}} </option>
            </select>   <!--
            <validation-messages [control]="selectRecordForm.get('payType')"></validation-messages>    --> 
          </div>
        </div>       
        <div class="form-row" *ngIf="selectOption === 0">
          <label for="factOrNote" class="col-4 col-form-label">{{formLabels.selectFactOrNote}}</label>
          <div class="col-4">
            <select id="factOrNote" name="factOrNote" class="form-control" formControlName="factOrNote"
                    appSelectValidator="{{localFactOrNoteRecordList[0].value}}" style="width:300px;direction:rtl;">
              <option *ngFor="let factOrNote of localFactOrNoteRecordList" [value]="factOrNote.value" style="direction:ltr"> {{factOrNote.value}} </option>
            </select>   <!--
            <validation-messages [control]="selectRecordForm.get('factOrNote')"></validation-messages>    -->
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">   
      <div ng-if="!selectFooter"> <p>{{selectFooter}}</p> </div>        
    </div>       
  </div>