<div class ="container">
  <div class="row" >
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark" [style.top.px]="globalVar.topData">
          <div class="card-header">Login</div>
          <div class="card-body">
              <form ng-submit="">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="txt" class="form-control" ng-model="username" id="username">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" ng-model="password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <button class="btn btn-default" ui-sref="register">Register</button>
              </form>
          </div>
        </div>
      </div>
  </div>
</div>
