<!--------------------------------MONTHS ---HDS LIST---------------------------------------------------------------------->
<div class="row">
  <div class="col"> 
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-hds rounded border border-primary">
      <a class="navbar-brand text-primary bg-hds rounded">
         {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
         {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
         {{formTitles.monthEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>          
      <a class="navbar-brand text-danger bg-hds rounded" style="font-size:16px;font-weight:900">{{monthsHdsTotalString | slice:0:25}}</a>  
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-success rounded mx-1" (click)="selectMonthsHdsNameBtnClick()"><span><i class="far fa-window-restore"></i></span></button>      
        <button class="btn btn-outline-info rounded mx-1" (click)="selectMonthsHdsTypeBtnClick()"><span><i class="far fa-window-restore"></i></span></button>
        <button class="btn btn-outline-warning rounded mx-1" (click)="selectMonthsHdsPlaceBtnClick()"><span><i class="far fa-window-restore"></i></span></button>           
      </div> 
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="closeMonthHdsModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
      </div>  
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded" (click)="searchMonthHdsBtnClick()"> <span> <i class="fas fa-eye"></i></span> </button>
      </div> 
    </nav>
    <div class="card bg-white text-black rounded border border-dark">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="bg-hds" *ngIf="showSearchMonthHds"> 
              <th>-</th>
              <th><input id="shdId"     name="shdId"     [(ngModel)]="searchMonthHds.hdId"    type="text" 
                  class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
              <th><input id="shdDate"   name="shdDate"   [(ngModel)]="searchMonthHds.hdDate"  type="text" 
                  class="input-group-text mr-auto" style="width:70px;text-align:left;"></th> 
              <th><input id="shdName"   name="shdName"   [(ngModel)]="searchMonthHds.hdName"  type="text" 
                  class="input-group-text mr-auto" style="width:100px;text-align:left;"></th>
              <th><input id="shdType"  name="shdType"    [(ngModel)]="searchMonthHds.hdType"  type="text" 
                  class="input-group-text ml-auto" style="width:70px;text-align:right;"></th>
              <th><input id="shdPlace"  name="shdPlace"  [(ngModel)]="searchMonthHds.hdPlace" type="text" 
                  class="input-group-text ml-auto" style="width:70px;text-align:right;"></th>
              <th><input id="shdAmount" name="shdAmount" [(ngModel)]="searchMonthHds.hdAmount" type="text" 
                  class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
              <th><input id="shdNotes"  name="shdNotes"  [(ngModel)]="searchMonthHds.hdNotes" type="text" 
                  class="input-group-text ml-auto" style="width:50px;text-align:right;"></th>
              <th><input id="shdOrder"  name="shdOrder"  [(ngModel)]="searchMonthHds.hdOrder" type="text" 
                  class="input-group-text ml-auto" style="width:50px;text-align:right;"></th> 
              <th><input id="shdSatus"  name="shdSatus"  [(ngModel)]="searchMonthHds.hdSatus" type="text" 
                  class="input-group-text mx-auto" style="width:50px;text-align:center;"></th>            
            </tr>
            <tr class="bg-listheading"> 
              <th>{{formLabels.id | slice:0:10}}</th> 
              <th [class.active]="orderMonthHdsList === 'hdId'" (click)="setOrderMonthsHdBtnClick('hdId')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdId       | slice:0:10}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>
              <th [class.active]="orderMonthHdsList === 'hdDate'" (click)="setOrderMonthsHdBtnClick('hdDate')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdDate     | slice:0:20}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>             
              <th [class.active]="orderMonthHdsList === 'hdName'" (click)="setOrderMonthsHdBtnClick('hdName')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdName     | slice:0:25}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>  
              <th [class.active]="orderMonthHdsList === 'hdType'" (click)="setOrderMonthsHdBtnClick('hdType')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdType     | slice:0:20}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th> 
              <th [class.active]="orderMonthHdsList === 'hdPlace'" (click)="setOrderMonthsHdBtnClick('hdPlace')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdPlace    | slice:0:20}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>
              <th [class.active]="orderMonthHdsList === 'hdAmount'" (click)="setOrderMonthsHdBtnClick('hdAmount')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdAmount   | slice:0:15}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>
              <th [class.active]="orderMonthHdsList === 'hdNotes'" (click)="setOrderMonthsHdBtnClick('hdNotes')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdNotes    | slice:0:20}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>
              <th [class.active]="orderMonthHdsList === 'hdOrder'" (click)="setOrderMonthsHdBtnClick('hdOrder')" 
                  class="mdl-data-table__cell--non-numeric">      {{formLabels.hdOrder    | slice:0:15}}
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th>
              <th [class.active]="orderMonthHdsList === 'hdStatus'" (click)="setOrderMonthsHdBtnClick('hdStatus')" 
                  class="mdl-data-table__cell--non-numeric">
                  <i class="fas fa-lock"></i>&nbsp;<i class="fas fa-unlock-alt"></i>
                  <span [hidden]="!reverseMonthHdsList">▼</span>  <span [hidden]="reverseMonthHdsList">▲</span> </th> 
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let monthHd of hdsMonth | orderBy: orderMonthHdsList:reverseMonthHdsList:caseInsensitive | filterBy: searchMonthHds ; let i = index">
              <td class="text-right"> {{i  | number:'1.0-0'}}</td>
              <td class="text-right"> {{monthHd.hdId    | number:'1.0-0'}}</td>
              <td class="text-left text-primary">   {{monthHd.hdDate | date:'dd-MM-yyyy'}}</td> 
              <td class="text-left text-success" style="font-weight:900"> {{monthHd.hdName | slice:0:25}}</td>
              <td class="text-right text-info">     {{monthHd.hdType  | slice:0:20}}</td>
              <td class="text-right text-warning">  {{monthHd.hdPlace | slice:0:20}}</td>
              <td class="text-right" style="font-weight:900">   {{monthHd.hdAmount | number:'.2-2'}}</td>
              <td class="text-right">  {{monthHd.hdNotes | slice:0:20}}</td>
              <td class="text-right">  {{monthHd.hdOrder | number:'1.0-0'}}</td>
              <td *ngIf="monthHd.hdStatus"><i class="fas fa-unlock-alt"></i></td>
              <td *ngIf="!monthHd.hdStatus"><i class="fas fa-lock"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
