<!--------------------------------MONTHS SHOW ROW --- BANK CAJA RET --- DIN START -- DIN COUNT -------------------------------------->
<div class="row" *ngIf="showMonthDinStart">
  <nav class="col navbar navbar-expand-lg navbar-light text-primary bg-arts rounded border border-primary">
    <a class="navbar-brand text-primary bg-arts rounded">
       {{formTitles.monthListYearString}} <i class="fas fa-arrow-alt-circle-right"></i>
       {{formTitles.monthListMonthString}} <i class="fas fa-arrow-alt-circle-right"></i>
       {{formTitles.monthEdit}}<i class="fas fa-long-arrow-alt-right"></i></a>          
    <a class="navbar-brand text-primary bg-arts rounded mx-auto" style="font-size:16px;font-weight:900">
       {{this.formTitles.monthsListDateStart}}<i class="fas fa-long-arrow-alt-right"></i>{{this.formTitles.monthsListDateEnd}}</a> 
    <div class="btn-group mx-auto bg-arts" role="group">
      <button class="btn btn-outline-danger rounded ml-2" (click)="saveMonthDinStartEndBtnClick()"
            [disabled]="monthBankCajaForm.invalid || monthRetForm.invalid"><span><i class="fas fa-save"></i></span></button>          
    </div>
    <a class="navbar-brand text-danger bg-arts rounded" style="font-size:16px;font-weight:900"><i class="fas fa-arrow-alt-circle-right"></i>
      {{totalSupDinMonthRESString | slice:0:35}}</a>  
    <div class="btn-group mx-auto" role="group">
      <button class="btn btn-outline-primary rounded" (click)="closeMonthDinStartModalBtnClick()"><span> <i class="fas fa-reply-all"></i></span></button>
    </div>  
  </nav>
</div>
<div class="row" *ngIf="showMonthDinStart">
  <div class="col card bg-arts text-black rounded border border-success">
    <div class="card-body">      
      <form [formGroup]="monthResTotalForm">
        <div formArrayName="monthResTotalFormArray" *ngFor = "let monthResTotal of monthResTotalFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row"> 
              <div class="pl-2">
                <input [id]="'monthResTotalName'+i" name="monthResTotalName" class="form-control text-danger" 
                        type="text" style="width:100px;font-size:14px;text-align:left;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalName" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalDStart'+i" name="monthResTotalDStart" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalDStart">
              </div>
              <div>
                <input [id]="'monthResTotalTSum'+i" name="monthResTotalTSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalTSum" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalDSum'+i" name="monthResTotalDSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalDSum" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalDRes'+i" name="monthResTotalDRes" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalDRes" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalTCards'+i" name="monthResTotalTCards" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalTCards" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalTFact'+i" name="monthResTotalTFact" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalTFact" readonly>
              </div>
              <div>
                <input [id]="'monthResTotalDEnd'+i" name="monthResTotalDEnd" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:13px;text-align:right;font-weight:900;margin-right:6px;"                           
                        formControlName="monthResTotalDEnd" readonly>
              </div>      
              <div>
                <input [id]="'monthResTotalDCount'+i" name="monthResTotalDCount" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalDCount">
              </div>    
              <div>
                <input [id]="'monthResTotalDDif'+i" name="monthResTotalDDif" class="form-control text-danger" 
                        type="text" style="width:100px;font-size:14px;text-align:right;font-weight:900;margin-right:6px;" 
                        formControlName="monthResTotalDDif">
              </div>                             
            </div>
          </div>
        </div>
      </form>               
    </div>
  </div>
</div>
<div class="row" *ngIf="showMonthDinStart">
  <div class="col card bg-arts text-black rounded border border-success">
    <div class="card-body">
      <div class="card-title text-primary row">     
        <label class="text-danger" style="width:100px;font-size:13px;font-weight:900;text-align:center;margin-right:6px;">{{formLabels.monthBCName    | slice:0:20}}</label> 
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDStart    | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTSum      | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthBankCajaDSum | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthBankCajaDRes | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTCards    | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTFact     | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDEnd      | slice:0:10}}</label>        
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDCont     | slice:0:10}}</label>
        <label class="text-danger" style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTotalDDif | slice:0:15}}</label>
      </div>         
      <form [formGroup]="monthBankCajaForm">
        <div formArrayName="monthBankCajaFormArray" *ngFor = "let monthBankCaja of monthBankCajaFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row"> 
              <div class="pl-2">
                <input [id]="'monthBankCajaName'+i" name="monthBankCajaName" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:left;font-weight:900;margin-right:6px;" 
                        formControlName="monthBankCajaName" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaDStart'+i" name="monthBankCajaDStart" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthBankCajaDStart">
                <validation-messages [control]="monthBankCaja.get('monthBankCajaDStart')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthBankCajaTSum'+i" name="monthBankCajaTSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaTSum" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaDSum'+i" name="monthBankCajaDSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaDSum" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaDRes'+i" name="monthBankCajaDRes" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaDRes" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaTCards'+i" name="monthBankCajaTCards" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaTCards" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaTFact'+i" name="monthBankCajaTFact" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaTFact" readonly>
              </div>
              <div>
                <input [id]="'monthBankCajaDEnd'+i" name="monthBankCajaDEnd" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:13px;text-align:right;margin-right:6px;"                           
                        formControlName="monthBankCajaDEnd" readonly>
              </div>      
              <div>
                <input [id]="'monthBankCajaDCount'+i" name="monthBankCajaDCount" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthBankCajaDCount">
                <validation-messages [control]="monthBankCaja.get('monthBankCajaDCount')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthBankCajaDDif'+i" name="monthBankCajaDDif" class="form-control text-danger" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        formControlName="monthBankCajaDDif" readonly>
              </div>                            
            </div>
          </div>
        </div>
      </form>               
    </div>
  </div> 
</div>
<div class="row" *ngIf="showMonthDinStart">      
  <div class="col card bg-arts text-black rounded border border-success">
    <div class="card-body">
      <div class="card-title text-primary row">      
        <label class="text-danger" style="width:100px;font-size:14px;font-weight:900;text-align:center;margin-right:6px;">{{formLabels.monthRetName   | slice:0:20}}</label> 
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDStart | slice:0:10}}</label>
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTSum   | slice:0:10}}</label>
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDSum   | slice:0:10}}</label>
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDRes   | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTCards | slice:0:10}}</label>
        <label style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTFact  | slice:0:10}}</label>
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDEnd   | slice:0:10}}</label>
        <label style="width:100px;font-size:14px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResDCont  | slice:0:10}}</label>
        <label class="text-danger" style="width:100px;font-size:13px;font-weight:900;text-align:right;margin-right:6px;">{{formLabels.monthResTotalDDif | slice:0:15}}</label>
      </div>         
      <form [formGroup]="monthRetForm">
        <div formArrayName="monthRetFormArray" *ngFor = "let monthRet of monthRetFormArray.controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-row"> 
              <div class="pl-2">
                <input [id]="'monthRetName'+i" name="monthRetName" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:left;font-weight:900;margin-right:6px;" 
                        formControlName="monthRetName" readonly>
              </div>
              <div>
                <input [id]="'monthRetDStart'+i" name="monthRetDStart" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthRetDStart">
                <validation-messages [control]="monthRet.get('monthRetDStart')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthRetTSum'+i" name="monthRetTSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        formControlName="monthRetTSum" readonly>
              </div>
              <div>
                <input [id]="'monthRetDSum'+i" name="monthRetDSum" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        formControlName="monthRetDSum" readonly>
              </div>
              <div>
                <input [id]="'monthRetDRes'+i" name="monthRetDRes" class="form-control text-primary"                  
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        formControlName="monthRetDRes" readonly>
              </div>
              <div style="width:100px;margin-right:6px;" >
              </div>
              <div style="width:100px;margin-right:6px;" >
              </div>
              <div>
                <input [id]="'monthRetDEnd'+i" name="monthRetDEnd" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;"                           
                        formControlName="monthRetDEnd" readonly>
              </div>      
              <div>
                <input [id]="'monthRetDCount'+i" name="monthRetDCount" class="form-control text-primary" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        (blur) = "setNumberDecimal($event)" 
                        formControlName="monthRetDCount">
                <validation-messages [control]="monthRet.get('monthRetDCount')" style="width:80px;font-size:8px;text-align:left"></validation-messages>   
              </div>
              <div>
                <input [id]="'monthRetDDif'+i" name="monthRetDDif" class="form-control text-danger" 
                        type="text" style="width:100px;font-size:14px;text-align:right;margin-right:6px;" 
                        formControlName="monthRetDDif">
              </div>                                              
            </div>
          </div>
        </div>
      </form>  
    </div>
  </div>              
</div>  