<!--------------------------------MAQS CREATE AND EDIT---NAVBAR---------------------------------------------------------------------->
<div class="row">  
  <div class="col">    
    <nav class="navbar navbar-expand-lg navbar-light text-primary bg-maqs rounded border border-primary">
      <a class="navbar-brand text-primary bg-maqs rounded" *ngIf="formTitles.maqsTitle">{{formTitles.maqsTitle}}<i class="fas fa-arrow-alt-circle-right"></i></a>
      <a class="navbar-brand text-primary bg-maqs rounded" *ngIf="createMaqFlag">{{formTitles.maqCreate}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-primary bg-maqs rounded" *ngIf="!createMaqFlag">{{formTitles.maqEdit}}<i class="fas fa-arrow-right"></i></a>       
      <a class="navbar-brand text-danger  bg-maqs rounded"  style="font-weight:900" *ngIf="formTitles.maqsName">{{formTitles.maqsName | slice:0:10}}<i class="fas fa-arrow-right"></i></a>
      <a class="navbar-brand text-danger  bg-maqs rounded"  style="font-size:16px;font-weight:900" *ngIf="formTitles.maqsDate">{{formTitles.maqsDate}}</a>
      <div class="btn-group mr-auto" role="group"> 
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="createMaqFlag" (click)="createMaqBtnClick(maqRecForm)" 
                  [disabled]="maqRecForm.invalid"> <span><i class="fas fa-save"></i></span> </button>        
        <button class="btn btn-outline-primary rounded mr-2" *ngIf="!createMaqFlag" (click)="updateMaqBtnClick(maqRecForm)" 
                  [disabled]="maqRecForm.invalid"> <span><i class="fas fa-edit"></i></span> </button>  
        <button class="btn btn-outline-primary rounded mr-2" (click)="changeShowMaqsListBtnClick()"><span><i class="fas fa-list-ol"></i></span> </button>   
      </div>   
      <div class="btn-group mx-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="ClosedMaqCreateModalBtnClick()"><span><i class="fas fa-reply-all"></i></span> </button>
      </div>
      <div class="btn-group ml-auto" role="group">
        <button class="btn btn-outline-primary rounded mr-2" (click)="changeCoinsInputBtnClick()">
          <span><i *ngIf="!coinsInputDinFlag" class="fas fa-toggle-on"></i><i *ngIf="coinsInputDinFlag" class="fas fa-toggle-off"></i></span>
        </button>           
        <button class="btn btn-outline-primary rounded mr-2" (click)="cleanFormMaqBtnClick()"><span><i class="fas fa-eraser"></i></span> </button>           
      </div> 
    </nav>
    <div class="row" *ngIf="showMaqsList">
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-listheading">
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdDate   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdName   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.hdAmount | slice:0:8}}</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor = "let maqRecHd of maqRecHdsList.slice(0,10) ; let i = index">
                      <td class="text-left text-primary" style="font-weight:900"> {{maqRecHd.hdDate | date:'dd-MM-yyyy'}}</td>
                      <td class="text-left">  {{maqRecHd.hdName | slice:0:8}}</td>
                      <td class="text-right"> {{maqRecHd.hdAmount   | number:'.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-listheading">
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdDate   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdName   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.hdAmount | slice:0:8}}</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor = "let maqRecHd of maqRecHdsList.slice(10,20) ; let i = index">
                      <td class="text-left text-primary" style="font-weight:900"> {{maqRecHd.hdDate | date:'dd-MM-yyyy'}}</td>
                      <td class="text-left">  {{maqRecHd.hdName | slice:0:8}}</td>
                      <td class="text-right"> {{maqRecHd.hdAmount   | number:'.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-listheading">
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdDate   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdName   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.hdAmount | slice:0:8}}</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor = "let maqRecHd of maqRecHdsList.slice(20,30) ; let i = index">
                      <td class="text-left text-primary" style="font-weight:900"> {{maqRecHd.hdDate | date:'dd-MM-yyyy'}}</td>
                      <td class="text-left">  {{maqRecHd.hdName | slice:0:8}}</td>
                      <td class="text-right"> {{maqRecHd.hdAmount   | number:'.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-white text-black rounded border border-dark">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-listheading">
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdDate   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-left"> {{formLabels.hdName   | slice:0:8}}</th>
                      <th class="mdl-data-table__cell--non-numeric text-right"> {{formLabels.hdAmount | slice:0:8}}</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor = "let maqRecHd of maqRecHdsList.slice(30,40) ; let i = index">
                      <td class="text-left text-primary" style="font-weight:900"> {{maqRecHd.hdDate | date:'dd-MM-yyyy'}}</td>
                      <td class="text-left">  {{maqRecHd.hdName | slice:0:8}}</td>
                      <td class="text-right"> {{maqRecHd.hdAmount   | number:'.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]=maqRecForm>
      <div class="card bg-white text-black rounded border border-dark">
        <div class="card-body">
          <div class="row">
            <div class="col px-0 py-0 my-0">
              <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
                <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formTitles.maqsTitle | slice:0:60}}</a>
              </nav>                           
              <div class="card bg-white text-black rounded border border-dark">
                <div class="card-body"> 
                  <div class="form-row">
                    <label for="maqId" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqId}}</label>
                    <div class="col">
                      <input id="maqId" name="maqId" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqId" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqMaqBName" class="col col-form-label text-primary px-0 mx-1 py-0 mt-0 mb-1">{{formLabels.maqMaqBName}}</label>
                    <div class="col">
                      <input id="maqMaqBName" name="maqMaqBName" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqMaqBName" 
                              type="text"  style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqStartDate" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqStartDate}}</label>
                    <div class="col">
                      <input id="maqStartDate" name="maqStartDate" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqStartDate" 
                              type="text"  style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqEndDate" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqEndDate}}</label>
                    <div class="col">
                      <input id="maqEndDate" name="maqEndDate" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqEndDate" 
                              type="text"  style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div> 
                </div> 
              </div>                                      
            </div>
            <div class="col px-0 py-0 my-0">
              <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
                <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.dinCounters | slice:0:60}}</a>
              </nav>                           
              <div class="card bg-white text-black rounded border border-dark">
                <div class="card-body"> 
                  <div class="form-row">
                    <label for="maqMechCounterRecDin" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqMechCounterRecDin}}</label>
                    <div class="col">
                      <input id="maqMechCounterRecDin" name="maqMechCounterRecDin" class="form-control ml-auto text-primary bg-maqsCoins px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqMechCounterRecDin" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqEletrCounterRecDin" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqElecCounterRecDin}}</label>
                    <div class="col">
                      <input id="maqEletrCounterRecDin" name="maqEletrCounterRecDin" class="form-control ml-auto text-primary bg-maqsCoins px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqEletrCounterRecDin" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqPartCounterRecDin" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.maqPartCounterRecDin}}</label>
                    <div class="col">
                      <input id="maqPartCounterRecDin" name="maqPartCounterRecDin" class="form-control ml-auto text-primary bg-maqsCoins px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqPartCounterRecDin" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqDinEnd" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.dinEnd}}</label>
                    <label for="maqDinEnd" class="col col-form-label text-danger px-0 py-0 mx-1 mt-0 mb-1">{{difDinCntMecDinEnd | number:'.2-2'}}</label>
                    <div class="col">
                      <input id="maqDinEnd" name="maqDinEnd" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqDinEnd" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col px-0 py-0 my-0">
              <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
                <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.dinAdded | slice:0:60}}</a>
              </nav>                           
              <div class="card bg-white text-black rounded border border-dark">
                <div class="card-body"> 
                  <div class="form-row">
                    <label for="maqDinAdded" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.dinAdded}}</label>
                    <div class="col">
                      <input id="maqDinAdded" name="maqDinAdded" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqDinAdded" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqCoinDiffDin" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.diffCoins}}</label>
                    <div class="col">
                      <input id="maqCoinDiffDin" name="maqCoinDiffDin" class="form-control ml-auto text-primary bg-maqsCounters px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqCoinDiffDin" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqDaysDiffDin" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.diffDays}}</label>
                    <div class="col">
                      <input id="maqDaysDiffDin" name="maqDaysDiffDin" class="form-control ml-auto text-primary bg-maqsDiffDays px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqDaysDiffDin" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="maqDinEnd" class="col col-form-label text-primary px-0 py-0 mx-1 mt-0 mb-1">{{formLabels.dinEnd}}</label>
                    <div class="col">
                      <input id="maqDinEnd" name="maqDinEnd" class="form-control ml-auto text-primary px-0 py-0 mx-1 mt-0 mb-1" formControlName="maqDinEnd" 
                              type="text" style="height:25px;width:150px;font-size:20px;text-align:right;font-weight:900;" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-white text-black rounded border border-dark px-0 py-0 my-0"> <!--COUNTERS -->
        <div class="row"> <!--COUNTERS -->
          <div class="col px-0 py-0 my-0"> <!--MECH COUNTERS-->  
            <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
              <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.maqMechCounter | slice:0:60}}</a>
            </nav>                           
            <div class="card bg-white text-black rounded border border-dark">
              <div class="card-body"> 
                <div class="row">
                  <div class="col px-0"> <!--MECH LABELS-->    
                    <div class="form-row"><label for="maqId" class="col-form-label text-danger mt-0 mb-1 ml-2 mr-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:center;">
                      {{formLabels.maqMechCounter | slice:0:0}}</label></div>                                          
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterInputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterOutputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterDrawer | slice:0:3}}</label></div>
                  </div>
                  <div class="col px-0">  <!--MECH START-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterStart | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqMechCounterInStart" name="maqMechCounterInStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterInStart" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterInStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterOutStart" name="maqMechCounterOutStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterOutStart" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterOutStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterDrawStart" name="maqMechCounterDrawStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterDrawStart" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterDrawStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--MECH END-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                              {{formLabels.maqCounterEnd | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqMechCounterInEnd" name="maqMechCounterInEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterInEnd" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterInEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterOutEnd" name="maqMechCounterOutEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterOutEnd" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterOutEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterDrawEnd" name="maqMechCounterDrawEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" 
                              formControlName="maqMechCounterDrawEnd" type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterDrawEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--MECH DIFF-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDiff | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqMechCounterInDiff" name="maqMechCounterInDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqMechCounterInDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterInDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterOutDiff" name="maqMechCounterOutDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqMechCounterOutDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterOutDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterDrawDiff" name="maqMechCounterDrawDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqMechCounterDrawDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterDrawDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--MECH DIN-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDin | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqMechCounterInDin" name="maqMechCounterInDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqMechCounterInDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterInDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterOutDin" name="maqMechCounterOutDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqMechCounterOutDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterOutDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqMechCounterRecDin" name="maqMechCounterRecDin" class="form-control text-primary bg-maqsCoins mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqMechCounterRecDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqMechCounterRecDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="col px-0 py-0 my-0"> <!--ELECTR COUNTERS-->
            <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
              <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.maqEletrCounter | slice:0:60}}</a>
            </nav>                           
            <div class="card bg-white text-black rounded border border-dark">
              <div class="card-body"> 
                <div class="row">
                  <div class="col px-0"> <!--ELECTR LABELS-->    
                    <div class="form-row"><label for="maqId" class="col-form-label text-danger mt-0 mb-1 ml-2 mr-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:center;">
                      {{formLabels.maqEletrCounter | slice:0:0}}</label></div>                                          
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterInputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterOutputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterDrawer | slice:0:3}}</label></div>
                  </div>
                  <div class="col px-0">  <!--ELECTR START-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterStart | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqEletrCounterInStart" name="maqEletrCounterInStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterInStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterInStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterOutStart" name="maqEletrCounterOutStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterOutStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterOutStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterDrawStart" name="maqEletrCounterDrawStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterDrawStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterDrawStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--ELECTR END-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterEnd | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqEletrCounterInEnd" name="maqEletrCounterInEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterInEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterInEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterOutEnd" name="maqEletrCounterOutEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterOutEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterOutEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterDrawEnd" name="maqEletrCounterDrawEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterDrawEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterDrawEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--ELECTR DIFF-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDiff | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqEletrCounterInDiff" name="maqEletrCounterInDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterInDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterInDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterOutDiff" name="maqEletrCounterOutDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterOutDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterOutDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterDrawDiff" name="maqEletrCounterDrawDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqEletrCounterDrawDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterDrawDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--ELECTR DIN-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDin | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqEletrCounterInDin" name="maqEletrCounterInDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqEletrCounterInDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterInDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterOutDin" name="maqEletrCounterOutDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqEletrCounterOutDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterOutDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqEletrCounterRecDin" name="maqEletrCounterRecDin" class="form-control text-primary bg-maqsCoins mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqEletrCounterRecDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqEletrCounterRecDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="col px-0 py-0 my-0">  <!--PARTIAL COUNTERS-->
            <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
              <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.maqPartCounter | slice:0:60}}</a>
            </nav>                           
            <div class="card bg-white text-black rounded border border-dark">
              <div class="card-body"> 
                <div class="row">
                  <div class="col px-0"> <!--PARTIAL LABELS-->    
                    <div class="form-row"><label for="maqId" class="col-form-label text-danger mt-0 mb-1 ml-2 mr-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:center;">
                      {{formLabels.maqPartCounter | slice:0:0}}</label></div>                                          
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterInputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterOutputs | slice:0:3}}</label></div>
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:50px;font-size:20px;text-align:right;">
                      {{formLabels.maqCounterDrawer | slice:0:3}}</label></div>
                  </div>
                  <div class="col px-0">  <!--PARTIAL START-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterStart | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqPartCounterInStart" name="maqPartCounterInStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterInStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterInStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterOutStart" name="maqPartCounterOutStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterOutStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterOutStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterDrawStart" name="maqPartCounterDrawStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterDrawStart" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterDrawStart')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--PARTIAL END-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterEnd | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqPartCounterInEnd" name="maqPartCounterInEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterInEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterInEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterOutEnd" name="maqPartCounterOutEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterOutEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterOutEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterDrawEnd" name="maqPartCounterDrawEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterDrawEnd" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterDrawEnd')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--PARTIAL DIFF-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDiff | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqPartCounterInDiff" name="maqPartCounterInDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterInDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterInDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterOutDiff" name="maqPartCounterOutDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterOutDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterOutDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterDrawDiff" name="maqPartCounterDrawDiff" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqPartCounterDrawDiff" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterDrawDiff')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--PARTIAL DIN-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:60px;font-size:20px;text-align:right;margin-left:0px;">
                      {{formLabels.maqCounterDin | slice:0:3}}</label></div>
                    <div class="form-row">
                      <input id="maqPartCounterInDin" name="maqPartCounterInDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqPartCounterInDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterInDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterOutDin" name="maqPartCounterOutDin" class="form-control text-primary mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqPartCounterOutDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterOutDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqPartCounterRecDin" name="maqPartCounterRecDin" class="form-control text-primary bg-maqsCoins mt-0 mb-1 mr-2 ml-0 px-0" formControlName="maqPartCounterRecDin" 
                              type="text" style="height:25px;width:70px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqPartCounterRecDin')" style="width:50px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="card bg-white text-black rounded border border-dark px-0 py-0 my-0"> <!--COINS-->
        <div class="row"> <!--COINS-->
          <div class="col px-0 py-0 mx-0 my-0"> <!--COINS START-->  
            <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
              <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.maqCoinsStart | slice:0:60}}</a>
            </nav>                           
            <div class="card bg-white text-black rounded border border-dark">
              <div class="card-body"> 
                <div class="row">
                  <div class="col px-3"> <!--COIN LABELS-->    
                    <div class="form-row"><label class="col-form-label text-danger mt-0 mb-1 ml-2 mr-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;">
                      {{formLabels.maqCoinCoins | slice:0:0}}</label></div>                                          
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin1 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin2 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin3 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin4 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin5 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin6 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoinsTotal | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-success mt-0 mb-1 ml-2 px-0" style="height:25px;width:200px;font-size:17px;text-align:right;">
                      {{formLabels.diffDaysStart | slice:0:30}}</label></div>
                  </div>
                  <div class="col px-0">  <!--COIN START-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;margin-left:0px;">
                      {{formLabels.maqCoinCoins | slice:0:10}}</label></div>
                    <div class="form-row">
                      <input id="maqCoin1Start" name="maqCoin1Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin1Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin1Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin2Start" name="maqCoin2Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin2Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin2Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin3Start" name="maqCoin3Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin3Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin3Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin4Start" name="maqCoin4Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin4Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin4Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin5Start" name="maqCoin5Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin5Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin5Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin6Start" name="maqCoin6Start" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin6Start" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin6Start')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoinTotStart" name="maqCoinTotStart" class="form-control text-primary bg-maqsCounters mt-0 mb-1 mx-0 px-0" formControlName="maqCoinTotStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoinTotStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--COIN DIN-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;margin-left:0px;">
                      {{formLabels.maqCoinDin | slice:0:10}}</label></div>
                    <div class="form-row">
                      <input id="maqCoin1DinStart" name="maqCoin1DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin1DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin1DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin2DinStart" name="maqCoin2DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin2DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin2DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin3DinStart" name="maqCoin3DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin3DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin3DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin4DinStart" name="maqCoin4DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin4DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin4DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin5DinStart" name="maqCoin5DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin5DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin5DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin6DinStart" name="maqCoin6DinStart" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin6DinStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin6DinStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoinDinTotStart" name="maqCoinDinTotStart" class="form-control text-primary bg-maqsCounters mt-0 mb-1 mx-0 px-0" formControlName="maqCoinDinTotStart" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoinDinTotStart')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqDayStartDin" name="maqDayStartDin" class="form-control text-primary bg-maqsDiffDays mt-0 mb-1 mx-0 px-0" formControlName="maqDayStartDin" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqDayStartDin')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="col px-0 py-0 mx-0 my-0"> <!--COINS END-->  
            <nav class="navbar navbar-expand-lg navbar-light bg-maqs rounded border border-primary px-0 py-0 my-0">
              <a class="navbar-brand text-primary bg-maqs rounded mx-auto">{{formLabels.maqCoinsEnd | slice:0:60}}</a>
            </nav>                           
            <div class="card bg-white text-black rounded border border-dark">
              <div class="card-body"> 
                <div class="row">
                  <div class="col px-3"> <!--COIN LABELS-->    
                    <div class="form-row"><label class="col-form-label text-danger mt-0 mb-1 ml-2 mr-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;">
                      {{formLabels.maqCoinCoins | slice:0:0}}</label></div>                                          
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin1 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin2 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin3 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin4 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin5 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoin6 | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-primary mt-0 mb-1 ml-2 px-0" style="height:25px;width:100px;font-size:20px;text-align:right;">
                      {{formLabels.maqCoinsTotal | slice:0:8}}</label></div>
                    <div class="form-row"><label class="col-form-label text-success mt-0 mb-1 ml-2 px-0" style="height:25px;width:200px;font-size:17px;text-align:right;">
                      {{formLabels.diffDaysEnd | slice:0:30}}</label></div>
                  </div>
                  <div class="col px-0">  <!--COIN END-->
                    <div class="form-row"><label for="maqCoinCoins" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;margin-left:0px;">
                      {{formLabels.maqCoinCoins | slice:0:10}}</label></div>
                    <div class="form-row">
                      <input id="maqCoin1End" name="maqCoin1End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin1End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin1End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin2End" name="maqCoin2End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin2End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin2End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin3End" name="maqCoin3End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin3End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin3End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin4End" name="maqCoin4End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin4End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin4End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin5End" name="maqCoin5End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin5End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin5End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin6End" name="maqCoin6End" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin6End" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin6End')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoinTotEnd" name="maqCoinTotEnd" class="form-control text-primary bg-maqsCounters mt-0 mb-1 mx-0 px-0" formControlName="maqCoinTotEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoinTotEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                  <div class="col px-0">  <!--COIN DIN END-->
                    <div class="form-row"><label for="maqId" class="col-form-label text-primary mt-0 mb-1 mx-0 px-0" style="height:25px;width:100px;font-size:20px;text-align:center;margin-left:0px;">
                      {{formLabels.maqCoinDin | slice:0:10}}</label></div>
                    <div class="form-row">
                      <input id="maqCoin1DinEnd" name="maqCoin1DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin1DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin1DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin2DinEnd" name="maqCoin2DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin2DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin2DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin3DinEnd" name="maqCoin3DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin3DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin3DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin4DinEnd" name="maqCoin4DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin4DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin4DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin5DinEnd" name="maqCoin5DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin5DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin5DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoin6DinEnd" name="maqCoin6DinEnd" class="form-control text-primary mt-0 mb-1 mx-0 px-0" formControlName="maqCoin6DinEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoin6DinEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqCoinDinTotEnd" name="maqCoinDinTotEnd" class="form-control text-primary bg-maqsCounters mt-0 mb-1 mx-0 px-0" formControlName="maqCoinDinTotEnd" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqCoinDinTotEnd')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                    <div class="form-row">
                      <input id="maqDayEndDin" name="maqDayEndDin" class="form-control text-primary bg-maqsDiffDays mt-0 mb-1 mx-0 px-0" formControlName="maqDayEndDin" 
                              type="text" style="height:25px;width:100px;font-size:15px;text-align:right;">
                      <validation-messages [control]="maqRecForm.get('maqDayEndDin')" style="width:100px;font-size:10px;text-align:left"></validation-messages> 
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
      
    </form>
  </div> 
</div>